<!-- module html  -->
<div class="content-wrapper">
  <div class="ptr_hs-form-bar-section">
    <div class="ptr_hs-form-bar">
      <div class="ptr_hs-form-bar-container">
        {% form
              form_to_use="{{ module.form_field.form_id }}"
              response_response_type="{{ module.form_field.response_type }}"
              response_message="{{ module.form_field.message }}"
              response_redirect_id="{{ module.form_field.redirect_id }}"
              response_redirect_url="{{module.form_field.redirect_url}}"
              gotowebinar_webinar_key="{{ module.form_field.gotowebinar_webinar_key }}"
            %}
      </div>
    </div>

    <div class="ptr_mobile-modals-luncher">
      <div class="ptr_mobile_modal--button-container">
        <div class="ptr_mobile-modal-button">
          <h4>
            {{ module.mobile_view_title.mobile_popup_button_text }}
          </h4>
          <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeLarge" focusable="false" viewBox="0 0 24 24"
               aria-hidden="true">
            <path
                  d="M9.31 6.71c-.39.39-.39 1.02 0 1.41L13.19 12l-3.88 3.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L10.72 6.7c-.38-.38-1.02-.38-1.41.01z">
            </path>
          </svg>
        </div>
      </div>

    </div>
    <div class="ptr_form-modal">
      <div class="ptr_form-modal_container">
        <div class="ptr_hs-form-modal-title-container">
          <h5>{{ module.mobile_view_title.title_text }}</h5>
          <div class="ptr_form-close-button">
            {% icon
                    name="{{ module.mobile_view_title.icon_field.name }}"
                    style="{{ module.mobile_view_title.icon_field.type }}"
                    unicode="{{ module.mobile_view_title.icon_field.unicode }}"
                    icon_set="{{ module.mobile_view_title.icon_field.icon_set }}"
                    %}</div>
        </div>
        <div id="ptr_close-btn"></div>
        <div class="mobile_view-form">
          {% form
                    form_to_use="{{ module.form_field.form_id }}"
                    response_response_type="{{ module.form_field.response_type }}"
                    response_message="{{ module.form_field.message }}"
                    response_redirect_id="{{ module.form_field.redirect_id }}"
                    response_redirect_url="{{module.form_field.redirect_url}}"
                    gotowebinar_webinar_key="{{ module.form_field.gotowebinar_webinar_key }}"
                %}
        </div>

      </div>

    </div>
  </div>
</div>


{% require_js %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgOF85Vyo4tMBschfqiKbwVTlFv_eREPE&libraries=places&callback=initAutocomplete"  defer></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LdzdKsgAAAAAAQ-d-ZfrmAUR4CmQllFe975xBrZ"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  
$(window).on('load', function() {
    $(".ptr_hs-form-bar-container .hs_phone .input").append("<span> +971 -</span>");
    $(".mobile_view-form .hs_phone .input").append("<span> +971 -</span>");

});

    //////////////////////// AutoSuggestion API Start  ////////////////////////

  //     AutoSuggestion API Start Desktop
let data= '';
  $(document).on("click", '.hs-pickup_address', function(e) {  
    const pickupParent= document.querySelector('.hs_pickup_address');
    const pickupChild = pickupParent.querySelector(".hs-input"); 
    initAutocomplete(pickupChild, 'pickup');
  });

  $(document).on("click", '.hs_drop_address', function(e) {  
    const dropoffParent= document.querySelector('.hs-drop_address');
    const dropoffChild = dropoffParent.querySelector(".hs-input"); 
    initAutocomplete(dropoffChild, 'drop');
  });

   $(document).on("click", '.hs-pickup_address', function(e) {  
    const mobileParent = document.querySelector('.mobile_view-form');
    const pickupParent= mobileParent.querySelector('.hs_pickup_address');
    const pickupChild = pickupParent.querySelector(".hs-input"); 
    initAutocomplete(pickupChild,'pickup');
  });

  $(document).on("click", '.hs_drop_address', function(e) {  
    const mobileDropParent = document.querySelector('.mobile_view-form');
    const dropParent= mobileDropParent.querySelector('.hs_drop_address');
    const dropChild = dropParent.querySelector(".hs-input"); 
    initAutocomplete(dropChild, 'drop');
  });
  
  //    AutoSuggestion API Start

  

let lat, lat1;
 let long, long1;
  let fare_estimate_token;
  window.addEventListener('message', event => {
    if(event.data.type === 'hsFormCallback' && event.data.eventName === 'onFormSubmit') {
      var dataEntry =  formData(event.data.data)
      console.log('lat '+lat)
       console.log('long '+long)
      grecaptcha.execute('6LdzdKsgAAAAAAQ-d-ZfrmAUR4CmQllFe975xBrZ', {action: 'submit'}).then(function(token) {
        console.log(token);
        
        fetch("https://porter.ae/fare_estimate_secure?geo_region_id=1&brand=porter&customer_mobile="+dataEntry.mobileNumber+"&customer_name="+dataEntry.userName+"&from_address_landmark="+dataEntry.pickUpAddress+"&from_address_lat="+lat+"&from_address_long="+long+"&to_address_landmark="+dataEntry.dropOffAddress+"&to_address_lat="+lat1+"&to_address_long="+long1+"&user_type=\&frequency=personal", {

          // Adding method type
          method: "POST",
          
          // Adding body or contents to send
          body: JSON.stringify({
            geo_region_id: 1,
            brand: "porter",
            customer_mobile: dataEntry.mobileNumber,
            customer_name: dataEntry.userName,
            from_address_landmark: dataEntry.pickUpAddress,
            from_address_lat: lat,
            from_address_long: long,
            to_address_landmark: dataEntry.dropOffAddress,
            to_address_lat: lat1,
            to_address_long: long1,
            user_type: "/",
            frequency: "personal",
            re_id: token
          }),
          // Adding headers to the request
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        }).then(response => response.json())

        // Displaying results to console
          .then(data => {
           fare_estimate_token = data.response.fare_estimate_token;
          
          fetch("https://porter.ae/website/fare_estimate_validator", {

          // Adding method type
          method: "POST",

          // Adding body or contents to send
          body: JSON.stringify({
            brand: "porter",
            customer_mobile: dataEntry.mobileNumber,
            customer_name: dataEntry.userName,
            from_address_landmark: dataEntry.pickUpAddress,
            from_address_lat: lat,
            from_address_long: long,
            to_address_landmark: dataEntry.dropOffAddress,
            to_address_lat: lat1,
            to_address_long: long1,
            user_type: "/",
            frequency: "personal"
          }),

          // Adding headers to the request
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        })

        // Converting to JSON
          .then(response => response.json())

        // Displaying results to console
          .then(data => {
            window.open(data.fare_estimate_url+"&fare_estimate_token="+fare_estimate_token, "_self");
          });
          });
        });
        }
    });

  const formData = function (data) {
    let pickUpAddress = '';
    let dropOffAddress = '';
    let userName = '';
    let mobileNumber= '';
    let lat_long1 = '';
    let lat_long2 = '';
    for(let i=0;i<data.length;i++) {
      if(data[i].name === 'pickup_address') {
        //lat_long1 = initComplete(data[i].value);
        pickUpAddress = data[i].value;
      } else if (data[i].name === 'drop_address') {
        //lat_long2 = initAutocomplete(data[i].value);
        dropOffAddress = data[i].value;
      }else if (data[i].name === 'phone') {
        mobileNumber = data[i].value;
      }else if (data[i].name === 'address') {
        userName = data[i].value;
      }

    }
    return {pickUpAddress,dropOffAddress,userName,mobileNumber};
  }
  
  //////////////////////// AutoSuggestion API End  ////////////////////////
function initAutocomplete(x, location) {

    var autocomplete = new google.maps.places.Autocomplete(x,{componentRestrictions: {  country: "ae"  }});

    google.maps.event.addListener(autocomplete, 'place_changed', function () {
      var place = autocomplete.getPlace();
     
      
      if(location === 'pickup')
      {
          lat = place.geometry.location.lat();
          long = place.geometry.location.lng();
      } else {
          lat1 = place.geometry.location.lat();
          long1 = place.geometry.location.lng();
      }
    });
    
  }
  //    AutoSuggestion API End








</script>
{% end_require_js %}




{% require_css %}
<style>
  {% scope_css %}

  .ptr_hs-form-bar-container {
    {% if module.styles.background_type=="color"and module.styles.color_field.color %}

    background-color: rgba({{module.styles.color_field.color |convert_rgb}}

    );

    {% elif module.styles.background_type=="gradient"%}
    background: {{ module.styles.gradient_field.css }};

    {% elif module.styles.background_type=="image"%}

    {{ module.styles.backgroundimage_field.css }}

    {% elif module.styles.background_type=="none"and module.styles.color_field.color %}

    background-color: {{ theme.global_colors.primary.color }};

    {% endif %}

  }




  .ptr_hs-form-bar-section{
    {{ module.styles.spacing.desktop_spacing.css }}

  }

  .ptr_form-wrapper input:focus+legend,
  .ptr_form-modal-content input:focus + legend,
  .ptr_mobile-modal-button h4 {
    color: {{ theme.global_colors.primary.color }};
  }

  .ptr_mobile-modal-button svg {
    fill: {{ theme.global_colors.primary.color}};
  }

  .ptr_hs-form-bar-container form .hs-form-field:not(:last-child).focused input::placeholder,
  .mobile_view-formform .hs-form-field:not(:last-child).focused input::placeholder,
  .ptr_hs-form-bar-container .hs-form-field:not(:last-child).focused.hs-fieldtype-phonenumber input::placeholder,  
  .ptr_hs-form-bar-container .hs-fieldtype-text label span,
  .ptr_hs-form-bar-container .hs-fieldtype-phonenumber label span {
    color: {{ module.styles.form_style.input_placeholder_color.color}};
  }

  .ptr_hs-form-bar-container form .hs-fieldtype-phonenumber input::placeholder{
    color: {{ module.styles.form_style.input_placeholder_color.color}};

  }

  .ptr_hs-form-bar-container .hs-fieldtype-text,
  .ptr_hs-form-bar-container .hs-fieldtype-phonenumber,
  .ptr_hs-form-bar-container .actions,
  .ptr_form-modal_container {
    background-color: {{module.styles.form_style.form_bg_color.color }} !important;

  }

  .ptr_hs-form-bar-container form .hs-form-field:not(:last-child).focused label span{
    font-size: 12px;
    padding: 0;
    color: {{ theme.global_colors.primary.color }};
  }

  
  .ptr_hs-form-bar-container form .legal-consent-container {
    background-color: {{ module.styles.form_style.consent_input_color.color }} ;
  }

  .ptr_consent_input-wrapper label {
    color: {{ module.styles.form_style.consent_input_text_color.color }}
  }

  @media(max-width: 767px) {
    .ptr_form-bar-section {
      {{ module.styles.spacing.mobile_spacing.css }}
    }
  }

  @media(max-width:992px) {
    .ptr_hs-form-bar {
      display: none;
    }

    .mobile_view-form form .input input:focus {
      border: 2px solid {{ theme.global_colors.primary.color}} !important;

    }
    .mobile_view-form form .hs-form-field:not(:last-child).focused label span{
    font-size: 12px;
    padding: 0;
    color: {{ theme.global_colors.primary.color }};
  }
  .mobile_view-form form .hs-form-field:not(:last-child).focused input::placeholder {
    color: {{ module.styles.form_style.input_placeholder_color.color}};
  }

  
  .mobile_view-form form .hs-fieldtype-phonenumber input::placeholder{
    color: {{ module.styles.form_style.input_placeholder_color.color}};

  }
  
  }

  {% end_scope_css %}
  

  </style>
{% end_require_css %}




