{% set loopCount = '' %}
<div class="resourceSection {{ module.style.container_style.select_container_sizes }}  fullwidth">
  <div class="wrapper">
     <button class="resoPrev"></button>
     <button class="resoNext"></button>
    <div class="resourceInner">
      <div class="resourceTitle text-center">
        <h3>{{ module.title }}</h3>
      </div>
      <div class="resourceSlider">
      {% for item in module.slider.slide %}
        <div class="resourceSlide">          
          <div class="reSlideBG" style="background-image:url({{ item.background_image.src }});">
            <div class="reSlideContent">
             <div class="reSlideConInn">
              <h4>{{ item.title }}</h4>
              <div class="reSlideText">
                {{ item.slide_content }}
              </div>
              <div class="reSlideButton">
                {% set href = item.button_link.url.href %}
                  {% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                  {% endif %}
                  {% set rel = [] %}
                  {% if item.button_link.no_follow %}
                    {% do rel.append("nofollow") %}
                  {% endif %}
                  {% if item.button_link.open_in_new_tab %}
                    {% do rel.append("noopener") %}
                  {% endif %}
                  <a href="{{ href }}"
                    {% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
                    {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
                    >
                    {{ item.button_text }}
                  </a>
              </div>
              </div>
            </div>
          </div>
        </div>
        {% set loopCount = loop.length %}
        {% endfor %}
      </div>
    </div>
  </div>
</div {{loopCount}}>




{% require_js %}

   <script>
    $(document).ready(function(){
     
      
      $('.resourceSlider').each(function(key, item) {

          var sliderIdName = 'resourceSlider' + key;
          var sliderPrevIdName = 'resoPrev' + key;
          var sliderNextIdName = 'resoNext' + key;
          
          
          this.id = sliderIdName;
          $('.resoPrev')[key].id = sliderPrevIdName;
          $('.resoNext')[key].id = sliderNextIdName;
          
          
          var sliderId = '#' + sliderIdName;
          var slidernext = '#' + sliderNextIdName;
          var sliderprev = '#' + sliderPrevIdName;

          $(sliderId).slick({
            centerMode: true,
            centerPadding: '10px',
            slidesToShow: 3,
            focusOnSelect: true,
            slidesToScroll: 1,
            dots: false,
            infinite: true,
            arrows: true,
            nextArrow:slidernext,
            prevArrow:sliderprev,
            autoplaySpeed:3000,  
            speed:900,
            responsive: [
              {
                breakpoint: 991,
                settings: {
                  slidesToShow: 1,
                  dots: true,
                  arrows: false,
                }
              }
            ]


          });

        });

      
    }); 
      
   </script>

{% end_require_js %}


{% require_css %}
  <style>
  {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto; }
  #hs_cos_wrapper_{{ name }} .resourceInner { max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .resourceInner { width:100%; max-width: 1240px; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .resourceInner { width:100%; max-width: 1000px; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .resourceInner { width:100%; max-width: 775px; margin: 0 auto; }
  {% endif %}
  
   #hs_cos_wrapper_{{ name }}  .resourceSection {
     {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}
     {% if module.style.background_style.select_background  == 'back_color' %}
     background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
     {% elif module.style.background_style.select_background  == 'back_image' %}
     {{ module.style.background_style.backgroundimage_field.css }}
     
     {% endif %}
     
   }
   {% if module.style.color_style.hide_show_content_bg_color %}
	
  .reSlideConInn { 
    background-color:rgba({{ module.style.color_style.content_background_color.color|convert_rgb }},{{ module.style.color_style.content_background_color.opacity }}%);
    padding:10px;
  }
 
{% endif %}
  
  
  
  #hs_cos_wrapper_{{ name }} .reSlideContent h4 { color:{{ module.style.color_style.slider_title_color.color }}; }
  #hs_cos_wrapper_{{ name }} .reSlideText, #hs_cos_wrapper_{{ name }} .reSlideText p { color:{{ module.style.color_style.text_content_color.color }}  !important; }
  #hs_cos_wrapper_{{ name }} .reSlideButton a { color:{{ module.style.color_style.slider_button_text_color.color }}; }      
  #hs_cos_wrapper_{{ name }} .resourceTitle  h3 { color:{{ module.style.color_style.main_title_color.color }}; }  
  
  
  #hs_cos_wrapper_{{ name }} .resourceSection:before { 
    {% if  module.style.top_half_bg_option.select_options == 'bg_color' %}
    background-color:rgba({{ module.style.top_half_bg_option.backgroun_color.color|convert_rgb }},{{ module.style.top_half_bg_option.backgroun_color.opacity }}%);
    {% elif  module.style.top_half_bg_option.select_options == 'bg_image' %}
    {{ module.style.top_half_bg_option.backgroundimage_field_1.css }}
    {% elif  module.style.top_half_bg_option.select_options == 'gradient' %}
    background:{{ module.style.top_half_bg_option.gradient_field.css }}
    {% endif %}
  
  }
    
    
  @media(max-width: 992px){
    #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
    #hs_cos_wrapper_{{ name }} .resourceInner { max-width:100%; margin: 0 auto; }
    {% elif module.style.container_style.select_container_sizes == 'normal' %}
    #hs_cos_wrapper_{{ name }} .resourceInner { width:100%; max-width: 100%; margin: 0 auto; }
    {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
    #hs_cos_wrapper_{{ name }} .resourceInner { width:100%; max-width: 100%; margin: 0 auto; }
    {% elif module.style.container_style.select_container_sizes == 'narrow' %}
    #hs_cos_wrapper_{{ name }} .resourceInner { width:100%; max-width: 100%; margin: 0 auto; }
  }
    
  @media(max-width:767px){
  
  #hs_cos_wrapper_{{ name }}  .resourceSection {
     {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}
   
   }
  
  }
  
  </style>

{% end_require_css %}











