
.reSlideButton a  { position: relative; font-family: 'freight-sans-pro' !important;    font-weight: 700;background: linear-gradient(to left, #ff8300 50%, #e57500 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;  }
.reSlideButton a:hover {background-position:left; }
.reSlideButton a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%;    transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #fff;    opacity: 1;    transition: all ease-in-out .3s;background: linear-gradient(to right, #fff, #fff 50%, #fff 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.reSlideButton a:hover:before { opacity: 1; visibility: visible; right:-25px;background-position:left; }

.resourceSection .wrapper { position: relative; }

.resourceSection button.slick-arrow { background-color: transparent;    border: 0;    font-size: 0;    position: absolute;    top: 60%;    transform: translateY(-50%);    width: 30px;    height: 50px;    padding: 0;     display: -webkit-flex !important;    -webkit-align-items: center;    -webkit-justify-content: center;    display: flex !important;    align-items: center;    justify-content: center;    cursor: pointer; }
.resourceSection button.resoPrev.slick-arrow { left:0px; }
.resourceSection button.resoNext.slick-arrow { right:0px; }
.resourceSection button.resoPrev.slick-arrow:before { content: "";    background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/left-arrow.png);    background-repeat: no-repeat;    width: 18px;    height: 51px;    position: absolute;    background-size: contain;    background-position: center;    }
.resourceSection button.resoNext.slick-arrow:before { content: "";    background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/right-arrow.png);    background-repeat: no-repeat;    width: 18px;    height: 51px;    position: absolute;    background-size: contain;    background-position: center;    }

.resourceSection.normal button.resoPrev.slick-arrow { left:-30px; }
.resourceSection.normal button.resoNext.slick-arrow { right:-30px; }

.resourceSlider .slick-center .reSlideBG { transform: scale(1.1) !important; }
.row-fluid .resourceTitle h3 { margin: 0 0 40px;    font-weight: 600; }
.resourceSection { position: relative;  z-index: 1; }
.resourceSlider .slick-slide .reSlideBG { transform: scale(0.7); transition: all ease-in-out .5s;box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.35); }
.resourceSection:before { content: "";    min-height: 300px;    position: absolute;    top: 0;    left: 0;    width: 100%; z-index: -1; }
.reSlideBG {  background-size: cover; background-repeat: no-repeat;     background-position: center; }
.reSlideContent { padding: 130px 30px 30px; transition: all ease-in-out .5s; min-height:390px;display:flex; align-items:end; }

.reSlideConInn {opacity:0;}
.slick-center .reSlideConInn {opacity:1;transition: all ease-in-out .5s;}
.row-fluid .reSlideContent h4 { font-size: 21px; line-height: 26px;   font-weight: 700; }
.reSlideText, .reSlideText p { font-size: 21px;    line-height: 26px !important;    font-weight: 700; } 
.resourceSlider .slick-center .reSlideBG .reSlideContent { padding: 60px 30px;  }
.resourceSlider .slick-track { /*min-height: 570px;*/    display: flex;    align-items: center;    display: -webkit-flex;    -webkit-align-items: center; }


@media(min-width:992px){
.resourceSection.wide button.resoPrev.slick-arrow { left:20px; }
.resourceSection.wide .resourceInner { padding:0 40px; }
.resourceSection.wide button.resoNext.slick-arrow {  right:20px; }


}

@media(max-width:1320px){
.resourceInner { padding: 0 30px; }
.resourceSection button.resoPrev.slick-arrow, .resourceSection.normal button.resoPrev.slick-arrow { left:15px; top: 70%; }
.resourceSection button.resoNext.slick-arrow, .resourceSection.normal button.resoNext.slick-arrow { right:15px; top: 70%; }


}



@media(max-width:991px){
 .resourceSlider { padding: 0; }
 .resourceSlider .slick-slide .reSlideBG { transform: none !important; }
 .reSlideContent { padding: 100px 20px 30px !important; }
 .resourceSlider ul.slick-dots { margin: 30px 0 0; text-align: center; }
 .resourceSlider ul.slick-dots button { display: none; }
 .resourceSlider ul.slick-dots li.slick-active { background-color: #ff8300;    border-color: #ff8300; }
 .resourceSlider ul.slick-dots li { height: 20px;    width: 20px;    border: 2px solid #333;    border-radius: 50%;    display: inline-block; }
 .resourceSlider ul.slick-dots li ~ li { margin-left: 10px; }
 .resourceInner { width: 100% !important; padding: 0; }
 .resourceSection button.resoPrev, .resourceSection button.resoNext { display:none; }
 
 
  
}
