<div class="SepakerSec fullwidth">
	<div class="background"></div>
	<div class="wrapper">
		<div class="SpeakerOuter">
			<div class="SpeakerInner ">
      	<h2>{{ module.header }}</h2>
        {% for item in module.about %}
				<div class="SpeakerItems wow {{ module.style.animation_style.animation_type }}"
					data-wow-duration="{{ module.style.animation_style.speed }}s">
				<div class="Speakers flexwrap">
        <div class="speakerImg">
        		<img src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}" >
        </div>
					<div class="speakerText"> {{ item.content }} </div>
				</div>     
        </div>
				{% endfor %}
        <div id="form" class="under-speaker-content">
        <h2>{{ module.form_header }}</h2>
       <div class="SpeakerForm wow {{ module.style.animation_style.animation_type }}"
					data-wow-duration="{{ module.style.animation_style.speed }}s" id="download">
      
       {% form
	form_to_use="{{ module.form_field.form_id }}"
	response_response_type="{{ module.form_field.response_type }}"
	response_message="{{ module.form_field.message }}"
	response_redirect_id="{{ module.form_field.redirect_id }}"
	response_redirect_url="{{module.form_field.redirect_url}}"
	gotowebinar_webinar_key="{{ module.form_field.gotowebinar_webinar_key }}"
%}
</div>
          </div>
			</div>
		</div>
	</div>
</div>

{% require_css %}
  <style>
    .row-fluid  .SepakerSec
     { 
      background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
      {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}
      }
 .background {
      background-color:rgba({{ module.style.background_style.background_color_one.color|convert_rgb }},{{ module.style.background_style.background_color_one.opacity }}%);
     }
     .row-fluid  .SepakerSec .SpeakerInner { 
      background-color:rgba({{ module.style.background_style.wrapper_background_color.color|convert_rgb }},{{ module.style.background_style.wrapper_background_color.opacity }}%);
      }
      #hs_cos_wrapper_{{ name }}  .SpeakerInner h2 { color:{{ module.style.color_style.title_color.color }}; }
      #hs_cos_wrapper_{{ name }} p  { color: {{ module.style.color_style.text_color.color }} !Important; }
      
       {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; }
      #hs_cos_wrapper_{{ name }} .SpeakerOuter { width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:1240px; }
      {% elif module.style.container_style.select_container_sizes == 'semi-narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:1000px;}
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:775px }
      {% endif %}
      
      .row-fluid #hs_cos_wrapper_{{ name }} .SepakerSec .SpeakerInner {  margin-top: {{ module.style.section_positioning }}px;}
      @media(max-width:992px){
       {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; }
      #hs_cos_wrapper_{{ name }} .SpeakerOuter { width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; }
      {% elif module.style.container_style.select_container_sizes == 'semi-narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%;}
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; }
      {% endif %}
      
      }
      
      .privacy-launch {display:none;}

     @media(max-width:767px){
     .row-fluid .SepakerSec { {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }} }
     }

  </style>

{% end_require_css %}




