.SpeakerItems { width: 100%;  padding-top: 30px; margin: 0 0 30px;     padding-left: 60px; padding-right: 60px;}
.under-speaker-content {padding-top:100px;}
.SpeakerForm { width: 100%; margin: 0 0 30px;     padding-left: 60px;padding-right: 60px;}
.SpeakerInner { margin: 0 -22px; padding:70px; }
.row-fluid .speakerTitle h5 { color: #fff;  font-weight: 600;    font-size: 21px;    line-height: normal; }
.row-fluid .speakerText  { color: #222222;    font-size: 18px;    line-height: 20px;    font-weight: 400;    font-family: 'freight-sans-pro'; margin: 0; text-align:left;}
.row-fluid .SepakerSec { overflow: hidden; }
.row-fluid .speakerImg {width:25%;}
  .row-fluid .speakerImg img{  width: 75%;}
.row-fluid .speakerText { width: 75%;}
.row-fluid  .SpeakerInner h2 { padding-left:60px;}
.background{height:700px}

@media(max-width:991px) { 
.SpeakerItems { width: 100%;    padding: 20px; padding-top: 30px;   text-align: center; } 
.SpeakerInner { margin: 0;padding:30px 0px; }
.row-fluid .speakerTitle h3, .row-fluid .speakerText h4, .row-fluid .speakerTitle h2 { text-align: center; }
.row-fluid  .SpeakerInner h2 { padding-left:20px;}    
.under-speaker-content {padding-top:20px;}
} 

.row-fluid .SpeakerForm form textarea,
.row-fluid .SpeakerForm form input[type="text"], 
.row-fluid .SpeakerForm form input[type="number"], 
.row-fluid .SpeakerForm form input[type="email"], 
.row-fluid .SpeakerForm form input[type="tel"],
.row-fluid .SpeakerForm form select { font-size: 18px; line-height: 28px; color: #222; width:100%; border:none; border-bottom: 1px solid #D0CFCD; width: 100% !important;    margin: 0 !important;     background-color: #fff; font-family: 'Noto Sans' !important; padding: 8px 0px; box-shadow: none !important; }
.row-fluid .SpeakerForm form textarea::placeholder,
.row-fluid .SpeakerForm form input[type="text"]::placeholder, 
.row-fluid .SpeakerForm form input[type="number"]::placeholder, 
.row-fluid .SpeakerForm form input[type="email"]::placeholder, 
.row-fluid .SpeakerForm form input[type="tel"]::placeholder,
.row-fluid .SpeakerForm form select::placeholder { color:#222; }
.row-fluid .SpeakerForm form .hs-input.error::placeholder { color: #f00; }
.row-fluid .SpeakerForm form select { background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/black-drop.png); background-repeat: no-repeat;    background-position: center right 10px; background-size: 12px;    padding: 10px 30px 10px 0px; }
.row-fluid .SpeakerForm form .hs-input.error { border-color: #f00; }
.row-fluid .SpeakerForm form .hs-form-field  {display: inline-block;    margin: 0 0 50px;    float: none !important;    padding: 0 !important; }
.row-fluid .SpeakerForm form .legal-consent-container { margin: 0 0 20px; }
.row-fluid .SpeakerForm form .legal-consent-container .hs-form-field { margin: 0 !important; }
.row-fluid .SpeakerForm form .legal-consent-container .hs-form-field .input { margin: 0 !important; }
.row-fluid .SpeakerForm form .input { margin: 0 !important; }
.row-fluid .SpeakerForm form fieldset.form-columns-2 .field.hs-form-field { width: 50%;    padding: 0 5px; }
.row-fluid .SpeakerForm form fieldset { max-width: 100% !important; }
.row-fluid .SpeakerForm form .inputs-list .hs-input { width: auto !important; display:none;  }
.row-fluid .SpeakerForm form .inputs-list label > span p { font-size: 16px;    line-height: 28px !important;    font-weight: 400; color: #222 !important; }
.row-fluid .SpeakerForm form .inputs-list label > span { font-size: 16px;    line-height: 28px;    font-weight: 400; color: #222; position: relative; padding-left: 25px; margin-left: 0px; display: inline-block; cursor:pointer; }
.row-fluid .SpeakerForm form .inputs-list label > span:before { border-radius: 3px; position: absolute; content: '';   left: 0;   top: 4px;    width: 15px;    height: 15px;   border:1px solid #222;       display: flex;    flex-wrap: wrap;    align-items: center;    justify-content: center;    display: -webkit-flex;    -webkit-flex-wrap: wrap;    -webkit-align-items: center;    -webkit-justify-content: center; }
.row-fluid .SpeakerForm form .inputs-list label > span:after { content: ""; border-right: 2px solid #fff;    border-bottom: 2px solid #fff;    width: 3px;    height: 7px;    transform: rotate(45deg);    position: absolute;    left: 6px;    top: 7px; opacity: 0;    visibility: visible;}
.row-fluid .SpeakerForm form .inputs-list .hs-input:checked+span:after { opacity:1; visibility:visible; }
.row-fluid .SpeakerForm form .inputs-list .hs-input:checked+span:before { background-color:#002e6d; }
.row-fluid .SpeakerForm form .hs-form-field > label > span { font-family: 'Noto Sans' !important;    font-size: 16px;    font-weight: 500;    color: #222;    margin: 0 !important;    display: inline-block; }
.row-fluid .SpeakerForm form .inputs-list li { margin: 0 0 5px; }
.row-fluid .SpeakerForm form .hs-form-field > label > span:empty { display: none; }
.row-fluid .SpeakerForm form textarea { min-height: 100px; }
.row-fluid .SpeakerForm form .hs-richtext, .row-fluid .SpeakerForm form .hs-richtext p { color: #222 !important;    font-family: 'Noto Sans' !important;    font-weight: 400;    font-size: 16px;  }
.row-fluid .SpeakerForm form .hs-richtext a { display: inline;    font-size: 16px;    font-weight: 400; vertical-align: baseline; }
.row-fluid .SpeakerForm form input.hs-button.primary.large {  color: #fff; background-color: #ff8300 !important; border-radius: 0 !important; border: 0;    padding: 10px 30px !important;    min-height: auto;    font-family: 'freight-sans-pro' !important;    font-weight: 700 !important;    text-transform: uppercase;    white-space: normal;    display: inline-block !important;    box-sizing: border-box; background: linear-gradient(to left,#ff8300 50%,#e57500 50%) right;transition: all ease-in-out .3s;background-size: 200%;}
.row-fluid .SpeakerForm form input.hs-button.primary.large:hover{background-position: left;}
.row-fluid .SpeakerForm form label.hs-error-msg { font-family: 'Noto Sans' !important;    color: #f00;    font-weight: 400;    margin: 5px 0;    display: inline-block;    font-size: 14px; }
.row-fluid .SpeakerForm .hs-form-field > label { margin: 6px 0 6px 10px;    display: inline-block;    float: left;    vertical-align: middle; }
.row-fluid .SpeakerForm .field.hs-form-field .input { display: block;  box-sizing: border-box;  float: initial;   vertical-align: middle;  }
/*.row-fluid .SpeakerForm ul.no-list.hs-error-msgs.inputs-list { display: none !important; }*/
.row-fluid .form-title:empty { display: none; }
.row-fluid .SpeakerForm form  textarea { border: 1px solid #D0CFCD ; min-height: 160px; padding-right: 20px; padding-left: 20px;}
.row-fluid .SpeakerForm form  {width:100% !important;}
.row-fluid .SpeakerForm form .hs-fieldtype-textarea{width:100% !important;margin: 0 0 27px !important;}
.row-fluid .SpeakerForm .hs-form-field>label{margin-left:19px}
.row-fluid .SpeakerForm form .hs-fieldtype-checkbox {margin: 0 0 30px !important;}
.row-fluid .SpeakerForm form .hs-recaptcha {margin: 0 0 37px !important;}

@media(max-width:767px){
   .row-fluid .SpeakerForm form fieldset.form-columns-2, .row-fluid .SpeakerForm form fieldset.form-columns-3 { margin: 0;    max-width: inherit !important; }
   .row-fluid .SpeakerForm form fieldset.form-columns-2 .field.hs-form-field, .row-fluid .SpeakerForm form fieldset.form-columns-3 .field.hs-form-field { width: 100%;    padding:0; }
   .row-fluid .SpeakerForm form .hs-form-field { width: 100% !important; margin: 0 0 10px; }
   .row-fluid .SpeakerForm .hs-form-field > label { width: 100%;    margin: 0 0 5px; }
   .row-fluid .SpeakerForm .field.hs-form-field .input { width: 100%;    margin: 0 !important; }
.form-column h2 {margin-left: 0px !important; }
.row-fluid .SpeakerForm form .hs-richtext, .row-fluid .SpeakerForm form .hs-richtext p {  margin-left:0px; }
.row-fluid .SpeakerForm .hs-form-field>label{margin-left:0px}
.row-fluid .speakerImg {width:100%;}
.row-fluid .speakerText { width: 100%; margin-top:30px;}
.row-fluid .SpeakerForm form .hs_submit {margin-left:0px;}
.row-fluid .speakerImg img {
    width: 60%;
}
}
