


progress {
top:100px;
  width: 100%;
  position: fixed;
  height: 4px;
  appearance: none;
  background-color: #f2f2f2;
  border: none;
  color: #ff8300;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: #ff8300;
}

progress::-moz-progress-bar {
  background-color: #ff8300;
}


@media (max-width:992px) {
progress {
    top: 93px !important;}
}