<div class="altvia_card-module">
<div class="altvia_section">
<div class="altvia_page-center">
<div class= "altvia_card">
{% for item in module.card_text_content %}
<div class = "altvia_card-wrapper">  
<div class= "altvia_card-img">
{% if item.card_image.src %}
<img src="{{ item.card_image.src }}" alt="{{ item.card_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
{% endif %}  
</div>   
<div class= "altvia_card-text">
<div class="altvia_card-title">
{{ item.card_title }}
</div>
<div class="altvia_card-sub_text">
{{ item.card_sub_text }}
</div>
</div>
</div>
{% endfor %}
</div>
</div>
</div>
</div>

{% require_css %}
<style>

.altvia_card-module{
  {% if module.style.background_type.background_type == "color" and module.style.background_type.background_color.color %}
   background-color: {{ module.style.background_type.background_color.color }}
  {% elif module.style.background_type.background_type == "gradient" %}
  background: {{ module.style.background_type.background_gradient.css }};
  {% elif module.style.background_type.background_type == "image" %}
 {{module.style.background_type.backgroundimage_field.css}};  
  {% endif %} 
}

  
</style>
{% end_require_css %}