@font-face {
  font-family: 'SourceSerifPro-Bold';  
  src: url('https://4260505.fs1.hubspotusercontent-na1.net/hubfs/4260505/Lp-2023/SourceSerifPro-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-VariableFont';  
  src: url('https://4260505.fs1.hubspotusercontent-na1.net/hubfs/4260505/Lp-2023/Inter-VariableFont_slnt%2cwght.ttf') format('truetype');
}
@font-face {
  font-family: 'SourceSerifVariable-Roman';  
  src: url('https://4260505.fs1.hubspotusercontent-na1.net/hubfs/4260505/Lp-2023/SourceSerifVariable-Roman.otf') format('truetype');
}


body {
margin:0px;
font-family: 'Inter-VariableFont';
}

a{
  cursor:pointer;
}

.altvia_section{
padding: 60px 0;
max-width: 1440px;
margin: 0 auto;
}


.altvia_page-center {
padding-right:60px;
padding-left:60px;
}

@media(max-width:767px){
.altvia_page-center {
    padding-left: 20px;
    padding-right: 20px;
}
}


.altvia_card {
  display: flex;
  gap: 20px;
  width: 100%;
  text-align: center;
}

.altvia_card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}

.altvia_card-text {
  padding: 35px;
}

.altvia_card-title {
  padding: 0px 0px 15px;
  font-family:SourceSerifVariable-Roman;
  font-size: 30px;
  font-weight:700;
  line-height: 35px;
  color: #263238;
}

.altvia_card-sub_text {
  padding: 0px 25px;
  font-family:Inter-VariableFont;
  font-size:18px;
  color: #263238;
}

.altvia_card-img {
  width: 180px;
  height: 150px;
}

.altvia_card-img img{
  max-width: 100%;
  max-height: 100%;
}

@media(max-width:992px){
  .altvia_card {
    flex-wrap: wrap;
    gap: 40px;
  }
}

