.twocuImgtxtInner {   padding: 89px; display:flex; margin-top:-200px; }
.Inner-image{width:50%;     }
.InnerContent{width:50%;}
.twocuImgtxtInner .InnerContent .twocuImgtxtButton {margin-bottom:20px;}
.twocuImgtxtOuter {   padding: 89px; display:flex;}
.Outer-image{width:50%;    text-align: center;}
.Outer-Content{width:50%;}

/*
.twocuImgtxtButton a:hover {  color: #ff8300; background-position:0; }
.twocuImgtxtButton a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%; transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #fff;   transition: all ease-in-out .3s; }
.twocuImgtxtButton a:hover:before { opacity: 1;    visibility: visible; right:-30px; }
.twocuImgtxtButton a {    font-family: 'freight-sans-pro' !important;    position: relative;    font-weight: 700;       text-transform: uppercase; }
.twocuImgtxtButton { margin: 20px 0 0; }
*/
.twocuImgtxtButton a { font-family: 'freight-sans-pro' !important;  position: relative;  font-weight: 700;  padding: 0 10px 0 0;   text-transform: uppercase;background: linear-gradient(to left, #ff8300 50%, #222 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; } 
.twocuImgtxtButton a:hover, .row-fluid .mcisItem:hover .mcisButton a:hover {    background-position:left; }
.twocuImgtxtButton a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%; transform: translateY(-50%);    right: -15px;    font-family: fontawesome;    color: #fff;    opacity: 1;    visibility: visible; transition: all ease-in-out .3s; background: linear-gradient(to right, #222, #222 50%, #222 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.twocuImgtxtButton a:hover:before, .row-fluid .mcisItem:hover .mcisButton a:hover:before { opacity: 1;    visibility: visible; right:-20px;background-position:left; }
.twocuImgtxtButton { margin: 20px 0 0; }

.row-fluid .twocuImgtxtInner h3 { font-weight: 600; font-size: 28px; line-height: 38px; }
.twocuImgtxtflex {display:flex;}
.twocuImgtxtflex .blank {width:50%;}
.twocuImgtxtflex .twocuImgtxtContent {width:50%;    padding: 89px 89px 89px 0px;}
@media(max-width:992px){.twocuImgtxtflex .blank{width: 0;} .twocuImgtxtflex .twocuImgtxtContent{width: 100%;} .twocuImgtxtOuter, .twocuImgtxtInner{padding: 40px 20px;}}
@media(max-width:767px){
 .twocuImgtxtInner { padding: 20px 0; }
 .twocuImgtxtflex {display:block;}
.twocuImgtxtflex .blank {width:100%;}
.twocuImgtxtflex .twocuImgtxtContent {width:100%;}
.twocuImgtxtInner {   padding: 30px; display:block; margin-top:-200px; }
.Inner-image{width:100%;  text-align: center; }
.InnerContent{width:100%;}
.twocuImgtxtInner .InnerContent .twocuImgtxtButton {margin-bottom:20px;}
.twocuImgtxtOuter {   padding: 30px; display:block;}
.Outer-image{width:100%;    text-align: center;}
.Outer-Content{width:100%;}
.twocuImgtxtButton a:before {right: 41px;}
.twocuImgtxtflex .twocuImgtxtContent .twocuImgtxtButton a:before { right: -20px ;}
.twocuImgtxtflex .twocuImgtxtContent  {   padding: 20px; display:block;}
}

@media(min-width:768px) and (max-width:1024px) {
.twocuImgtxtflex .twocuImgtxtContent { padding-left:20px;}
.InnerContent { padding-left:20px;}
}