<div class="twocuImgtxtImage fullwidth">
  <div class="wrapper">
    <div class="twocuImgtxtflex">
      <div class="blank"></div>
      <div class="twocuImgtxtContent">
        {{ module.first_section_content.richtext_field }}
        {% if module.first_section_content.button_link.url.href != '' || module.first_section_content.button_name != '' %}
        <div class="twocuImgtxtButton">
          {% set href = module.first_section_content.button_link.url.href %}
          {% if module.first_section_content.button_link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
          {% endif %}
           <a href="{{ href }}"
          {% if module.first_section_content.button_link.open_in_new_tab %}target="_blank"{% endif %}
          {% if module.first_section_content.button_link.rel %}rel="{{ module.first_section_content.button_link.rel }}"{% endif %}
          >{{ module.first_section_content.button_name }}
           </a>
         </div>
       {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="twocuImgtxtSection fullwidth">
  <div class="wrapper">
    <div class="twocuImgtxtInner">
     <div class="Inner-image">	
      <img loading="lazy" src="{{ module.content.image.src }}" alt="{{ module.content.image.alt }}">
     </div>
    <div class="InnerContent">
      {% if module.content.title %}
        <h2>{{ module.content.title }}</h2>
      {% endif %}
      {% if module.content.sub_text %}
      <div class="twocuImgtxtText">
        {{ module.content.sub_text }}
      </div>
      {% endif %}
      <div class="twocuImgtxtButton">
       {% set href = module.content.button_link.url.href %}
        {% if module.content.button_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}
        {% set rel = [] %}
        {% if module.content.button_link.no_follow %}
          {% do rel.append("nofollow") %}
        {% endif %}
        {% if module.content.button_link.open_in_new_tab %}
          {% do rel.append("noopener") %}
        {% endif %}
        <a href="{{ href }}"
          {% if module.content.button_link.open_in_new_tab %}target="_blank"{% endif %}
          {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
          >
          {{ module.content.button_text }}
        </a>
      </div>
       <p>{{ module.content.Sub_text_2 }}</p>
      </div>
    </div>
    <div class="twocuImgtxtOuter">
    <div class="Outer-Content">
      {% if module.third_section_content.title %}
        <h2>{{ module.third_section_content.title }}</h2>
      {% endif %}
      {% if module.third_section_content.description %}
      <div class="twocuImgtxtText">
        {{ module.third_section_content.description }}
      </div>
      {% endif %}
      </div>
      <div class="Outer-image">
        <img loading="lazy" src="{{ module.third_section_content.image.src }}" alt="{{ module.third_section_content.image.alt }}">
      </div>
    </div>
  </div>
</div>
{% require_css %}
   <style>
   
    #hs_cos_wrapper_{{ name }}  .twocuImgtxtSection {  
      {{ module.style.spacing_style.spacing_top_bottom.css }}
      
      {% if module.background_style.background_options == 'back_image' %}
       background-image:url({{ module.background_style.background_image.src }});
       {% if module.background_style.parallax_on_off %}
        background-attachment: fixed;
        {% endif %}
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      {% elif module.background_style.background_options == 'back_color' %}
       background-color:rgba({{ module.background_style.background_color.color|convert_rgb }},{{ module.background_style.background_color.opacity }}%);
      {% endif %}
      
      

  }
  {% if module.first_section_content.top_image.src %}
  #hs_cos_wrapper_{{ name }} .twocuImgtxtImage { background-image:url({{ module.first_section_content.top_image.src }});
{% if module.first_section_content.top_image_parallax_on_off %}
        background-attachment: fixed;
        {% endif %}
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
 }
 .twocuImgtxtImage { min-height: 694px;   width: 100%; }
 {% endif %}
   #hs_cos_wrapper_{{ name }} .twocuImgtxtInner { background-color:rgba({{ module.style.content_style.content_background_color.color|convert_rgb }},{{ module.style.content_style.content_background_color.opacity }}%); }   
   #hs_cos_wrapper_{{ name }} .twocuImgtxtInner h2 { color:{{ module.style.content_style.title_color.color }}; }
   #hs_cos_wrapper_{{ name }} .twocuImgtxtInner h3 { color:{{ module.style.content_style.sub_title_color.color }}; }
   #hs_cos_wrapper_{{ name }} .twocuImgtxtInner .twocuImgtxtText, #hs_cos_wrapper_{{ name }} .twocuImgtxtInner .twocuImgtxtText p { color:{{ module.style.content_style.sub_text_color.color }} !important; }
   #hs_cos_wrapper_{{ name }} .twocuImgtxtInner .twocuImgtxtButton a { color:{{ module.style.content_style.button_text_color.color }}; }  
   #hs_cos_wrapper_{{ name }} .twocuImgtxtInner .twocuImgtxtButton a:before {  color:rgba( {{ module.style.content_style.button_arrows_color.color|convert_rgb }},{{ module.style.content_style.button_arrows_color.opacity }}%); }
   #hs_cos_wrapper_{{ name }}  .twocuImgtxtContent {color:rgba( {{ module.style.content_style.top_section_content.color|convert_rgb }},{{ module.style.content_style.top_section_content.opacity }}%); }
   #hs_cos_wrapper_{{ name }} .twocuImgtxtContent h2 {color:rgba( {{ module.style.content_style.top_section_content.color|convert_rgb }},{{ module.style.content_style.top_section_content.opacity }}%) !important; }
}

   
    {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .twocuImgtxtInner { width:100%; max-width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .twocuImgtxtInner { width:100%; max-width:1240px; margin: 0 auto; }
       {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .twocuImgtxtInner { width:100%; max-width:1000px; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .twocuImgtxtInner { width:100%; max-width:775px; margin: 0 auto; }
      {% endif %}
   
   
   @media(max-width:992px){
       {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; }
      #hs_cos_wrapper_{{ name }} .twocuImgtxtInner { width:100%; max-width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .twocuImgtxtInner { width:100%; max-width:100%; margin: 0 auto; }
       {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .twocuImgtxtInner { width:100%; max-width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .twocuImgtxtInner { width:100%; max-width:100%; margin: 0 auto; }
      {% endif %}
   }
   
   
   @media(max-width:767px){
   
     #hs_cos_wrapper_{{ name }}  .twocuImgtxtSection, #hs_cos_wrapper_{{ name }}  .twocuImgtxtImage {
     {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}
     
     }
   {% if module.content.top_image.src %}
   .twocuImgtxtImage { min-height: 300px; }
   
   {% endif %}
   
   }  
   </style>
{% end_require_css %}