.richButton a { color: white;    font-size: 16px;    cursor: pointer;    text-transform: uppercase;    font-weight: 700; position: relative;background: linear-gradient(to left, #ff8300 50%, #e57500 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.richButton a:hover {background-position:left;}
.richButton a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%; transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #222;   transition: all ease-in-out .3s; background: linear-gradient(to right, #002e6d, #002e6d 50%, #002e6d 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.richButton a:hover:before { opacity: 1;    visibility: visible; right:-25px;background-position:left; }
.richButton { margin:20px 0 0; }  
.richContent ul {list-style-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Landing%20Page%20Images/Webinar_Mistakes%20Tech%20Companies%20Make/Landing-Pages.png);margin-block-start: 0px;margin-inline-start: 0px;padding-inline-start: 20px;}
.richContent ul li {list-style-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Landing%20Page%20Images/Webinar_Mistakes%20Tech%20Companies%20Make/Landing-Pages.png) !important;line-height: 36px !important;margin-top: 10px;font-size:18px;color: #333 !important;font-family: 'Noto Sans',sans-serif !important;}
@media(max-width:767px){
.richInner { width: 100% !important; }
}