.tcitRight { width: 42%; padding-left: 50px; }
.tcitLeft { width: 58%; }
.tcitContent.true { padding: 40px; }
.tcitButton.with_border a { background-color: transparent;    border: 1px solid white;    color: white;    padding: 10px 10px;    text-align: center;    text-decoration: none;    display: inline-block;    font-size: 16px;    margin: 4px 2px;    cursor: pointer;    text-transform: uppercase;    font-weight: 700; } 
.tcitButton { margin: 20px 0 0; }
.tcitButton.widthout_border a {font-family: 'freight-sans-pro' !important;background: linear-gradient(to left,#fff 50%,#222 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.tcitButton.widthout_border a:hover, .tcitButton.with_border a:hover {background-position: left;}
.tcitButton.widthout_border a:before {transition: all ease-in-out .3s; background: linear-gradient(to right, #222, #222 50%, #222 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.tcitButton.widthout_border a:hover:before {background-position: left;}
.tcitButton.with_border a { transition: all ease-in-out .3s;background: linear-gradient(to left, #ff8300 50%, #222 50%) right; background-size: 200%;%; }
.tcitButton.widthout_border a:hover:before {background-position: left;}
.tcitInner.flexwrap.r_con_l_image { flex-flow: row-reverse;    -webkit-flex-flow: row-reverse; } 
.tcitcImage img { max-width: 120px !important; }
.tcitImages img {overflow:hidden; }
.tcitcImage { margin-left: 40px;    margin-top: 20px; }
.tcitButton a, .tcitButton a:hover { color: #fff;    font-size: 16px;    cursor: pointer;    text-transform: uppercase;    font-weight: 700; position: relative; }
.tcitButton a:hover {background-position:0;}
.tcitButton a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%; transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #222;   transition: all ease-in-out .3s; }
.tcitButton a:hover:before { opacity: 1;    visibility: visible; right:-25px; }
.tcitInnerSec { position: relative;    overflow: hidden; min-height: 450px; }
.tcitContent { padding-bottom: 20px; /*min-height: 450px;*/ }
.tcitInner.flexwrap.r_con_l_image .tcitImages { right: auto;    left: -300px; }
.tcitButton.with_border a:before { display:none; }
.tcitButton a.span:hover {
    color: #222 !important;
}
@media(max-width:991px) { 
 .tcitLeft { width: 100%; }
 .tcitRight { width: 100%;    padding: 30px 0 0; text-align: center; }
 .tcitInner.flexwrap.r_con_l_image { flex-flow: column; -webkit-flex-flow: column; } 
 .tcitImages { position: static;display:flex; }
}

@media(max-width:767px) { 
.tcitContent.true { padding: 20px; }
}

#icitId1 .tcitButton:hover a span.tcitButtonFirst {
    color: #fff;
}