{% for item in module.two_column_content %}
<div id="icitId{{ loop.index }}" class="tcitSection fullwidth">
  <div class="tcitInnerSec fullwidth">
  <div class="wrapper">
    <div class="tcitInnerOuter">
    <div class="tcitInner flexwrap alignCenter {{ item.alignment_option.select_image_text_alignment }} ">
      <div class="tcitLeft">
        <div class="tcitContent {{ item.color_style.content_background_color_hide_show }} ">
          <h2>{{ item.content.title }}</h2>
          <div class="tcitText">
          {{ item.content.sub_text }}
          </div>
          <div class="tcitBottom flexwrap">
          {% if item.content.button_text %}
            <div class="tcitButton {{ item.button_style.button_option }} ">
            {% set href = item.content.button_link.url.href %}
              {% if item.content.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                {% set href = "mailto:" + href %}
              {% endif %}
              {% set rel = [] %}
              {% if item.content.button_link.no_follow %}
                {% do rel.append("nofollow") %}
              {% endif %}
              {% if item.content.button_link.open_in_new_tab %}
                {% do rel.append("noopener") %}
              {% endif %}
              <a href="{{ href }}"
                {% if item.content.button_link.open_in_new_tab %}target="_blank"{% endif %}
                {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
                >
                <span class="tcitButtonFirst">
                   {{ item.content.button_text }}
                </span>
                <span class="tcitButtonSecong">
                   {{ item.content.button_second_text }}
                </span>
                
            </a>
            </div>
            {% endif %}
           {% if item.content.hide_show_content_image %}
            <div class="tcitcImage">
                   {% if item.content.image_field.src %}
                  {% set sizeAttrs = 'width="{{ item.content.image_field.width }}" height="{{ item.content.image_field.height }}"' %}
                  {% if item.content.image_field.size_type == 'auto' %}
                    {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                  {% elif item.content.image_field.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="{{ item.content.image_field.max_width }}" height="{{ item.content.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
                  {% endif %}
                   {% set loadingAttr = item.content.image_field.loading != 'disabled' ? 'loading="{{ item.content.image_field.loading }}"' : '' %}
                  <img src="{{ item.content.image_field.src }}" alt="{{ item.content.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                {% endif %}
            </div>
            {% endif %}
            
          </div>
        </div>
       
      
      
      </div>
      <div class="tcitRight">
      {% if item.content.hide_show_section_image %}
        <div class="tcitImages">
           {% if item.content.section_image.src %}
            {% set sizeAttrs = 'width="{{ item.content.section_image.width }}" height="{{ item.content.section_image.height }}"' %}
            {% if item.content.section_image.size_type == 'auto' %}
              {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
            {% elif item.content.section_image.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ item.content.section_image.max_width }}" height="{{ item.content.section_image.max_height }}" style="max-width: {{ item.content.section_image.max_width }}px; height: auto;"' %}
            {% endif %}
             {% set loadingAttr = item.content.section_image.loading != 'disabled' ? 'loading="{{ item.content.section_image.loading }}"' : '' %}
            <img src="{{ item.content.section_image.src }}" alt="{{ item.content.section_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
        </div>
        {% endif %}
        
      </div>
    </div>
    
    </div>
    
    
  </div>
</div>
</div>
{% endfor %}

{% require_css %}
   <style>
      {% for item in module.two_column_content %}
       #icitId{{ loop.index }} .tcitInnerSec { padding-top:{{ item.spacing_style.padding_top }}px; padding-bottom:{{ item.spacing_style.padding_bottom }}px; }
       
      
        {% if item.color_style.content_background_color_hide_show %}
         #icitId{{ loop.index }} .tcitContent { background-color:rgba({{ item.color_style.content_background_color.color|convert_rgb }},{{ item.color_style.content_background_color.opacity }}%); }
        {% endif %}
        {% if item.background_style.background_option == 'back_image' %}
         #icitId{{ loop.index }} .tcitInnerSec { 
         background-image:url('{{ item.background_style.background_image.src }}');
         {% if item.background_style.parallax_on_off %}
            background-attachment: fixed;
         {% endif %}
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
         }
       {% elif item.background_style.background_option == 'back_color' %}
         #icitId{{ loop.index }} .tcitInnerSec { 
           background-color:rgba({{ item.background_style.background_color.color|convert_rgb }},{{ item.background_style.background_color.opacity }}%);

           }
       
       {% endif %}
         #icitId{{ loop.index }} .tcitContent h2 { color:{{ item.color_style.title_color.color }}; }  
         #icitId{{ loop.index }} .tcitText, #icitId{{ loop.index }} .tcitText p { color:{{ item.color_style.sub_text_color.color }}; }  
         #icitId{{ loop.index }} .tcitButton a span.tcitButtonFirst { color:{{ item.color_style.button_text_color.color }};  }  
         #icitId{{ loop.index }} .tcitButton a span.tcitButtonSecong { color:{{ item.color_style.button_second_text_color.color }};  }  
         #icitId{{ loop.index }} .tcitButton a:before { color:{{ item.color_style.button_arrows_color.color }}; }
         @media(min-width:992px) {
         {% if item.content.select_image_position == 'absolute' %}
           #icitId{{ loop.index }} .tcitImages { position: absolute;    top: {{ item.content.top }}px;    right: {{ item.content.right_side }}px; height: 100%; }
           #icitId{{ loop.index }} .tcitInner.flexwrap.r_con_l_image .tcitImages { right:auto; left:{{ item.content.left }}px; }
         {% elif item.content.select_image_position == 'relative' %}
           #icitId{{ loop.index }} .tcitImages { position: relative;}
         {% endif %}
       }
   {% endfor %}
   
   {% if module.style.container_style.select_container_sizes == 'wide' %}
          #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto; }
          #hs_cos_wrapper_{{ name }} .tcitInnerOuter { width:100%; max-width: 100%; margin: 0 auto; }
          {% elif module.style.container_style.select_container_sizes == 'normal' %}
          #hs_cos_wrapper_{{ name }} .tcitInnerOuter { width:100%; max-width:1240px; margin: 0 auto; }
           {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
          #hs_cos_wrapper_{{ name }} .tcitInnerOuter { width:100%; max-width:1000px; margin: 0 auto; }
          {% elif module.style.container_style.select_container_sizes == 'narrow' %}
          #hs_cos_wrapper_{{ name }} .tcitInnerOuter { width:100%; max-width:775px; margin: 0 auto; }
      {% endif %}
      
      @media(max-width:992px){
       {% if module.style.container_style.select_container_sizes == 'wide' %}
          #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
          #hs_cos_wrapper_{{ name }} .tcitInnerOuter { width:{{ module.style.container_style.add_inner_content_width }}%; margin: 0 auto; }
          {% elif module.style.container_style.select_container_sizes == 'normal' %}
          #hs_cos_wrapper_{{ name }} .tcitInnerOuter { width:100%; max-width:100%; margin: 0 auto; }
           {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
          #hs_cos_wrapper_{{ name }} .tcitInnerOuter { width:100%; max-width:100%; margin: 0 auto; }
          {% elif module.style.container_style.select_container_sizes == 'narrow' %}
          #hs_cos_wrapper_{{ name }} .tcitInnerOuter { width:100%; max-width:100%; margin: 0 auto; }
      {% endif %}
      }
   </style>

{% end_require_css %}