.testiSection .wrapper { position: relative; }
.testiSection button.testPrev.slick-arrow { outline: none;    top: 50%;    position: absolute;    left: 0px;    background-color: transparent;    border: 0;    font-size: 0; padding: 0; cursor: pointer; }
.testiSection button.testPrev.slick-arrow:before { content: "\f053" !important;    top: 0;    font-family: 'FontAwesome';    font-weight: 400;    color: #000;    font-size: 18px;    height: 100%;    width: 60px; }
.testiSection button.testNext.slick-arrow  { outline: none;    top: 50%;    position: absolute;    right:0px;    background-color: transparent;    border: 0;    font-size: 0; padding: 0; cursor: pointer; }
.testiSection button.testNext.slick-arrow:before { content: "\f054" !important;    top: 0;    font-family: 'FontAwesome';    font-weight: 400;    color: #000;    font-size: 18px;    height: 100%;    width: 60px; }

.testiSection.normal button.testPrev.slick-arrow { left:-30px; }
.testiSection.normal button.testNext.slick-arrow { right:-30px; }


.testiSlide.slick-slide { display: flex !important;    display: -webkit-flex !important; flex-wrap: wrap; -webkit-flex-wrap: wrap; }
.vidPop { display: none; }
.testiItem.three_column { width: 33.33%;    position: relative;     padding: 0 8px; }
.testiItem.two_column { width: 62%;    position: relative;     padding: 0 8px; }
.testiItem.two_column.text { width: 38%; }
.testiImage { height: 100%; }
.testiBG { min-height: 300px;   background-size: cover;    background-repeat: no-repeat;    background-position: center;    height: 100%; }
.testiContent { padding: 60px 40px; height: 100%; text-align:left;}
.testiItem.three_column .testiContent { padding: 30px; }
.testiCArrow img { max-width: 60px !important; }
.testiCArrow { position: absolute;    bottom: 20px;    right: 20px; }
.vidpArrow { position: absolute;    top: 0; }
.hublVideo .vidyard-player-container > div { min-height: 400px; }
.vidpArrow { position: absolute;    top: 50%;    transform: translateY(-50%);    left: 100px; } 
.vidpArrow img { max-width: 150px !important; }
.row-fluid .testiContent h3 { text-transform: uppercase;    font-size: 16px;    font-weight: 700; }
.testiText { font-family: 'freight-sans-pro';    margin: 0 0 20px; padding: 5px; }
.testiND .testiName { font-size: 12px;    line-height: 16px;    font-weight: 700;     }
.testiND .testiDesig { font-size: 12px;    line-height: 16px;    font-weight: 400;    }
.youtVideo, .VidVideo { position: relative;    min-height: 300px; }
.youtVideo iframe, .vidVideoInn .vidPopInner iframe, .VidVideo iframe  { position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%; }
.youtVideoInn .vidPopInner, .vidVideoInn .vidPopInner { padding: 0 0 56.25%;    position: relative;    width: 100%;    height: 100%;   }
.fancybox-slide.fancybox-slide--html.fancybox-slide--current { display: flex;    align-items: center;    justify-content: center;    display: -webkit-flex;    -webkit-align-items: center;    -webkit-justify-content: center; }
button.fancybox-close-small:after { transform: rotate(45deg); }
body .fancybox-slide--html .fancybox-close-small { top: -40px;    right: -40px;    padding: 0;    height: 40px;    width: 40px;    display: flex;    align-items: center;    justify-content: center;    display: -webkit-flex;    -webkit-align-items: center;    -webkit-justify-content: center; }
.vidPopInner iframe { border: 0; position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%; }
.fancybox-content { margin: 0 20px;  padding: 0;    background-color: transparent;    width: 100%;    max-width: 800px;  overflow: visible !important; } 
body .fancybox-slide--html .fancybox-close-small svg path { fill: #fff; }
.videoThumb  {  min-height: 400px;    background-size: cover;    background-repeat: no-repeat;    background-position: center;    height: 100%;    position: relative; }
 .VidVideo { position: relative;    overflow: hidden;    max-width: 100%;    background-color: black;    padding: 0 0 56.25%; }
.testiItem.three_column .testiVideos > div > div > div { min-height: 300px; }

.testiSlider { margin: 0 -8px; }

.fancybox-overlay { z-index:9999; }

.fancybox-wrap {
  top: 100px !important; 
}

@media(max-width:1320px){
.testiInner { padding: 0 30px; }
.testiSection button.testPrev.slick-arrow, .testiSection.normal button.testPrev.slick-arrow { left:20px; }
.testiSection button.testNext.slick-arrow, .testiSection.normal button.testNext.slick-arrow { right:20px; }


}



@media(max-width:991px){

  .testiItem.three_column, .testiItem.two_column, .testiItem.two_column.text { width: 100% !important; }
   .testiContent { padding: 30px;    height: 100%; }
   body .fancybox-slide--html .fancybox-close-small { right: 0;    top: -50px; }
   .testiSlider ul.slick-dots { margin: 30px 0 0; text-align: center; }
 .testiSlider ul.slick-dots button { display: none; }
 .testiSlider ul.slick-dots li.slick-active { background-color: #ff8300;    border-color: #ff8300; }
 .testiSlider ul.slick-dots li { height: 20px;    width: 20px;    border: 2px solid #333;    border-radius: 50%;    display: inline-block; }
 .testiSlider ul.slick-dots li ~ li { margin-left: 10px; }
 .testiSlider { padding: 0; }
 .testiSection button.testPrev, .testiSection button.testNext { display:none; }
  .testiInner { width: 100% !important;  padding: 0; } 
   
}
@media(max-width:767px){
  
  .hublVideo .vidyard-player-container>div { min-height: 100%; }
  .testiBG { min-height: 200px; }
  .testiCArrow img { max-width: 40px !important; }
  .vidpArrow img { max-width: 80px !important; }


}


@media (min-width: 1200px){
body .fancybox-desktop {
    width: 900px !important;
    height: 100%!important;
}
}
.fancybox-lock .fancybox-overlay{
  overflow: hidden;
}
body .fancybox-inner {
    height: 100%!important;
    width: 100%!important;
}
body .fancybox-close {
    top: 5px;
    right: 5px;
}

@media(max-width: 767px){
 body .fancybox-inner{
    width: 100%!important;
 }
 body .fancybox-skin {
  padding: 5px!important;
 }
}



