<section class="searchBar">
  <div class="search-filter">
    <form id="form_id" method="get">
          <button class="btn btnShowall">
          All
          </button>
           <div class="select-box">
            <select id="byType">
                <option value="showall">TYPE</option>
                <option value="showall">Show All</option>
                {% set type = hubdb_table_column(5392163, "type").options %}
                  {% for choice in type %}
                  <option value="{{ choice.name|lower|replace('-', '')|replace(' ', '') }}">{{ choice.name }}</option>
                  {% endfor %}
            </select>
           </div>
           <div class="select-box">
            <select name="topics" form="form_id" onChange="this.form.submit()">
                  <option value="">TOPIC</option>
                  {% set topics = hubdb_table_column(5392163, "topics").options %}
                  {% for choice in topics %}
                  {% set topics_list = topics_list~choice.id|list%}
                  {% if choice.id == request.query_dict.topics%}
                  <option selected="selected" value="{{ choice.name }}">{{ choice.name }}</option>
                  {% else %}
                  <option value="{{ choice.name }}">{{ choice.name }}</option>
                  {% endif %}
                  {% endfor %}
             </select>
            </div>
    </form>
  </div>
</section>

<div class="resSection guide imgtextSec {{ module.style.container_style.select_container_sizes }}  fullwidth">
  <div class="wrapper">
    <div class="imgtextSec-heading sectionHeading">
      <h2 class="text-center">
        GUIDE
      </h2>
    </div>
    <div class="imgtextSecInner">
         <button class="resoPrev"></button>
         <button class="resoNext"></button>
      <div class="imgtextSecContent ">
      <div class="imgtextSlider slider">
      {% for row in table %}
      {% if row.type.name == "GUIDE" %}
        <div class="imgtextSlide"> 
          <div class="imgtextBG flexwrap">
            <div class="imgcontent">
            		<img src="{{row.image.url}}" loading="lazy">
            </div>
            <div class="textcontent">
            <div  class="textcardTag">
            {{row.type.name}}
               {% for topic in row.topics %}
                {{topic.name}}
               {% endfor %}
            </div>
            <div class="sliderTitle">
            <h3>{{ row.title }} </h3>
            </div>
            <div class="descripion">
            <p></p>
            </div>
           <div class="reSlideButton">
           <a href="{{ row.cta_link }}"> {{ row.cta_text }}</a>
           </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>


{# -- End 'Section 1 #}

{# -- Section 2 #}

<div class="resSection ebook resourceSection {{ module.style.container_style.select_container_sizes }}  fullwidth">
  <div class="wrapper">
    <div class="sectionHeading">
      <h2 class="text-center">
        EBOOK
      </h2>
    </div>
     <button class="EbookPrev"></button>
     <button class="EbookNext"></button>
    <div class="resourceInner">
      <div class="resourceSlider slider">
       {% for row in table %}
       {% if row.type.name == "EBOOK" %}
        <div class="resourceSlide">
           
          <div class="reSlideBG" style="background-image:url({{row.image.url}});">
            <div class="reSlideContent">
             <div class="reSlideConInn">
             <div  class="Tag">
               {{row.type.name}}
               {% for topic in row.topics %}
                {{topic.name}}
               {% endfor %}
              </div>
              <h4>{{ row.title }}</h4>
              <div class="reSlideButton">
                   <a ahref="{{ row.cta_link }}"> {{ row.cta_text }}</a>
              </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{# -- End 'Section 2 #}

{# -- Section 3 #}
<div class="resSection ondemandwebinar imgtextSec {{ module.style.container_style.select_container_sizes }}  fullwidth">
  <div class="wrapper">
    <div class="sectionHeading">
      <h2 class="text-center">
        ON-DEMAND WEBINAR
      </h2>
    </div>
     <button class="resoPrev"></button>
     <button class="resoNext"></button>
    <div class="imgtextSecInner">
      <div class="imgtextSecContent ">
      <div class="imgtextSlider slider">
      {% for row in table %}
      {% if row.type.name == "ON-DEMAND WEBINAR" %}
        <div class="imgtextSlide  {{row.type.name}}">
          <div class="imgtextBG flexwrap">
            <div class="imgcontent">
            		<img src="{{row.image.url}}" loading="lazy">
            </div>
            <div class="textcontent">
            <div  class="textcardTag">
            {{row.type.name}}
               {% for topic in row.topics %}
                {{topic.name}}
               {% endfor %}
            </div>
            <div class="sliderTitle">
            <h3>{{ row.title }} </h3>
            </div>
            <div class="descripion">
            <p></p>
            </div>
           <div class="reSlideButton">
           <a ahref="{{ row.cta_link }}"> {{ row.cta_text }}</a>
           </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
{# -- End 'Section 3 #}

{# -- Section 4 #}
<div class="resSection b2bmarketingblog textcardSection  {{ module.style.container_style.select_container_sizes }} fullwidth">
  <div class="wrapper">
     <button class="bloPrev"></button>
     <button class="bloNext"></button>
    <div class="textcardSecInner">
       <div class="sectionHeading text-center">
         <h2> B2B Marketing</h2>
       </div>
       <div class="textcardListing slider">
      {% for row in table %}
      
       {% if row.type.name == "B2B MARKETING BLOG" %}
         <div class="textcardItem {{row.type.name}}">
           <div class="textcardInner ">
             <div class="Tag">
              {% for item in row.topics %}
                {{item.name}} 
              {% endfor %}
	           </div>
	           <h5>{{ row.title }}</h5>
             <div class="postButton">
             <a href="{{rec_post.absolute_url}}">
              <img src="https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/read-more-btn.png" alt="read-more-btn" width="80" height="80">
             </a>
             </div>
             <a href="{{ row.cta_link }}" class="textcardLink"> </a>
         </div>
         </div>
    {% endif %}
       {% endfor %}
       </div>
    </div>
  </div>
</div>
{# -- End 'Section 4 #}

{% require_js %}
   <script>
    $(document).ready(function(){
      $('.imgtextSlider').each(function(key, item) {
          var sliderIdName = 'imgtextSlider' + key;
          var sliderPrevIdName = 'resoPrev' + key;
          var sliderNextIdName = 'resoNext' + key;
          
          this.id = sliderIdName;
          $('.resoPrev')[key].id = sliderPrevIdName;
          $('.resoNext')[key].id = sliderNextIdName;
          $(sliderId).slick = sliderNextIdName;
             $(sliderId).slick= sliderPrevIdName;

          var sliderId = '#' + sliderIdName;
          var slidernext = '#' + sliderNextIdName;
          var sliderprev = '#' + sliderPrevIdName;

          $(sliderId).slick({
            centerMode: true,
            centerPadding: '0px',
            slidesToShow: 1,
            focusOnSelect: true,
            slidesToScroll: 1,
            dots: true,
            infinite: true,
            arrows: true,
            nextArrow:slidernext,
            prevArrow:sliderprev,
            autoplaySpeed:3000,  
            speed:900,
            responsive: [
              {
                breakpoint: 991,
                settings: {
                  slidesToShow: 1,
                  dots: true,
                  arrows: false,
                }
              }
            ]
          });

        });
 
      $('.resourceSlider').each(function(key, item) {

          var sliderIdName = 'resourceSlider' + key;
          var sliderPrevIdName = 'EbookPrev' + key;
          var sliderNextIdName = 'EbookNext' + key;
          
          
          this.id = sliderIdName;
          $('.EbookPrev')[key].id = sliderPrevIdName;
          $('.EbookNext')[key].id = sliderNextIdName;
          
          
          var sliderId = '#' + sliderIdName;
          var slidernext = '#' + sliderNextIdName;
          var sliderprev = '#' + sliderPrevIdName;

          $(sliderId).slick({
            centerMode: true,
            centerPadding: '0px',
            slidesToShow: 3,
            focusOnSelect: true,
            slidesToScroll: 1,
            dots: false,
            infinite: true,
            arrows: true,
            nextArrow:slidernext,
            prevArrow:sliderprev,
            autoplaySpeed:3000,  
            speed:900,
            responsive: [
              {
                breakpoint: 991,
                settings: {
                  slidesToShow: 1,
                  dots: true,
                  arrows: false,
                }
              }
            ]


          });

        });
     
      
      $('.textcardListing').each(function(key, item) {

          var sliderIdName = 'textcardListing' + key;
          var sliderPrevIdName = 'bloPrev' + key;
          var sliderNextIdName = 'bloNext' + key;
          
          
          this.id = sliderIdName;
          $('.bloPrev')[key].id = sliderPrevIdName;
          $('.bloNext')[key].id = sliderNextIdName;
          
          
          var sliderId = '#' + sliderIdName;
          var slidernext = '#' + sliderNextIdName;
          var sliderprev = '#' + sliderPrevIdName;

          $(sliderId).slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            arrows: true,
            dots:false,
            autoplay:false,
            autoplaySpeed:3000,  
            speed:900,
            loop: true,
            nextArrow:slidernext,
            prevArrow:sliderprev,
            responsive: [
            {
                breakpoint: 992,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 1
                }
              },
               {
                breakpoint: 500,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1,
                  arrows: false,
                   dots:true,
                }
              }

            ]


          });

        });
      
      
      
    });
   </script>
{% end_require_js %}


{% require_css %}
  <style>
  {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
  #hs_cos_wrapper_{{ name }} .imgtextSecInner,#hs_cos_wrapper_{{ name }} .resourceInner,#hs_cos_wrapper_{{ name }} .textcardSecInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .imgtextSecInner,#hs_cos_wrapper_{{ name }} .resourceInner,#hs_cos_wrapper_{{ name }} .textcardSecInner { width:100%; max-width:1240px; margin: 0 auto; }
    {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .imgtextSecInner,#hs_cos_wrapper_{{ name }} .resourceInner,#hs_cos_wrapper_{{ name }} .textcardSecInner { width:100%; max-width:1000px; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .imgtextSecInner,#hs_cos_wrapper_{{ name }} .resourceInner,#hs_cos_wrapper_{{ name }} .textcardSecInner {width:100%;  max-width:775px; margin: 0 auto; }
  {% endif %}
  
 @media(max-width:992px){
   {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
  #hs_cos_wrapper_{{ name }} .imgtextSecInner,#hs_cos_wrapper_{{ name }} .resourceInner,#hs_cos_wrapper_{{ name }} .textcardSecInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .imgtextSecInner,#hs_cos_wrapper_{{ name }} .resourceInner,#hs_cos_wrapper_{{ name }} .textcardSecInner { width:100%; max-width:100%; margin: 0 auto; }
    {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .imgtextSecInner,#hs_cos_wrapper_{{ name }} .resourceInner,#hs_cos_wrapper_{{ name }} .textcardSecInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .imgtextSecInner,#hs_cos_wrapper_{{ name }} .resourceInner,#hs_cos_wrapper_{{ name }} .textcardSecInner { width:100%; max-width:100%; margin: 0 auto; }
  {% endif %}
  }
  
   #hs_cos_wrapper_{{ name }}  .imgtextSec {
     {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}
     {% if module.style.background_style.select_background  == 'back_color' %}
     background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
     {% elif module.style.background_style.select_background  == 'back_image' %}
     {{ module.style.background_style.backgroundimage_field.css }}
     {% endif %}
   }
   
      #hs_cos_wrapper_{{ name }}  .resourceSection {
     {% if module.style.background_style_section2.select_background  == 'back_color' %}
     background-color:rgba({{ module.style.background_style_section2.background_color.color|convert_rgb }},{{ module.style.background_style_section2.background_color.opacity }}%);
     {% elif module.style.background_style_section2.select_background  == 'back_image' %}
     {{ module.style.background_style_section2.backgroundimage_field.css }}
     {% endif %}
   }
   
      #hs_cos_wrapper_{{ name }}  .textcardSection {
    
     {% if module.style.background_style_section2.select_background  == 'back_color' %}
     background-color:rgba({{ module.style.background_style_section2.background_color.color|convert_rgb }},{{ module.style.background_style_section2.background_color.opacity }}%);
     {% elif module.style.background_style_section2.select_background  == 'back_image' %}
     {{ module.style.background_style_section2.backgroundimage_field.css }}
     {% endif %}
   }
   
   #hs_cos_wrapper_{{ name }} .resourceSection, #hs_cos_wrapper_{{name}} .textcardSection {
        {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}
   }
   
   
   
   {% if module.style.color_style.hide_show_content_bg_color %}
	
  .reSlideConInn { 
    background-color:rgba({{ module.style.color_style.content_background_color.color|convert_rgb }},{{ module.style.color_style.content_background_color.opacity }}%);
    padding:10px;
  }
 
{% endif %}
  
  
  
  #hs_cos_wrapper_{{ name }} .imgcontent h4 { color:{{ module.style.color_style.slider_title_color.color }}; }
  #hs_cos_wrapper_{{ name }} .textcontent, #hs_cos_wrapper_{{ name }} .textcontent p { color:{{ module.style.color_style.text_content_color.color }}  !important; }
  #hs_cos_wrapper_{{ name }} .reSlideButton a { color:{{ module.style.color_style.slider_button_text_color.color }}; }      
  #hs_cos_wrapper_{{ name }} .resourceTitle  h3 { color:{{ module.style.color_style.main_title_color.color }}; }  
  
    
  @media(max-width:767px){
  
  #hs_cos_wrapper_{{ name }}  .imgtextSec {
     {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}
   
   }
  
  }
  
  </style>
{% end_require_css %}
