<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
<p><a class="button" href="#video-popup">{{ module.video_open_text }}</a></p>
    <a class="close" href="#">
        <div id="video-popup" class="overlay black">
            <div class="popup">
              <!--Remove to activate Close button-->
                <!--<a class="close" href="#">&times;</a>-->
                <div class="content">
                    <div class='embed-container' style="z-index:99;">
                        <iframe src='{{ module.youtube_embed_code_url }}' frameborder='0' allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </a>
