    .embed-container {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            max-width: 100%;
        }
        
        .embed-container iframe,
        .embed-container object,
        .embed-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        
        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transition: opacity 0.2s;
            visibility: hidden;
            opacity: 0;
        }
        
        .overlay.black {
            background: rgba(0, 0, 0, 0.7);
        }
        
        .overlay .cancel {
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: default;
        }
        
        .overlay:target {
            visibility: visible;
            opacity: 1;
        }
        
        .popup {
            position: relative;
            margin: 75px auto;
            padding: 20px;
            background: #fff;
            border: 1px solid #666;
            max-width: 700px;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
        }
        
        .popup h2 {
            text-align: center;
            margin-top: 0;
        }
        /* pop-up close button 'x' */
        
        .popup .close {
            position: absolute;
            width: 17px;
            height: 17px;
            top: -2px;
            right: 2px;
            opacity: 0.8;
            transition: all 200ms;
            font-size: 24px;
            font-weight: bold;
            text-decoration: none;
            color: #666;
        }
        
        .popup .close:hover {
            opacity: 1;
        }
        
        .popup .content {
            max-height: 400px;
            overflow: auto;
            text-align: center;
        }