<div class="mucSection fullwidth">
  <div class="wrapper">
  <div class="mucOuter">
  
    <div class="musTitle">
      <h2>{{ module.title }}</h2>
    </div>
    <div class="mucInner flexwrap">
    {% for item in module.column_item %}
      <div class="musItems wow {{ module.style.animation_style.animation_type }}" data-wow-duration="{{ module.style.animation_style.speed }}s" >
        <div class="mucNumber">
          <h3> {{ item.number }} </h3>
        </div>
        
        <div class="mucText">
         <h4> {{ item.text_field }} </h4>
        </div>
        
        
        
      </div>
    {% endfor %}
    </div>
    
  </div>
  </div>
</div>


{% require_css %}
  <style>
    .row-fluid  .mucSection
     { 
      background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
      {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}
      }
      .row-fluid .musTitle h2 {  color:{{ module.style.color_style.title_color.color }}; }
      .row-fluid .mucNumber h3 { color:{{ module.style.color_style.number_color.color }}; }
      .row-fluid .mucText h4 { color: {{ module.style.color_style.text_color.css }}; }
  
       {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .mucOuter { width:{{ module.style.container_style.add_inner_content_width }}%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .wrapper {width:100%; max-width:1240px; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'semi-narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper {width:100%; max-width:1000px; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:775px; margin: 0 auto;}
      {% endif %}
      
   @media(max-width:992px){
     {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .mucOuter { width:{{ module.style.container_style.add_inner_content_width }}%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .wrapper {width:100%; max-width:100%; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'semi-narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper {width:100%; max-width:100%; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      {% endif %}
  }
  
  
  
     @media(max-width:767px){
     
     .row-fluid .mucSection { {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }} }
     
     }
  
  
  </style>

{% end_require_css %}




