.musItems { width: 33.33%;     padding: 0 22px; margin: 0 0 30px; }
.mucInner { margin: 0 -22px; }
.row-fluid .mucNumber h3 { color: #fff;  font-weight: 400;    font-size: 72px;    line-height: normal; }
.row-fluid .mucText h4 { color: #222222;    font-size: 15px;    line-height: 20px;    font-weight: 700;    font-family: 'freight-sans-pro'; margin: 0; }
.row-fluid .musTitle h2 { color: #fff;    font-size: 22px;    line-height: 26px;    font-family: 'Noto Sans' !important;    font-weight: 400; margin: 0 0 20px; }
.row-fluid .mucSection { overflow: hidden; }



@media(max-width:991px) { 
.musItems { width: 100%;    padding: 0 0 20px;    text-align: center; } 
.mucInner { margin: 0; }
.row-fluid .mucNumber h3, .row-fluid .mucText h4, .row-fluid .musTitle h2 { text-align: center; }


} 