.searchBar { display:none !important; }

.imgcontent {width:50%;width: 500px; height:500px; overflow:hidden;}
.imgcontent img {max-width:500px;}
.textcontent {width:50%;    padding-top: 20px;}
.imgtextSlide h2 {padding-bottom:40px !important;text-align:center;}
/*
.reSlideButton a  { position: relative; font-family: 'freight-sans-pro' !important;    font-weight: 700;background: linear-gradient(to left, #ff8300 50%, #e57500 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;  }
.reSlideButton a:hover {background-position:left; }
.reSlideButton a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%;    transform: translateY(-50%);   right: -20px;    font-family: fontawesome;    color: #fff;    opacity: 1;    transition: all ease-in-out .3s;background: linear-gradient(to right, #fff, #fff 50%, #fff 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.reSlideButton a:hover:before { opacity: 1; visibility: visible; right:-25px;background-position:left; }
*/
.reSlideButton a { color: white;    font-size: 16px;    cursor: pointer;    text-transform: uppercase;    font-weight: 700; position: relative;background: linear-gradient(to left, #ff8300 50%, #222 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.reSlideButton a:hover {background-position:0;}
.reSlideButton a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%; transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #222;   transition: all ease-in-out .3s; background: linear-gradient(to right, #ff8300, #222 50%, #222 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.reSlideButton a:hover:before { opacity: 1;  visibility: visible; right:-25px;background-position:left; -webkit-text-fill-color: transparent; }



.imgtextSec .wrapper { position: relative; }
.imgtextSec button.slick-arrow { background-color: transparent;    border: 0;    font-size: 0;    position: absolute;    top: 50%;    transform: translateY(-50%);    width: 30px;    height: 50px;    padding: 0;     display: -webkit-flex !important;    -webkit-align-items: center;    -webkit-justify-content: center;    display: flex !important;    align-items: center;    justify-content: center;    cursor: pointer; }
.imgtextSec button.resoPrev.slick-arrow { left:0px; }
.imgtextSec button.resoNext.slick-arrow { right:0px; }
.imgtextSec button.resoPrev.slick-arrow:before { content: "";    background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/left-arrow.png);    background-repeat: no-repeat;    width: 18px;    height: 51px;    position: absolute;    background-size: contain;    background-position: center;    }
.imgtextSec button.resoNext.slick-arrow:before { content: "";    background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/right-arrow.png);    background-repeat: no-repeat;    width: 18px;    height: 51px;    position: absolute;    background-size: contain;    background-position: center;    }
.imgtextSec.normal button.resoPrev.slick-arrow { left:2%; }
.imgtextSec.normal button.resoNext.slick-arrow {    right: -2.5%;}
.imgtextSlider .slick-center .imgtextBG { transform: scale(1.1) !important; }
.row-fluid .resourceTitle h3 { margin: 0 0 40px;    font-weight: 600; }
.imgtextSec { position: relative;  z-index: 1; }
.imgtextSlider .slick-slide .imgtextBG { transform: scale(0.7); transition: all ease-in-out .5s;}
.textcardListing .slick-slide {height: auto;}
.imgtextSec:before { content: "";    min-height: 300px;    position: absolute;    top: 0;    left: 0;    width: 100%; z-index: -1; }
.imgtextBG {  background-size: cover; background-repeat: no-repeat;     background-position: center; }
.imgcontent { transition: all ease-in-out .5s; min-height:390px;align-items:end; }
.reSlideConInn {opacity:0;}
.reSlideConInn h4 {color:#fff !important;}
.slick-center .reSlideConInn {opacity:1;transition: all ease-in-out .5s;}
.textcontent .textcardTag{    margin: 0 0 10px;color: #ff8300;
    text-transform: uppercase;
    font-size: 16px;
    line-height: normal;
    font-family: 'freight-sans-pro' !important;
    font-weight: 700;
    }
    .textcontent .sliderTitle h3 {font-weight:600; font-size:24px;overflow:visible;}
.row-fluid .textcontent h4 { font-size: 21px; line-height: 26px;   font-weight: 700; }
.textcontent, .textcontent p { font-size: 21px;    line-height: 26px !important;    font-weight: 700; } 
.imgtextSlider .slick-center .imgtextBG .textcontent { padding: 30px 30px;  }
.imgtextSlider .slick-track { /*min-height: 570px;*/    display: flex;    align-items: start;    display: -webkit-flex;    -webkit-align-items: start; }
.textSliderSubject ul {list-style-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Landing%20Page%20Images/Webinar_Mistakes%20Tech%20Companies%20Make/Landing-Pages.png);margin-block-start: 0px;margin-inline-start: 0px;padding-inline-start: 20px;}
.textSliderSubject ul li {list-style-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Landing%20Page%20Images/Webinar_Mistakes%20Tech%20Companies%20Make/Landing-Pages.png) !important;line-height: 36px !important;font-size:18px;margin-top:20px;color: #333 !important;font-family: 'Noto Sans',sans-serif !important;}

.textSliderSubject p {  color: #333 !important;}
.sectionHeading {padding-bottom: 60px;}
/* .imgtextSlider ul.slick-dots { margin: -15px 0 0; text-align: center; margin: 30px 0 0;
position: relative; } */
.imgtextSlider ul.slick-dots { /*margin: -15px 0 0;*/ text-align: center; /*margin: 30px 0 0;*/
position: absolute; left: calc(50% + 36px); bottom: 90px;}
 .imgtextSlider ul.slick-dots button { display: none; }
 .imgtextSlider ul.slick-dots li.slick-active { background-color: #ff8300;    border-color: #ff8300; }
 .imgtextSlider ul.slick-dots li { height: 20px;    width: 20px;    border: 2px solid #333;    border-radius: 50%;    display: inline-block; }
 .imgtextSlider ul.slick-dots li ~ li { margin-left: 10px; }
.reSlideButton a:before {
    content: "\f061";
    font-weight: 400;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    font-family: fontawesome;
    color: #12010185;
    opacity: 1;
    transition: all ease-in-out .3s;
    background: linear-gradient(to right, #222, hsl(0deg 0% 13%) 50%, #333 50%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btnShowall {
    width: 0;
    border: 0;
    outline: 0;
    background: transparent;
    color: #ff8300;
    font-size: 0;
    font-weight: 600;
    min-width: 0;
        line-height: 0;
    visibility: hidden;
    padding: 8px 15px;
    font-family: 'Noto Sans',sans-serif !important;
    text-align:left;
      transition: all 0.3s ease-in-out;
}
.btnShowall.active{
  opacity: 1;
  width: 100%;
  min-width: 200px;
  font-size: 15px;
  line-height: 28px;
  visibility: visible;
}
.btnShowall:hover{cursor: pointer}
@media(min-width:992px){
.imgtextSec.wide button.resoPrev.slick-arrow { left:20px; }
.imgtextSec.wide .imgtextSecInner { padding:0 40px; }
.imgtextSec.wide button.resoNext.slick-arrow {  right:20px; }
}

@media(max-width:1320px){
.imgtextSecInner { padding: 0 30px; }
.imgtextSec button.resoPrev.slick-arrow, .imgtextSec.normal button.resoPrev.slick-arrow {   left: 1%; top: 50%; }
.imgtextSec button.resoNext.slick-arrow, .imgtextSec.normal button.resoNext.slick-arrow { right:15px; top: 50%; }


}

@media(max-width:991px){
 .imgtextSlider { padding: 0; }
 .imgtextSlider .slick-slide .imgtextBG { transform: none !important; }
 .imgtextSlider ul.slick-dots { margin: 30px 0 0; text-align: center; }
 .imgtextSlider ul.slick-dots button { display: none; }
 .imgtextSlider ul.slick-dots li.slick-active { background-color: #ff8300;    border-color: #ff8300; }
 .imgtextSlider ul.slick-dots li { height: 20px;    width: 20px;    border: 2px solid #333;    border-radius: 50%;    display: inline-block; }
 .imgtextSlider ul.slick-dots li ~ li { margin-left: 10px; }
 .imgtextSecInner { width: 100% !important; padding: 0; }
 .imgtextSec button.resoPrev, .imgtextSec button.resoNext { display:none; }
 .textSliderSubject {width:100%; }
.imgtextSlider {width:100%;}
.imgcontent{width:100%; min-height: auto;height: auto;}
.textcontent{width:100%;}
.imgcontent img {width:100%;}
.imgtextSlider ul.slick-dots { margin: -15px 0 0; text-align: center; margin: 30px 0 0;
position: static;}  
}

/*--------------------------------Section 2 ---------------------------------*/


.reSlideButton1 a  { position: relative; font-family: 'freight-sans-pro' !important;    font-weight: 700;background: linear-gradient(to left, #ff8300 50%, #e57500 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;  }
.reSlideButton1 a:hover {background-position:left; }
.reSlideButton1 a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%;    transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #fff;    opacity: 1;    transition: all ease-in-out .3s;background:linear-gradient(to left,#fff 50%,#fff 50%) right ; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.reSlideButton1 a:hover:before { opacity: 1; visibility: visible; right:-25px;background-position:left; }
.resourceSection .wrapper { position: relative; }
.reSlideConInn .Tag {
    margin: 0 0 10px;
    color: #ff8300;
    text-transform: uppercase;
    font-size: 16px;
    line-height: normal;
    font-family: 'freight-sans-pro' !important;
    font-weight: 700;
}


.resourceSection button.slick-arrow { background-color: transparent;    border: 0;    font-size: 0;    position: absolute;    top: 60%;    transform: translateY(-50%);    width: 30px;    height: 50px;    padding: 0;     display: -webkit-flex !important;    -webkit-align-items: center;    -webkit-justify-content: center;    display: flex !important;    align-items: center;    justify-content: center;    cursor: pointer; }
.resourceSection button.EbookPrev.slick-arrow { left:0px; }
.resourceSection button.EbookNext.slick-arrow { right:0px; }
.resourceSection button.EbookPrev.slick-arrow:before { content: "";    background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/left-arrow.png);    background-repeat: no-repeat;    width: 18px;    height: 51px;    position: absolute;    background-size: contain;    background-position: center;    }
.resourceSection button.EbookNext.slick-arrow:before { content: "";    background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/right-arrow.png);    background-repeat: no-repeat;    width: 18px;    height: 51px;    position: absolute;    background-size: contain;    background-position: center;    }

.resourceSection.normal button.EbookPrev.slick-arrow { left:-30px; }
.resourceSection.normal button.EbookNext.slick-arrow { right:-30px; }

.resourceSlider .slick-center .reSlideBG { transform: scale(1.1) !important; }
.row-fluid .resourceTitle h3 { margin: 0 0 40px;    font-weight: 600; }
.resourceSection { position: relative;  z-index: 1; }
.resourceSlider .slick-slide .reSlideBG { transform: scale(0.7); transition: all ease-in-out .5s;box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.5); }
.resourceSection:before { content: "";    min-height: 300px;    position: absolute;    top: 0;    left: 0;    width: 100%; z-index: -1; }
.reSlideBG {  background-size: cover; background-repeat: no-repeat;     background-position: center; }
.reSlideContent { padding: 130px 30px 30px; transition: all ease-in-out .5s; min-height:390px;display:flex; align-items:end; }
.reSlideConInn {opacity:0;}
.slick-center .reSlideConInn {opacity:1;transition: all ease-in-out .5s;}
.row-fluid .reSlideContent h4 { font-size: 21px; line-height: 26px;   font-weight: 700; }
.reSlideText, .reSlideText p { font-size: 21px;    line-height: 26px !important;    font-weight: 700; } 
.resourceSlider .slick-center .reSlideBG .reSlideContent { padding: 60px 30px;  }
.resourceSlider .slick-track { /*min-height: 570px;*/    display: flex;    align-items: center;    display: -webkit-flex;    -webkit-align-items: center; }


@media(min-width:992px){
.resourceSection.wide button.EbookPrev.slick-arrow { left:20px; }
.resourceSection.wide .resourceInner { padding:0 40px; }
.resourceSection.wide button.EbookNext.slick-arrow {  right:20px; }


}

@media(max-width:1320px){
.resourceInner { padding: 0 30px; }
.resourceSection button.EbookPrev.slick-arrow, .resourceSection.normal button.EbookPrev.slick-arrow { left:15px; top: 50%; }
.resourceSection button.EbookNext.slick-arrow, .resourceSection.normal button.EbookNext.slick-arrow { right:15px; top: 50%; }


}



@media(max-width:991px){
 .resourceSlider { padding: 0; }
 .resourceSlider .slick-slide .reSlideBG { transform: none !important; }
 .reSlideContent { padding: 100px 20px 30px !important; }
 .resourceSlider ul.slick-dots { margin: 30px 0 0; text-align: center; }
 .resourceSlider ul.slick-dots button { display: none; }
 .resourceSlider ul.slick-dots li.slick-active { background-color: #ff8300;    border-color: #ff8300; }
 .resourceSlider ul.slick-dots li { height: 20px;    width: 20px;    border: 2px solid #333;    border-radius: 50%;    display: inline-block; }
 .resourceSlider ul.slick-dots li ~ li { margin-left: 10px; }
 .resourceInner { width: 100% !important; padding: 0; }
 .resourceSection button.resoPrev, .resourceSection button.resoNext { display:none; }
 
 .resourceSection button.EbookPrev { display:none; }
.resourceSection button.EbookNext { display:none; }
  
}



/*------------------4sec css----------*/
.textcardSection .wrapper { position: relative; }

.textcardSection button.slick-arrow { background-color: transparent;    border: 0;    font-size: 0;    position: absolute;    top: 60%;    transform: translateY(-50%);    width: 30px;    height: 50px;    padding: 0;     display: -webkit-flex !important;    -webkit-align-items: center;    -webkit-justify-content: center;    display: flex !important;    align-items: center;    justify-content: center;    cursor: pointer; }
.textcardSection button.bloPrev.slick-arrow { left:0px; }
.textcardSection button.bloNext.slick-arrow { right:0px; }
.textcardSection button.bloPrev.slick-arrow:before { content: "";    background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/left-arrow.png);    background-repeat: no-repeat;    width: 18px;    height: 51px;    position: absolute;    background-size: contain;    background-position: center;    }
.textcardSection button.bloNext.slick-arrow:before { content: "";    background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/right-arrow.png);    background-repeat: no-repeat;    width: 18px;    height: 51px;    position: absolute;    background-size: contain;    background-position: center;    }

.textcardSection.normal button.bloPrev.slick-arrow { left:-30px; }
.textcardSection.normal button.bloNext.slick-arrow { right:-30px; }

.textcardInner .Tag {
    margin: 0 0 10px;
    color: #ff8300;
    text-transform: uppercase;
    font-size: 16px;
    line-height: normal;
    font-family: 'freight-sans-pro' !important;
    font-weight: 700;
}
.textcardTitle { margin: 0 0 40px; }
.row-fluid .textcardTitle h2 { margin: 0 0 20px; }
.textcardItem .textcardTag { margin: 0 0 10px;    text-transform: uppercase;    font-size: 12px;    line-height: normal;    font-family: 'freight-sans-pro' !important;    font-weight: 700; }
.textcardListing .slick-track { display: flex;    display: -webkit-flex;    padding-bottom: 20px;}
.textcardItem { position: relative; }
.textcardInner { box-shadow: 0 3px 10px rgb(0 0 0 / 20%);    padding: 30px 25px 120px 25px;    background-color: #fff;    margin: 10px 13px;    text-decoration: none;    min-height: 240px; position: relative;transition: transform .3s; height: 100%;}
.textcardInner:hover {transform: scale(1.05);}
a.textcardLink { position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%; }
/*a.textcardLink:hover {transform: scale(1.8); }*/
.postButton img { max-width: 70px !important; }
.row-fluid .textcardInner h5 { margin: 0;  }
.postButton { position: absolute;    bottom: 20px; }
.textcardSecInner { margin: 0 auto; }





@media(min-width:992px){
.textcardSection.wide button.bloPrev {}slick-arrow { left:20px; }
.textcardSection.wide .textcardInner { padding:0 40px; }
.textcardSection.wide button.bloNext.slick-arrow {  right:20px; }

}

@media(max-width:1320px){

.textcardSection button.bloPrev.slick-arrow, .textcardSection.normal button.bloPrev.slick-arrow { left:15px; top: 50%; }
.textcardSection button.bloNext.slick-arrow, .textcardSection.normal button.bloNext.slick-arrow { right:15px; top: 50%; }


}




@media(max-width:991px){
.textcardInner { width: 100% !important; }
.textcardSection.wide button.bloPrev {display:none;}
.textcardSection.wide button.bloNext{display:none;}
}


@media(max-width:500px){
 
.textcardListing { padding: 0 40px; }

.textcardTitle { margin: 0 0 20px; }
.postButton img { max-width: 50px !important; }

.textcardListing ul.slick-dots { margin: 30px 0 0; text-align: center; }
 .textcardListing ul.slick-dots button { display: none; }
 .textcardListing ul.slick-dots li.slick-active { background-color: #ff8300;    border-color: #ff8300; }
 .textcardListing ul.slick-dots li { height: 20px;    width: 20px;    border: 2px solid #333;    border-radius: 50%;    display: inline-block; }
 .textcardListing ul.slick-dots li ~ li { margin-left: 10px; }
  .textcardListing { padding:0; }
  .textcardInner { padding: 30px 25px 50px 25px !important; }

  .textcardSection button.bloPrev, .textcardSection button.bloNext { display:none; }
 


}

.searchBar {display:flex; justify-content: center; align-items: center; width:100%; margin: 0 auto !important; background-color:#282828;padding:18px;}
.search-filter{ width:100%;max-width:300px;display:flex; justify-content: center; align-items: center;}
.search-filter form{display: flex; justify-content: center; align-items: center;}


.search-filter input[type="text"], .search-filter input[type="number"],.search-filter input[type="email"],.search-filter input[type="tel"],.search-filter select{
    background: #282828 !important;
        color: #fff!important;
        font-weight: 600 !important;
        border: 0px solid #ddd !important;
    outline: 0;
    background: #282828;
    font-size: 16px;
    font-weight: 600 !important;
    line-height: 24px;
    font-family: "freight-sans-pro",sans-serif;
    font-weight: 300;
    color: #fff;
    min-height: 46px;
    margin: 8px 0;
    padding: 10px 20px;
    -webkit-appearance: none;
}

/* Custom Select */
.select-box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-box select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
/*   position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background: transparent!important; */
}
/* .select-box.active select{
  background: #000!important;
} */
.select-box select option {
  padding: 30px;
}

/* 
 *  Filtered Resource Style
 * */
 
.filtered-resource-wrapper {
    width: 100%;
    gap: 30px;
}
.resource-card{
  width: calc(100% / 3 - 30px);
  background: #fff;
}
@media(max-width:992px){
  .resource-card{
    width: calc(100% / 2 - 30px);
  }
}
@media(max-width:767px){
  .resource-card{
    width:100%;
  }
}
.resource-card--img {
  max-height: 200px;
  min-height: 200px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}
.resource-card--tag p {
  margin: 0 0 10px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: normal;
  font-family: freight-sans-pro !important;
  font-weight: 700;
  color: #FF8300;
}
.resource-card--content {
    padding: 30px 25px 40px;
}
.resource-card--img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 200px;
}
body .row-fluid .resource-card--title h3 {
    font-weight: 600 !important;
    height: 110px;
    font-size: 21px;
    line-height: 32px;
    font-family: "freight-sans-pro",sans-serif !important;
}
.resource-card--title {
    overflow: hidden;
    min-height: 150px;
    max-height: 150px;
}
.resource-card--btn a {
    color: #ff8300;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: normal;
    font-family: freight-sans-pro !important;
    font-weight: 700;
    color: #ff8300;
}
.searchBar .search-filter input[type="submit"] {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: inline-block;
  margin: 10px;
  transition: all ease-in-out .3s;
    font-weight: 700;
    transition: all ease-in-out .3s;
    background: linear-gradient(to left,#ff8300 50%,#e57500 50%) right ;
  background-size: 200%;
  margin: 0 !important;
  min-width: 143px;
  text-align: center;
  font-size: 15px;
  line-height: normal;
  padding: 10px 10px;
  box-sizing: border-box !important;
  font-family: 'Noto Sans',sans-serif !important;
  border: none;
  outline: none;

}
.searchBar .search-filter input[type="submit"]:hover {
background-position: left !important;
}




.resource-card--btn a  { position: relative; font-family: 'freight-sans-pro' !important;    font-weight: 700;background: linear-gradient(to left, #ff8300 50%, #e57500 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;  }
.resource-card--btn a:hover {background-position:left; }
.resource-card--btn a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%;    transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #fff;    opacity: 1;    transition: all ease-in-out .3s;background:linear-gradient(to left,#333 50%,#333 50%) right ; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.resource-card--btn a:hover:before { opacity: 1; visibility: visible; right:-25px;background-position:left; }



@media(min-width: 768px){
  .button-box {
    margin-left: 25px;
  }
}
.button-box {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.button-box.active {
  width: auto;
  height: auto;
  opacity: 1;
  visibility: visible;
}
.select-styled:after {
    content: '';
    background: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/chevron-icon.svg);
    position: absolute;
    top: 23px;
    transform: translate(0,-50%);
    width: 30px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}
.select-styled.active:after {
    transform: rotate(90deg);
    top: 15px;
}
/* custome select */
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 15px;
  font-weight:600;
  color: #fff;
  width: 220px;
  height: 40px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  padding: 8px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.select-options {
  display: none;
  position: absolute;
  top: 152%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}
.select-options li {
  margin: 0;
  padding: 4px 0;
  font-size: 14px;
  font-weight:500;
  color:#333;
  text-indent: 15px;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover, .select-options li.is-selected {
  color: #c0392b;
  background: #fff;
}
.select-options li[rel="hide"] {
  display: none;
}
.topics {
  margin: 0 0 10px;
  color: #ff8300;
  text-transform: uppercase;
  font-size: 14px!important;
  line-height: normal!important;
  font-family: 'freight-sans-pro' !important;
  font-weight: 700!important;
}
@media(max-width: 992px){
  .search-filter form{flex-wrap: wrap;}
  .searchBar{ padding: 30px 0;}
  .select {width: 180px;}
  .select-box {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .search-filter form {
    display: block;}
  .search-filter{
    max-width: 100%;
  }
  .button-box{text-align:center;}
  .btnShowall {text-align:center;}
  .select-styled {text-align:center;} 
}

.no-result {
    padding-top: 40px;
    padding-bottom: 40px;
}
.textcontent p  {
font-size:16px !important;
line-height:24px;
font-weight:400 !important;
text-align:left;
}