<div class="t-memberSection {{ module.style.container_style.select_container_sizes }} fullwidth">
    <div class="wrapper">
    <div class="team-card ">
        {% for item in module.team_member %}
          <div class="t-member-popbox">
          {% if item.team_member_image.src %}
          <div class="t-member-imgmain">
            {% if item.animated_image_1.src %}
             <div class="animation-wrap" >
              <img loading="lazy" src="{{ item.team_member_image.src }}" alt="{{ item.team_member_image.alt }}">
              <img loading="lazy" src="{{ item.animated_image_1.src }}" alt="{{ item.animated_image_1.alt }}" class="img-top">
             </div>
            {% endif %} 
                <div class="t-member-name-designation">
               <div class="section1">      
               <div class="mhName">{{ item.member_name }}</div>
               <div class="mhPosition">{{ item.member_designation }}</div> 
               </div>
               </div> | <div class="mhlink mhlink18"><svg class="i-button" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 15 15"> <path id="Layer_1" fill="#ff8300" d="M7.5 14.4C3.7 14.4.6 11.3.6 7.5S3.7.6 7.5.6s6.9 3.1 6.9 6.9-3.1 6.9-6.9 6.9zm2.3-4c0-.2-.1-.3-.3-.3h-.9V5.5c0-.2-.1-.3-.3-.3H5.5c-.2 0-.3.1-.3.3v1.4c0 .2.1.3.3.3h.9v2.9h-.9c-.2 0-.3.1-.3.3v1.4c0 .2.1.3.3.3h4c.2 0 .3-.1.3-.3v-1.4zm-1.2-8c0-.2-.1-.3-.3-.3H6.6c-.2 0-.3.1-.3.3v1.4c0 .2.1.3.3.3h1.7c.2 0 .3-.1.3-.3V2.4z" /> </svg>
          </div>
          {% else %}
          <img src="{{ item.team_member_image.src }}" alt="{{ item.team_member_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
          </div>
        <div class="t-member-popup-detailsmain" style="display: none;"> 
           <div class="t-member-popup-details">
            <div class="t-member-top">
                <div class="t-member-thumbimg">
                   <img src="{{ item.team_member_image.src }}" alt="{{ item.team_member_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                </div>
                <div class="t-member-topright">
                <h4>{{ item.member_name }}</h4>
                <h5>{{ item.member_designation }}</h5>
                <div class="t-member-trsocial">   
              <a href="{{ href }}"><i class="fa fa-linkedin"></i></a>
              <a href="{{ href }}" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="{{ href }}" target="_blank"><i class="fa fa-facebook"></i></a> 
               </div>
                {% if item.email_id %}    
                <div class="t-member-email">
                <a href="mailto:{{ item.email_id }}">{{ item.email_id }}</a>
                </div>
                {% endif %}
                </div>
                <!--t-member-topright end-->
            </div>
            <!--t-member-top end-->
            <div class="t-member-detailtext">
            {{ item.member_detail_text }}
            </div>
            <!--t-member-detailtext end-->   
        </div>
        <!--t-member-popup-details end-->
        </div>
        <!--t-member-popup-detailsmain end-->        
    </div>
   {% endfor %}
    <!--t-member-popbox end-->
    </div>
 </div>   
</div>

    {% require_css %}
      <style>
      {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .team-card{ width:100%; max-width:1240px; margin: 0 auto; }
     {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .team-card{ width:100%; max-width:1000px; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .team-card { width:100%; max-width:775px; margin: 0 auto; }
      {% endif %}
      
       #hs_cos_wrapper_{{ name }}  .t-memberSection {
        {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}
         {% if module.style.background_style.select_background  == 'back_color' %}
         background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
         {% elif module.style.background_style.select_background  == 'back_image' %}
         {{ module.style.background_style.backgroundimage_field.css }}
         {% endif %}
       }
       
      #hs_cos_wrapper_{{ name }} .t-member-detailtext strong {color:{{ module.style.content_color.t-member_details_title_color.color }};}
      #hs_cos_wrapper_{{ name }} .mhName {color:{{ module.style.content_color.name_color.color }};}
      #hs_cos_wrapper_{{ name }} .mhPosition{color:{{ module.style.content_color.designaton_color.color }};}
      #hs_cos_wrapper_{{ name }} .t-member-trsocial a {color:{{ module.style.content_color.social_icons_color.color }};}
      
    @media(max-width:992px){  
     {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .team-card{ width:100%; max-width:100%; margin: 0 auto; }
     {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .team-card{ width:100%; max-width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .team-card { width:100%; max-width:100%; margin: 0 auto; }
      {% endif %}
      }
          
       @media(max-width:767px){
          #hs_cos_wrapper_{{ name }}  .t-memberSection {
         {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}
         }
         </style>
    
    {% end_require_css %}
    
    