.team-card {  width:100%; padding-bottom: 10px;gap:67px;}
.t-member-popbox {    width: 32.33%;    padding: 0 15px 30px; display: inline-flex;position:relative;  }
.t-member-imgmain img , .team-card .hs_cos_wrapper_type_linked_image img, .team-card .hs_cos_wrapper_type_cta img { width:100% !important;  }
.t-member-imgmain img  {     cursor: pointer;}
.t-member-top { max-width:200px !important; float:left; width:100%;  display: grid; }
.t-member-thumbimg { float:left;     width: 180px !important;}
.i-button{width:16px; height:16px;    vertical-align: middle;}
.t-member-thumbimg img { max-width:100%; height:auto; }
.t-member-topright { float:right; width:180px; }
.t-member-top h4 { padding:0 0 0px; color:#333333; font-size:20px; margin:0; font-weight:600; line-height:20px; }
.t-member-topright h4 { padding:0 0 0px; color:#333333!important;; font-size:16px!important; margin:0; font-weight:600!important;; line-height:20px; }
.t-member-topright h5 { padding:0 0 0px; color:#333333; font-size:16px; margin:0; font-weight:600; line-height:20px;font-size:16px!important; }
.t-member-top h5 { padding:0 0 0px; color:#000; font-size:16px; margin:0; font-weight:300; }
.t-member-trsocial { float:left; width:100%; padding:0; }
.t-member-trsocial a { display:inline-block; margin:0 5px 5px 0; }
.t-member-trsocial img { max-width:30px; height:auto; }
.t-member-email { float:left; width:100%; padding:0 0 5px; font-size:14px; }
.t-member-email a { color:#116b99; }
.t-member-email a:hover { color:#000; }
.t-member-detailtext p {font: normal 16px/20px "freight-sans-pro",sans-serif;}
.t-member-detailtext { float:left; width:100%; color:#000; max-width:440px; }
.t-member-detailtext strong { color:#333; }
.mhInner {position: absolute; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); width: 100%; padding: 8px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
.mhName {font-size: 16px; line-height: 20px; color: #333; padding-bottom: 5px; font-weight: 600;}
.mhPosition{font-size: 16px; line-height: 20px; }
.mhlink {display: inline-block;cursor: pointer;padding: 5px 10px;align-content: center;margin-top: 8px;transition: .25s;-webkit-transition: .25s;}
.image-animation-wrap {position: relative;}
.mhlink.mhlink18 {max-width: 30px;padding: 5px;border: 0;display: inline-block !important;}
    
.t-member-name-designation:hover .mhlink.mhlink18 {opacity: 1;visibility: visible;}
.mhlink.mhlink18:hover {color: #fff !important;}
.t-member-name-designation    {display: inline-flex;    cursor: pointer;}
.t-member-name-designation .section1{   padding-right: 5px;}
.mhlink:hover {color: #f37b28; background-color: #fff;}
.t-member-hover-special {position: absolute;top: 0;left: 0;text-align: center;color: #fff;background-color: #ff8300;width: 100%;height: 100%;}

.mhName-special {font-size: 22px;line-height: 24px;color: #ffffff;padding-bottom: 5px;font-weight: 600;}

.fancybox-wrap { background: #fff !important; padding: 40px !important; }
.fancybox-skin { box-shadow:none !important; }


@media (min-width: 768px) and (max-width: 1024px) {
    .mhName {font-size: 18px; line-height: 20px;}
}
@media (min-width: 30px) and (max-width: 767px) {
    
    .team-card { margin:0; }
    .team-card .hs_cos_wrapper.hs_cos_wrapper_widget { width:100%; padding:10px 0; }
    .team-card {display:block;}
    .t-member-popbox { width: 100%; margin-left:0px; }
    .t-member-top {max-width: none !important; }
    .t-member-detailtext { float:left; width:100%; color:#000; max-width:290px; }
}

@media (min-width:560px) and (max-width: 767px) {
    .team-card { margin:0 -10px; }
    .team-card .hs_cos_wrapper.hs_cos_wrapper_widget { width:50%; padding:10px; }
    .team-card {display:block;}
    .t-member-popbox { width: 100%; margin-left:0px; }
}

@media (min-width: 30px) and (max-width: 660px) {
   
   .t-member-topright { width:100%; padding:10px 0 0; }
   .team-card {display:block;}
   .t-member-popbox { width: 100%; margin-left:0px; }
}

.gsc-adBlockInvisible {display: none!important;}
.fancybox-close{position:absolute;top:15px!important;right:15px!important;width:24px!important;height:26px!important;cursor:pointer;z-index:8040;background-image:none!important}

#fancybox-loading,.fancybox-close,.fancybox-next span,.fancybox-prev span{background-image:url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/cross%20\(3\).png)!important;background-size:contain!important}.fancybox-skin{position:relative;background:#f2f2f2!important;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.fancybox-opened {z-index: 999999;}
.t-members {display:flex;}
@media (max-width: 767px) {
    .t-member-popbox.t-member-popbox-special {padding: 0!important;}
    .t-member-popbox.t-member-popbox-special .t-member-hover-special {position: static; width: 100%!important;}
    .t-members {display:block;}
    .t-member-popbox.t-member-popbox-special .t-member-hover-special .mhInner {position: static; transform: none;}
    .team-card > span > div.hs_cos_wrapper.hs_cos_wrapper_widget .t-member-popbox.t-member-popbox-special .mhlink {position: static; transform: none; display: block;}
    .team-card {width: 100%;}
    .team-card:hover .t-member-imgmain img {display: none;}
}

 .team-card  .t-member-hover-special {right: 0; left: auto;}
 .team-card  .t-member-imgmain img {cursor: default;}
 .team-card .t-member-popbox .mhlink {right: -50%; {{ transform('translateX(50%)') }};}
 .team-card  .t-member-popbox .mhlink {left: -50%; {{ transform('translateX(-50%)') }};}
 .team-card:hover .t-member-popbox .mhlink {display: flex;}
 .team-card :hover .t-member-imgmain:before{content:"";position:relative;top:0;left:0;width:100%;height:100%}.animation-wrap{position:relative;display:inline-block;cursor:pointer}.animation-wrap:hover .img-top{display:inline;cursor:pointer}

.animation-wrap .img-top{display:none;position:absolute;top:0;left:0;z-index:99;height:100%;cursor:pointer}
.fancybox-overlay.fancybox-overlay-fixed {
    z-index: 9999;
}
