<table cellpadding="15" class="two-col-centered" style="line-height: 1.5em;">
    <tr>
      <td style="width: 50%; text-align: left; font-size: 14px; padding-bottom: 30px;" valign=top class="k-480-col mk-padding">
            {% if widget.image.src %}
                <img src="{{ widget.image.src }}" style="max-width: 100%;" width="{{ widget.image.width }}" alt="{{ widget.image.alt }}">
            {% endif %}
        </td>  
      <td style="width: 50%; text-align: left; vertical-align: middle; font-size: 14px; padding-bottom: 30px;" valign=top class="k-480-col k-480-padding">
            <h2 style="font-size: 14px; margin-top: 15px;">{{ widget.heading }}</h2>  
            {{ widget.content }}
        </td>
    </tr>
</table>