   .calltoacHSub { margin: 0 0 20px; }
   .calltoacSection { position: relative; }
   .calltoacImage { position: absolute;    top: 50%;    left: 50%; transform: translateY(-38%); }
   .calltoacHeading h3 { text-transform: uppercase;    font-weight: 700 !important; }
   .calltoacButton a  { position: relative; font-family: 'freight-sans-pro' !important;    font-weight: 700;  text-transform: uppercase; font-size: 18px; 
    cursor: pointer;
   background: linear-gradient(to left, #222 50%, #666 50%) right;
    background-size: 200%;
        background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
   .calltoacButton a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%; transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #222;   transition: all ease-in-out .3s; background: linear-gradient(to right, #002e6d, #002e6d 50%, #002e6d 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
   .calltoacButton a:hover:before { opacity: 1;    visibility: visible; right:-25px;background-position:left; }
   .calltoacButton a:hover {background-position:left;}
   .calltoacInner { position: relative; z-index: 99; }
   .calltoacImageleft { position: absolute;    top: 50%;    left: 50px;    transform: translateY(-50%); }
   .calltoacImageleft img {width:150px;}
   @media(max-width:991px){
   .calltoacImage { display: none; }
   .calltoacInner { max-width: 100% !important; }
   
   }
  
   
   
   
   
   
   
   
   
   