<div class="calltoacSection fullwidth">
  <div class="wrapper">
    <div class="calltoacInner">
      <div class="calltoacHeading">
        <h3>{{ module.header_content.title }}</h3>
        {% if module.header_content.show_sub_text %}
        <div class="calltoacHSub">
          {{ module.header_content.sub_text }}
        </div>
      {% endif %}
      {% if module.header_content.show_button %}
	
      <div class="calltoacButton">
      {% set href = module.header_content.contact_link.url.href %}
      {% if module.header_content.contact_link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
      {% endif %}
      {% set rel = [] %}
      {% if module.header_content.contact_link.no_follow %}
        {% do rel.append("nofollow") %}
      {% endif %}
      {% if module.header_content.contact_link.open_in_new_tab %}
        {% do rel.append("noopener") %}
      {% endif %}
      <a href="{{ href }}"
        {% if module.header_content.contact_link.open_in_new_tab %}target="_blank"{% endif %}
        {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
        >
        {{ module.header_content.contact_button_text }}
      </a>
      </div>
      {% endif %}
      </div>
    </div>
  </div>
  
  {% if module.hide_show_center_img %}
  <div class="calltoacImage">
      {% if module.center_img.src %}
      {% set sizeAttrs = 'width="{{ module.center_img.width }}" height="{{ module.center_img.height }}"' %}
      {% if module.center_img.size_type == 'auto' %}
        {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
      {% elif module.center_img.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.center_img.max_width }}" height="{{ module.center_img.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
       {% set loadingAttr = module.center_img.loading != 'disabled' ? 'loading="{{ module.center_img.loading }}"' : '' %}
      <img src="{{ module.center_img.src }}" alt="{{ module.center_img.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
    {% endif %}
  </div>
{% endif %}

{% if module.hide_show_left_image %}
  <div class="calltoacImageleft">
     {% if module.left_icon.src %}
	{% set sizeAttrs = 'width="{{ module.left_icon.width }}" height="{{ module.left_icon.height }}"' %}
	{% if module.left_icon.size_type == 'auto' %}
		{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
	{% elif module.left_icon.size_type == 'auto_custom_max' %}
		{% set sizeAttrs = 'width="{{ module.left_icon.max_width }}" height="{{ module.left_icon.max_height }}" style="max-width: 100%; height: auto;"' %}
	{% endif %}
	 {% set loadingAttr = module.left_icon.loading != 'disabled' ? 'loading="{{ module.left_icon.loading }}"' : '' %}
	<img src="{{ module.left_icon.src }}" alt="{{ module.left_icon.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
{% endif %}
  </div>
{% endif %}
</div>




{% require_css %}
  <style>
  {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { max-width:100%; width:100%; }
  #hs_cos_wrapper_{{ name }} .calltoacInner {width:100%;  max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .calltoacInner { width:100%; max-width:1240px; margin: 0 auto; }
   {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .calltoacInner { width:100%; max-width:1000px; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .calltoacInner { width:100%; max-width:775px; margin: 0 auto; }

  {% endif %}
  
   #hs_cos_wrapper_{{ name }}  .calltoacSection {
     {{ module.style.spacing_style.spacing_top_bottom.css }}
     {% if module.style.background_style.select_background  == 'bg_color' %}
     background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
     {% elif module.style.background_style.select_background  == 'bg_image' %}
     {{ module.style.background_style.backgroundimage_field.css }}
     {% endif %}
   }
   
   #hs_cos_wrapper_{{ name }} .calltoacButton a { color:{{ module.style.header_style.contact_button_text_color.color }}; }
   #hs_cos_wrapper_{{ name }} .calltoacHeading h3  { color:{{ module.style.header_style.title_color.color }}; }
   #hs_cos_wrapper_{{ name }} .calltoacHSub  { color:{{ module.style.header_style.sub_text_color.color }}; }
   #hs_cos_wrapper_{{ name }} .calltoacHeading, #hs_cos_wrapper_{{ name }} .calltoacHeading h3 { text-align:{{ module.header_content.alignment }} !important; }
    #hs_cos_wrapper_{{ name }} .calltoacButton a:before { background: linear-gradient(to right, {{ module.style.header_style.button_arrow_color.color }}
, {{ module.style.header_style.button_arrow_color.color }}
 50%, {{ module.style.header_style.button_arrow_color.color }}
 50%);
 background-size: 200%;
    -webkit-background-clip: text;}
    
 @media(max-width:992px){
 {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { max-width:100%;width:100%;  }
  #hs_cos_wrapper_{{ name }} .calltoacInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .calltoacInner { width:100%; max-width:100%; margin: 0 auto; }
   {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .calltoacInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .calltoacInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'small' %}
  #hs_cos_wrapper_{{ name }} .calltoacInner { width:100%; max-width:100%; margin: 0 auto; }
  {% endif %}
      
}

 @media(max-width:767px){
  #hs_cos_wrapper_{{ name }}  .calltoacSection {
     {{ module.style.spacing_style.spacing_top_bottom_mobile.css }}
   }
  }
  
  
  </style>

{% end_require_css %}




