.mulcolumntextItems { width:24.33%; padding: 0 22px; margin: 0 0 30px; display:flex }
.mulcolumntextInner { margin: 0 -22px; }
.row-fluid .mulcolumntextNumber h3 { color: #fff;  font-weight: 400;    font-size: 72px;    line-height: none; }
.row-fluid .mulcolumntextText h4 { color: #222222;    font-size: 15px;    line-height: 20px;    font-weight: 700;    font-family: 'freight-sans-pro'; margin: 0; }
.row-fluid .mulcolumntextTitle h2 { text-align:center ; color: #fff;    font-size: 30px;    line-height: 26px;    font-family: 'Noto Sans' !important;    font-weight: 600; margin: 0 0 40px; }
.row-fluid .mulcolumntextPillars { overflow: hidden; }
.row-fluid .mulcolumntextText {padding-left:10px;}
.row-fluid .mulcolumntextText span {color:#FF6A00; font-weight:600;}

@media(max-width:991px) { 
.mulcolumntextItems { width: 100%;    padding: 0 22px;    text-align: center; margin: 0 0 10px} 
.mulcolumntextInner { margin: 0; }
.row-fluid .mulcolumntextNumber h3, .row-fluid .mulcolumntextText h4 { text-align: left; }
.row-fluid .mulcolumntextText {text-align:left;}
.row-fluid .mulcolumntextTitle h2 {    text-align: left;
    padding: 0 22px;}
} 