<div class="mulcolumntextPillars fullwidth">
  <div class="wrapper">
  <div class="mulcolumntextOuter">
    <div class="mulcolumntextTitle">
      <h2>{{ module.title }}</h2>
    </div>
    <div class="mulcolumntextInner flexwrap">
    {% for item in module.column_item %}
     {% set loop_index = loop.index %}  
      {% set animateDelay = "0."+((loop_index*2)+(1))+"s"%}
      <div class="mulcolumntextItems wow {{ module.style.animation_style.animation_type }}" data-wow-duration="{{ module.style.animation_style.speed }}s" data-wow-delay="{{(animateDelay)}}" style="visibility: visible;  animation-name: fadeInUp;">
        <div class="mulcolumntextNumber">
          <h3> {{ item.number }} </h3>
        </div>
        <div class="mulcolumntextText">
         <p> {{ item.text_field }} </p>
        </div>
      </div>
    {% endfor %}
    </div>    
  </div>
  </div>
</div>


{% require_css %}
  <style>
    #hs_cos_wrapper_{{ name }} .mulcolumntextPillars
     {
      {% if module.style.background_style.select_background == 'color' %}
      background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
      {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}
      {% elif module.style.background_style.select_background == 'image' %}
      {{ module.style.background_style.backgroundimage_field.css }}
      {% endif %}
      }
      #hs_cos_wrapper_{{ name }} .mulcolumntextTitle h2 {  color:{{ module.style.color_style.title_color.color }}; }
      #hs_cos_wrapper_{{ name }} .mulcolumntextNumber h3 { color:{{ module.style.color_style.number_color.color }}; }
      #hs_cos_wrapper_{{ name }} .mulcolumntextText p { color: {{ module.style.color_style.text_color.css }}!important; }
      
       {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .mulcolumntextOuter { width:{{ module.style.container_style.add_inner_content_width }}%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:1240px; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'semi-narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:1000px; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:775px; margin: 0 auto;}
      {% endif %}
      
      @media(max-width:992px){
      {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .mulcolumntextOuter { width:{{ module.style.container_style.add_inner_content_width }}%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'semi-narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      {% endif %}
            }
    
     @media(max-width:767px){
     .row-fluid .mulcolumntextPillars { {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}  }
     }
  
  </style>
{% end_require_css %}




