.row-fluid .mucSection { overflow: hidden; }	
.row-fluid .mcisItem { width: 20%;     padding: 0 10px; margin:0 0 30px; }
.row-fluid .mcisInner { margin: 0 -15px; }
.row-fluid .mcisInner.flexwrap { justify-content: center; -webkit-justify-content: center; }
.row-fluid .mcisIcon img { max-width: 50px;     margin: 0 auto; } 
.row-fluid .mcisIcon { text-align: center; }
.row-fluid .mcisIcon img { max-width: 50px !important;  }
.row-fluid .mcisTop h2 { color: #222;    margin: 0 0 20px; }
.row-fluid .mcisTop { margin: 0 auto 40px; }
.row-fluid .mcisBText a { color: #333;    font-size: 15px;    line-height: normal;    position: relative;    /*padding: 0 20px 0 0;*/    font-family: 'freight-sans-pro' !important;    font-weight: 700; }
.mcisIcon { margin: 0 0 20px; }
.row-fluid .mcisBText a:hover { color: #ff8300 !important; }
/*.row-fluid .mcisBText a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%; transform: translateY(-50%);    right: 0px;    font-family: fontawesome;    color: #222;    transition: all ease-in-out .3s; }*/
.row-fluid .mcisBText a:hover:before { opacity: 1;    visibility: visible; right:-10px; }
.row-fluid .mcisButton { margin: 30px 0 0;     text-align: center; }
.row-fluid .mcisButton a { font-family: 'freight-sans-pro' !important;  position: relative;  font-weight: 700;    padding: 0 10px; text-transform: uppercase;background: linear-gradient(to left, #ff8300 50%, #222 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; } 
.row-fluid .mcisButton a:hover, .row-fluid .mcisItem:hover .mcisButton a:hover {    background-position:left; }
.row-fluid .mcisButton a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%; transform: translateY(-50%);    right: -15px;    font-family: fontawesome;    color: #222;    opacity: 1;    visibility: visible; transition: all ease-in-out .3s; background: linear-gradient(to right, #222, #222 50%, #222 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.row-fluid .mcisButton a:hover:before, .row-fluid .mcisItem:hover .mcisButton a:hover:before { opacity: 1;    visibility: visible; right:-20px;background-position:left; }
.mcisBottom { overflow: hidden; }
.row-fluid .mcisItem:hover .mcisIcon img { filter: invert(55%) sepia(47%) saturate(3034%) hue-rotate(360deg) brightness(101%) contrast(107%); }


@media(max-width:991px){
 
 .row-fluid .mcisItem { width: 33.33%; margin: 0 0 30px; }
  
  .row-fluid .mcisButton { margin: 10px 0 0;    text-align: center; }
  
  
  
}


@media(max-width:767px){
 .row-fluid .mcisSection { padding: 60px 0; }
.row-fluid .mcisItem { width:50%; }

}








