.textNavigation { width: 100%; position: relative; padding: 0px 100px; display: flex;}
.textSholder { width: 100%;  position: relative; }
.textScInner { padding: 00px 100px 00px 30px;  }  
.textScInner .textScontent{display:flex; height: 100%;}  
.textScInner .textScontent .section1{width:60%; padding:70px;}  
.textScInner .textScontent .section2{width:40%;     padding: 60px 30px; min-height: 570px; height:auto;}  
.textScInner .textScontent .section2 h2 {font-size:24px;text-align: left;letter-spacing: -0.24px; font-weight:600; line-height:30px;}
.textScInner .textScontent .section2 h3 {font-size:24px; font-weight:600; font-style: italic; text-align: left;letter-spacing: -0.24px; margin-top:20px;}
.textScInner .textScontent .section2 h4 {font-size:24px;font-weight:600;text-align: left; letter-spacing: -0.24px;margin-top:20px;}
.textHeading.active img { filter: invert(55%) sepia(47%) saturate(3034%) hue-rotate(360deg) brightness(101%) contrast(107%);}
.textcon { position: absolute;    top: 0;    left: 0;    transition: all ease-in-out .3s;    opacity: 0;    visibility: hidden; }
.textHeading.active .textcon  { opacity: 1;    visibility: visible; }
.textHeading.active .textText { color:#ff8300 !important; }
.textHeading img {width:60px;}
.textcon svg polygon { fill: #fff; }
.textText { font-size: 15px;  color: #fff; text-align: -webkit-center; font-weight:700;}
.textHeading:hover .textText {color: #ff8300 !important;}
.textHeading { font-family: "Noto Sans",sans-serif;    cursor: pointer;    position: relative;  width: 25%;  }
.textText img{ width:60px; display:block;margin-bottom:14px; height:68px;}
.row-fluid .textSlide h3 { font-weight: 600; }
.textSButon { width: 100%; /*position: absolute; bottom: 0;*/ }
.textSButon a  { padding: 10px 0px; position:relative;font-family: 'freight-sans-pro' !important;text-transform:uppercase;    font-weight: 700;   box-sizing: border-box !important;background: linear-gradient(to left, #ff8300 50%, #e57500 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.textSButon a:hover {background-position:left; }
.textSButon a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%;    transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #222;   transition: all ease-in-out .3s;background: linear-gradient(to right, #002e6d, #002e6d 50%, #002e6d 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.textIcons { position: absolute;    bottom: 5px;    right: 5px;    width: 50%;    height: 50%;        background-repeat: repeat;    background-size: auto;    background-size: contain;    background-position: center;    background-repeat: no-repeat;    opacity: 1;    mix-blend-mode: overlay; }
.textSButon a:hover:before { opacity: 1; visibility: visible; right:-25px;background-position:left; }
.static-textSButon { width: 100%;position: absolute; bottom: 0; }
.static-textSButon a  { padding: 50px 30px; position:relative;font-family: 'freight-sans-pro' !important;text-transform:uppercase;    font-weight: 700;   box-sizing: border-box !important; }
.static-textSButon a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%;    transform: translateY(-50%);    right: 8px;    font-family: fontawesome;    color: #222;   transition: all ease-in-out .3s; }
.static-textSButon a:hover:before { opacity: 1; visibility: visible; right:3px; }

.textSButon a  { padding: 50px 0px; position:relative;font-family: 'freight-sans-pro' !important;text-transform:uppercase;    font-weight: 700;   box-sizing: border-box !important;background: linear-gradient(to left, #ff8300 50%, #222 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.textSButon a:hover {background-position:left; }
.textSButon a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 49%;    transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #222;   transition: all ease-in-out .3s;background: linear-gradient(to right, #222, #002e6d 50%, #222 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.textSButon a:hover:before { opacity: 1; visibility: visible; right:-25px;background-position:0; }


.textSliderSec_bottom {height:8px;}
.textSholderSec .wrapper{ position: relative}
.textHeading:hover img {
    filter: invert(55%) sepia(47%) saturate(3034%) hue-rotate(
360deg) brightness(101%) contrast(107%);
}
.textSholderSec .slick-arrow {
    background-color: transparent;
    border: 0;
    font-size: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 50px;
    padding: 0;
    display: -webkit-flex !important;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 99;
}
.textSholderSec .lbPrev.slick-arrow {
    left: 50px;
}
.textSholderSec .lbNext.slick-arrow {
    right: 50px;
}
.textSholderSec .lbPrev.slick-arrow:before {
    content: "";
    background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/left-arrow.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 51px;
    position: absolute;
    background-size: contain;
    background-position: center;
}
.textSholderSec .lbNext.slick-arrow:before {
    content: "";
    background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/right-arrow.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 51px;
    position: absolute;
    background-size: contain;
    background-position: center;
}
@media(max-width:991px){
 .textNavigation { width: 100%; padding:10px; }
 .textSholder { width: 100%; padding: 0;  }
 .textSButon, .static-textSButon  { position: static; }
 .textScInner .textScontent .section2 {height:auto; min-height:auto;}
 .textHeading { font-family: "noto-sans-pro",sans-serif;    margin: 0px 0 20px;}
 .textSholderSec .lbNext, .textSholderSec .lbPrev{display: none!important;}
}

@media(max-width:991px){
 .textSButon a, .static-textSButon a  { font-size: 14px;    line-height: 18px;    text-align: left;     }
 .textSButon a span, .static-textSButon a span { text-overflow: ellipsis;    overflow: hidden;    max-width: 300px !important; }
  .textText { font-size: 16px;     width: 100%;}
  .textSButon a:before, .static-textSButon a:before { right: -20px; }      
  .textNavigation { display:block; }
  .textScInner { padding:20px  }  
.textScInner .textScontent{display:block; }  
.textScInner .textScontent .section1{width:100%; padding:10px;}  
.textScInner .textScontent .section2{width:100%;     padding: 10px}  
.textHeading{
    width: 48%;
    display: inline-flex;
}
 .textScInner .textScontent .section2 {height:auto;}
.textHeading { font-family: "noto-sans-pro",sans-serif;    margin: 0px 0 20px;}
}

@media(min-width:786px) and (max-width:1023px){
 .textScInner .textScontent .section2 {height:auto;}

}
 @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
.textScInner .textScontent .section2{min-height:62vh;}
}


@media (max-width:767px){
.textHeading {
    width: 48%;
    display: inline-flex;
        padding: 3px;

}
}



