<div class="textSliderSec fullwidth">
    <div class="wrapper">
    <div class="textInner flexwrap">
     <div class="textNavigation">
     {% for item in module.slider.slide %}
    <div class="textHeading {% if loop.index == 1 %} {{'active'}} {%endif%}" id="textHeading-{{loop.index}}" data-index="{{loop.index}}" data-index="{{loop.index}}">
     <div class="textText">
     	<img src="{{ item.icon.src }}" alt="{{ item.icon.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      {{ item.title }}
      </div>
      </div>
     {% endfor %}
      </div>
      </div>
      </div>
      </div>
      <div class="textSholderSec fullwidth">
    <div class="wrapper">
         <button class="lbPrev"></button>
         <button class="lbNext"></button>
       <div class="textInner">
       <div class="textSholder">
                <div class="textSlides">
                    {% for item in module.slider.slide %}
                    <div class="textSlide" data-slide-id="{{loop.index}}">
                     <div class="textScInner">
                        <div class="textScontent">
                           <div class="section1">
                           {{ item.slide_content }}
                            <div class="textSButon">
                              {% if item.button.select_cta_link == 'link' %}
                                <div class="textSNor">
                                {% set href = item.button.button_link.url.href %}
                                {% if item.button.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                                  {% set href = "mailto:" + href %}
                                {% endif %}
                                {% set rel = [] %}
                                {% if item.button.button_link.no_follow %}
                                  {% do rel.append("nofollow") %}
                                {% endif %}
                                {% if item.button.button_link.open_in_new_tab %}
                                  {% do rel.append("noopener") %}
                                {% endif %}
                                <a href="{{ href }}"
                                  {% if item.button.button_link.open_in_new_tab %}target="_blank"{% endif %}
                                  {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
                                  >
                                  {{ item.button.button_text }}
                                </a>
                                </div>
                              {% elif item.button.select_cta_link == 'cta' %}  
                                <div class="textSCta">
                                {% cta guid="{{ item.button.cta_field}}" %}
                                </div>
                               {% endif %}               
                              </div>  
                               </div>
                               {% if item.slider_content_section_2 %}
                               <div class="section2">{{ item.slider_content_section_2 }}</div>
                         {% endif %}                 
                         </div>
                    </div>                             
                 </div>
                    {% endfor %}
                </div>
               <div class="static-textSButon">
                {% if module.static_button.select_cta_link == 'link' %}
                  <div class="static-textSNor">
                  {% set href = module.static_button.button_link.url.href %}
                  {% if module.static_button.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                  {% endif %}
                  {% set rel = [] %}
                  {% if module.static_button.button_link.no_follow %}
                    {% do rel.append("nofollow") %}
                  {% endif %}
                  {% if module.static_button.button_link.open_in_new_tab %}
                    {% do rel.append("noopener") %}
                  {% endif %}
                  <a href="{{ href }}"
                    {% if module.static_button.button_link.open_in_new_tab %}target="_blank"{% endif %}
                    {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
                    >
                    {{ module.static_button.button_text }}
                  </a>
                  </div>
                {% elif module.static_button.select_cta_link == 'cta' %}  
                  <div class="static-textSCta">
                  {% cta guid="{{ module.static_button.cta_field}}" %}
                  </div>
                 {% endif %}               
                </div>    
            </div>
     </div>
    </div>
    <div class="textSliderSec_bottom">
    </div>
    
   
{% require_js %}
   <script>
     $(document).ready(function(){
     
         let slick = $(".textSlides").slick({
           arrows: true,
           draggable: false,
               dots: false,
           swipe:false,
           loop: false,
           adaptiveHeight: true,
           prevArrow: $('.lbPrev'),
           nextArrow: $('.lbNext')
           
        });

        $(".textHeading").click(function(e) {
          let slideIndex = parseInt($(this).data('index')) - 1;
           $(".textHeading.active").removeClass('active');
           $(this).addClass('active');
           slick.slick('slickGoTo', slideIndex)
        });

        $(".lbNext, .lbPrev").click(function(){
           let currentIndex = parseInt($('.slick-active').data('slide-id'));
           $(".textHeading.active").removeClass('active');
           $('#textHeading-'+currentIndex).addClass('active');
          
        });
        
      
    });
      
   </script>
{% end_require_js %}

{% require_css %}
  <style>
  {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; padding:0px; margin: 0 auto; }
  #hs_cos_wrapper_{{ name }} .textInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .textInner { width:100%; max-width:1240px; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .textInner { width:100%; max-width:1000px; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .textInner { width:100%; max-width:775px; margin: 0 auto; }
  {% endif %}
  
     {% if  module.style.container_style.height_adjustment %}
    #hs_cos_wrapper_{{ name }} .textScInner {
      min-height:{{ module.style.container_style.height_adjustment }}px;
    }
    {% endif %}
   #hs_cos_wrapper_{{ name }}  .textSliderSec {
     {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}
     {% if module.style.background_style.select_background  == 'bg_color' %}
     background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
     {% elif module.style.background_style.select_background  == 'bg_image' %}
     {{ module.style.background_style.backgroundimage_field.css }}
     
     {% endif %}
     
   }
  
  #hs_cos_wrapper_{{ name }} .textNavigation ,  #hs_cos_wrapper_{{ name }} .textSliderSec_bottom { 
   background-color:rgba({{ module.style.color_style.text_coontent_background_color.color|convert_rgb }},{{ module.style.color_style.text_coontent_background_color.opacity }}%);
  }
  .textSholder { 
    background-color:rgba({{ module.style.color_style.slider_background_color.color|convert_rgb }},{{ module.style.color_style.slider_background_color.opacity }}%);
  }
  .textSButon a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%;    transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #222;   transition: all ease-in-out .3s;background: linear-gradient(to right, {{ module.style.color_style.button_arrows_color.color }}, {{ module.style.color_style.button_arrows_color.color }} 50%, {{ module.style.color_style.button_arrows_color.color }} 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

  
    #hs_cos_wrapper_{{ name }} .textSholderSec{    background-color:rgba({{ module.style.color_style.slider_background_color.color|convert_rgb }},{{ module.style.color_style.slider_background_color.opacity }}%);
}
  
  #hs_cos_wrapper_{{ name }} .textText { color:{{ module.style.color_style.nav_title_color.color }}; }
  #hs_cos_wrapper_{{ name }} .textcon svg polygon { fill:{{ module.style.color_style.navigation_title_arrows_color.color }}; }
  #hs_cos_wrapper_{{ name }} .section1 h2 { color:{{ module.style.color_style.slider_title_color.color }}; }
  
  #hs_cos_wrapper_{{ name }} .textScontent, #hs_cos_wrapper_{{ name }} .textScontent p { color:{{ module.style.color_style.text_content_color.color }}  !important; }
  #hs_cos_wrapper_{{ name }} .static-textSButon {
    background-color:rgba({{ module.style.color_style.slider_button_background_color.color|convert_rgb }},{{ module.style.color_style.slider_button_background_color.opacity }}%);
    color:{{ module.style.color_style.slider_button_text_color.color }};
    
  }    
     #hs_cos_wrapper_{{ name }} .section2 {
      background-color:rgba({{ module.style.color_style.section_two_content_background.color|convert_rgb}},{{ module.style.color_style.section_two_content_background.opacity }}%);
     }
     #hs_cos_wrapper_{{ name }}  .textScontent .section2 h3,  #hs_cos_wrapper_{{ name }}  .textScontent .section2 p , #hs_cos_wrapper_{{ name }} .textScontent p strong  { 
       color:{{ module.style.color_style.section_two_content.color }} !important; 
      }
     #hs_cos_wrapper_{{ name }} .textScontent p strong em {color:#222!important }
    #hs_cos_wrapper_{{ name }} .textScontent  .section2 h2  { 
     color:{{ module.style.color_style.section_two_h2.color }} !important; 
    }
    #hs_cos_wrapper_{{ name }} .textScontent  .section2  table>tbody>tr>td> p { 
     color:{{ module.style.color_style.section_two_h2.color }} !important; }
    #hs_cos_wrapper_{{ name }} .static-textSButon a { color:{{ module.style.color_style.slider_button_text_color.color }}; }
    #hs_cos_wrapper_{{ name }} .static-textSButon a:before { color:{{ module.style.color_style.button_arrows_color.color }};  }
   
 @media(max-width:992px){
   {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { max-width:100%;width:100%;  padding:0px; margin: 0 auto;}
  #hs_cos_wrapper_{{ name }} .textInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .textInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .textInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .textInner { width:100%; max-width:100%; margin: 0 auto; }
  {% endif %}
 }  
   
  @media(max-width:767px){
  
  #hs_cos_wrapper_{{ name }}  .textSliderSec {
     {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}
   
   }
  
  }
  
  </style>

{% end_require_css %}
