.left-column-form { width: 50%; }
.right-column-text { width: 50%;    border-left: 10px solid #fff; display: flex; flex-flow: column;    justify-content: center;    display: -webkit-flex;    -webkit-flex-flow: column;    -webkit-justify-content: center;     }
.row-fluid .left-column-inner form textarea,
.row-fluid .left-column-inner form input[type="text"], 
.row-fluid .left-column-inner form input[type="number"], 
.row-fluid .left-column-inner form input[type="email"], 
.row-fluid .left-column-inner form input[type="tel"],
.row-fluid .left-column-inner form select { border-radius: 3px; color: #222; width:100%; border: 2px solid #fff; width: 100% !important;    margin: 0 !important;     background-color: #fff; font-family: 'Noto Sans' !important; padding: 8px 20px; box-shadow: none !important; }
.row-fluid .left-column-inner form textarea::placeholder,
.row-fluid .left-column-inner form input[type="text"]::placeholder, 
.row-fluid .left-column-inner form input[type="number"]::placeholder, 
.row-fluid .left-column-inner form input[type="email"]::placeholder, 
.row-fluid .left-column-inner form input[type="tel"]::placeholder,
.row-fluid .left-column-inner form select::placeholder { color:#222; }
.row-fluid .left-column-inner form .hs-input.error::placeholder { color: #f00; }

.row-fluid .left-column-inner form select { background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/black-drop.png); background-repeat: no-repeat;    background-position: center right 10px; background-size: 12px;    padding: 10px 30px 10px 20px; }
.row-fluid .left-column-inner form .hs-input.error { border-color: #f00; }
.row-fluid .left-column-inner form .hs-form-field  { width: auto !important; display: inline-block;    margin: 0 0 20px;    float: none !important;    padding: 0 !important; }
.row-fluid .left-column-inner form .legal-consent-container { margin: 0 0 20px; }
.row-fluid .left-column-inner form .legal-consent-container .hs-form-field { margin: 0 !important; }
.row-fluid .left-column-inner form .legal-consent-container .hs-form-field .input { margin: 0 !important; }
.row-fluid .left-column-inner form .input { margin: 0 !important; }
.row-fluid .left-column-inner form fieldset.form-columns-2 .field.hs-form-field { width: 50%;    padding: 0 5px; }
.row-fluid .left-column-inner form fieldset { max-width: 100% !important; }
.row-fluid .left-column-inner form .inputs-list .hs-input { width: auto !important; display:none;  }
.row-fluid .left-column-inner form .inputs-list label > span p { font-size: 16px;    line-height: 28px !important;    font-weight: 400; color: #222 !important; }
.row-fluid .left-column-inner form .inputs-list label > span { font-size: 16px;    line-height: 28px;    font-weight: 400; color: #222; position: relative; padding-left: 25px; margin-left: 0px; display: inline-block; cursor:pointer; }
.row-fluid .left-column-inner form .inputs-list label > span:before { border-radius: 3px; position: absolute; content: '';   left: 0;   top: 4px;    width: 15px;    height: 15px;   border:1px solid #222;       display: flex;    flex-wrap: wrap;    align-items: center;    justify-content: center;    display: -webkit-flex;    -webkit-flex-wrap: wrap;    -webkit-align-items: center;    -webkit-justify-content: center; }
.row-fluid .left-column-inner form .inputs-list label > span:after { content: ""; border-right: 2px solid #fff;    border-bottom: 2px solid #fff;    width: 3px;    height: 7px;    transform: rotate(45deg);    position: absolute;    left: 6px;    top: 7px; opacity: 0;    visibility: visible;}
.row-fluid .left-column-inner form .inputs-list .hs-input:checked+span:after { opacity:1; visibility:visible; }
.row-fluid .left-column-inner form .inputs-list .hs-input:checked+span:before { background-color:#002e6d; }
.row-fluid .left-column-inner form .hs-form-field > label > span { font-family: 'Noto Sans' !important;    font-size: 16px;    font-weight: 500;    color: #222;    margin: 0 !important;    display: inline-block; }
.row-fluid .left-column-inner form .inputs-list li { margin: 0 0 5px; }
.row-fluid .left-column-inner form .hs-form-field > label > span:empty { display: none; }
.row-fluid .left-column-inner form textarea { min-height: 100px; }
.row-fluid .left-column-inner form .hs-richtext, .row-fluid .left-column-inner form .hs-richtext p { color: #222 !important;    font-family: 'Noto Sans' !important;    font-weight: 400;    font-size: 16px; }
.row-fluid .left-column-inner form .hs-richtext a { display: inline;    font-size: 16px;    font-weight: 400; vertical-align: baseline; }
.row-fluid .left-column-inner form input.hs-button.primary.large {  color: #fff; background-color: #ff8300 !important; border-radius: 0 !important; border: 0;    padding: 10px 30px !important;    min-height: auto;    font-family: 'freight-sans-pro' !important;    font-weight: 700 !important;    text-transform: uppercase;    white-space: normal;    display: inline-block !important;    box-sizing: border-box; 
    background: linear-gradient(to left,#ff8300 50%,#e57500 50%) right; transition: all ease-in-out .3s; background-size: 200%;
}
.row-fluid .left-column-inner form input.hs-button.primary.large:hover{background-position: left;}
.row-fluid .left-column-inner form label.hs-error-msg { font-family: 'Noto Sans' !important;    color: #f00;    font-weight: 400;    margin: 5px 0;    display: inline-block;    font-size: 14px; }
.row-fluid .right-column-inner h2 { margin: 0 0 20px; }
.row-fluid .right-column-inner .right-column-Button a { background-color: transparent !important; color: #222; padding: 0 0 0 60px;    text-transform: uppercase;    font-weight: 700;    position: relative;    margin: 0;    line-height: 45px; width:160px;}
.row-fluid .right-column-inner .right-column-Button a:before { content: "";    background-image: url(https://f.hubspotusercontent20.net/hubfs/236379/2021-09-16.png);    content: "";    display: block;    height: 33px;    background-repeat: no-repeat;    position: absolute;    left: 10px;    top: 5px; bottom:5px;    width: 33px;    background-size: contain; }
.row-fluid .right-column-inner .right-column-Button a:hover {  color:#ff8300; }

.row-fluid .left-column-inner .hs-form-field > label { margin: 6px 0 6px 10px;    display: inline-block;    float: left;    vertical-align: middle; }
.row-fluid .left-column-inner .field.hs-form-field .input { display: inline-block;    box-sizing: border-box;    float: left;    vertical-align: middle;    margin-left: 10px !important; }

.row-fluid .left-column-inner ul.no-list.hs-error-msgs.inputs-list { display: none !important; }
.form-title:empty { display: none; }



@media(max-width:991px){
 
 .left-column-form { width: 100%; }
 .right-column-text { width: 100%;    border-left: 0;    border-top: 10px solid #fff; }
 .two-column-form-text .wrapper { padding: 0; } 
  
  
}

@media(max-width:767px){
   .row-fluid .left-column-inner form fieldset.form-columns-2, .row-fluid .left-column-inner form fieldset.form-columns-3 { margin: 0;    max-width: inherit !important; }
   .row-fluid .left-column-inner form fieldset.form-columns-2 .field.hs-form-field, .row-fluid .left-column-inner form fieldset.form-columns-3 .field.hs-form-field { width: 100%;    padding:0; }

   .row-fluid .left-column-inner form .hs-form-field { width: 100% !important; margin: 0 0 10px; }
   .row-fluid .left-column-inner .hs-form-field > label { width: 100%;    margin: 0 0 5px; }
   .row-fluid .left-column-inner .field.hs-form-field .input { width: 100%;    margin: 0 !important; }
  
  
  
  
}



 