<div class="two-column-form-text fullwidth">
<div class="wrapper">

  <div class="two-column-inner flexwrap {{ module.style.alignment_options.select_left_right_options }} {{ module.style.container_style.select_container_sizes }} ">
  
    <div class="left-column-form" >
      <div class="left-column-inner">
        {% form
          form_to_use="{{ module.form_content.form_field.form_id }}"
          response_response_type="{{ module.form_content.form_field.response_type }}"
          response_message="{{ module.form_content.form_field.message }}"
          response_redirect_id="{{ module.form_content.form_field.redirect_id }}"
          response_redirect_url="{{module.form_content.form_field.redirect_url}}"
          gotowebinar_webinar_key="{{ module.form_content.form_field.gotowebinar_webinar_key }}"
        %}
      </div>
    </div>
    <div class="right-column-text">
      <div class="right-column-inner">
        <div class="right-columnContent">
        {{ module.content.content }}
        </div>
        <div class="right-column-Button">
        {% if module.content.select_cta_link == 'link'  %}
          {% set href = module.content.meeting_link.url.href %}
          {% if module.content.meeting_link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
          {% endif %}
          {% set rel = [] %}
          {% if module.content.meeting_link.no_follow %}
            {% do rel.append("nofollow") %}
          {% endif %}
          {% if module.content.meeting_link.open_in_new_tab %}
            {% do rel.append("noopener") %}
          {% endif %}
          <a href="{{ href }}"
            {% if module.content.meeting_link.open_in_new_tab %}target="_blank"{% endif %}
            {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
            >
            {{ module.content.sub_text }}
          </a>
          {% elif module.content.select_cta_link == 'cta'  %}
            {% cta guid="{{ module.content.cta_field }}" %}
          {% endif %}
        
        </div>
      </div>
    </div>
   </div>
   
</div>
</div>










{% require_css %}
  <style>
  {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; padding: 0; margin: 0 auto;}
  #hs_cos_wrapper_{{ name }} .two-column-inner { width:100%; max-width:100%;  margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .two-column-inner { width:100%; max-width:1240px; margin: 0 auto; }
    {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .two-column-inner { width:100%; max-width:1000px; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .two-column-inner { width:100%; max-width:775px; margin: 0 auto; }
  {% endif %}
  
   #hs_cos_wrapper_{{ name }}  .left-column-form {
     {{ module.style.spacing_style.spacing_style_form_section.spacing_top_bottom_desktop_.css }}
     
     {% if module.style.background_style.form_section_background.select_background  == 'back_color' %}
     background-color:rgba({{ module.style.background_style.form_section_background.background_color.color|convert_rgb }},{{ module.style.background_style.form_section_background.background_color.opacity }}%);
     {% elif module.style.background_style.form_section_background.select_background  == 'back_image' %}
     {{ module.style.background_style.form_section_background.backgroundimage_field.css }}
     
     {% endif %}
     
   }
        {% if module.content.icon.src  %}
   #hs_cos_wrapper_{{ name }} .row-fluid .right-column-inner .right-column-Button a:before { background-image:url({{ module.content.icon.src }}); }  
        {% endif %}

   #hs_cos_wrapper_{{ name }}  .right-column-text {
     {{ module.style.spacing_style.spacing_style_content_section.spacing_top_bottom_desktop_.css }}
     
     {% if module.style.background_style.content_background_color.select_background  == 'back_color' %}
     background-color:rgba({{ module.style.background_style.content_background_color.background_color.color|convert_rgb }},{{ module.style.background_style.content_background_color.background_color.opacity }}%);
     {% elif module.style.background_style.content_background_color.select_background  == 'back_image' %}
     {{ module.style.background_style.content_background_color.backgroundimage_field.css }}
     
     {% endif %}
     
   }
   
   
   #hs_cos_wrapper_{{ name }}  .two-column-form-text {     
     {% if module.style.background_style.full_section_background_color.select_background  == 'back_color' %}
     background-color:rgba({{ module.style.background_style.full_section_background_color.background_color.color|convert_rgb }},{{ module.style.background_style.full_section_background_color.background_color.opacity }}%);
     {% elif module.style.background_style.full_section_background_color.select_background  == 'back_image' %}
     {{ module.style.background_style.full_section_background_color.backgroundimage_field.css }}
     
     {% endif %}
     
   }
   @media(max-width:992px){
    {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { max-width:100%; width:100%;  padding: 0; margin: 0 auto; }
  #hs_cos_wrapper_{{ name }} .two-column-inner { width:100%; max-width:100%;  margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .two-column-inner { width:100%; max-width:100%; margin: 0 auto; }
    {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .two-column-inner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .two-column-inner { width:100%; max-width:100%; margin: 0 auto; }
  {% endif %}
  }
   
  @media(max-width:767px){
  
    #hs_cos_wrapper_{{ name }}  .left-column-form {
     {{ module.style.spacing_style.spacing_style_form_section.spacing_top_bottom_mobile_.css }}
     
   }
   
   #hs_cos_wrapper_{{ name }}  .right-column-text {
     {{ module.style.spacing_style.spacing_style_content_section.spacing_top_bottom_mobile_.css }}
   }
  }
  

  
  </style>

{% end_require_css %}