@font-face {
  font-family: 'SourceSerifPro-Bold';  
  src: url('https://4260505.fs1.hubspotusercontent-na1.net/hubfs/4260505/Lp-2023/SourceSerifPro-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-VariableFont';  
  src: url('https://4260505.fs1.hubspotusercontent-na1.net/hubfs/4260505/Lp-2023/Inter-VariableFont_slnt%2cwght.ttf') format('truetype');
}
@font-face {
  font-family: 'SourceSerifVariable-Roman';  
  src: url('https://4260505.fs1.hubspotusercontent-na1.net/hubfs/4260505/Lp-2023/SourceSerifVariable-Roman.otf') format('truetype');
}


body {
margin:0px;
font-family: 'Inter-VariableFont';
}

a{
  cursor:pointer;
}

.altvia_section{
padding: 60px 0;
max-width: 1440px;
margin: 0 auto;
}


.altvia_page-center {
padding-right:60px;
padding-left:60px;
}

@media(max-width:767px){
.altvia_page-center {
    padding-left: 20px;
    padding-right: 20px;
}
}

.altvia_content {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
}
.altvia_content_text {
  width: 50%;
  color: white;
}

.altvia_content_img {
  width: 45%;
}

.altvia_heading {
    font-size: 24px;
    font-family: 'Inter-VariableFont';
    font-weight: 600;
    padding-bottom:25px;
}

.altvia_lists {
    font-family: 'Inter-VariableFont';
    font-size: 20px;
}

.altvia_lists ul{
    padding-inline-start: 15px;
}

.altvia_lists li {
    padding-bottom: 25px;
}


@media(max-width:992px){
.altvia_content {
  width: 100%;
  display: flex;
  flex-direction:column;
}
  .altvia_content_text {
  width: 100%;
}

.altvia_content_img {
  width: 100%;
}
}



