<div class="altvia_text-img">
<div class="altvia_section">
<div class="altvia_page-center">
<div class="altvia_content">
<div class="altvia_content_text">
<div class="altvia_heading">
{{ module.title }}  
</div>
<div class="altvia_lists">
<ul>
{% for item in module.list_content %}
<li>{{ item }}</li>
{% endfor %}
</ul>
</div>
<div class="altivia_cta">
{% cta guid="{{ module.cta_field }}" %}  
</div>
</div>
<div class="altvia_content_img">
{% if module.image_field.src %}
<img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}">
{% endif %}
</div>
</div>
</div>
</div>
</div>


{% require_css %}
<style>
{% scope_css %}
  .altvia_text-img{
  background-color:{{ module.style.color_field.color }};
  }

{% end_scope_css %}
</style>
{% end_require_css %}