.form-column { width: 100%; }
body .row-fluid .formTitle {font-size: 38px; line-height: 44px; margin-left: 19px !important;margin-bottom:44px !important;}
.row-fluid .formSection-inner form textarea,
.row-fluid .formSection-inner form input[type="text"], 
.row-fluid .formSection-inner form input[type="number"], 
.row-fluid .formSection-inner form input[type="email"], 
.row-fluid .formSection-inner form input[type="tel"],
.row-fluid .formSection-inner form select { font-size: 16px; line-height: 28px; color: #222; width:100%; border:none; border-bottom: 1px solid #D0CFCD; width: 100% !important;    margin: 0 !important;     background-color: #fff; font-family: 'Noto Sans' !important; padding: 8px 0px; box-shadow: none !important; }
.row-fluid .formSection-inner form textarea::placeholder,
.row-fluid .formSection-inner form input[type="text"]::placeholder, 
.row-fluid .formSection-inner form input[type="number"]::placeholder, 
.row-fluid .formSection-inner form input[type="email"]::placeholder, 
.row-fluid .formSection-inner form input[type="tel"]::placeholder,
.row-fluid .formSection-inner form select::placeholder { color:#222; }
.row-fluid .formSection-inner form .hs-input.error::placeholder { color: #f00; }
.row-fluid .formSection-inner form select { background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/black-drop.png); background-repeat: no-repeat;    background-position: center right 10px; background-size: 12px;    padding: 10px 30px 10px 0px; }
.row-fluid .formSection-inner form .hs-input.error { border-color: #f00; }
.row-fluid .formSection-inner form .hs-form-field  {display: inline-block;    margin: 0 0 50px;    float: none !important;    padding: 0 !important; }
.row-fluid .formSection-inner form .legal-consent-container { margin: 0 0 20px; }
.row-fluid .formSection-inner form .legal-consent-container .hs-form-field { margin: 0 !important; }
.row-fluid .formSection-inner form .legal-consent-container .hs-form-field .input { margin: 0 !important; }
.row-fluid .formSection-inner form .input { margin: 0 !important; }
.row-fluid .formSection-inner form fieldset.form-columns-2 .field.hs-form-field { width: 50%;    padding: 0 5px; }
.row-fluid .formSection-inner form fieldset { max-width: 100% !important; }
.row-fluid .formSection-inner form .inputs-list .hs-input { width: auto !important; display:none;  }
.row-fluid .formSection-inner form .inputs-list label > span p { font-size: 16px;    line-height: 28px !important;    font-weight: 400; color: #222 !important; }
.row-fluid .formSection-inner form .inputs-list label > span { font-size: 16px;    line-height: 28px;    font-weight: 400; color: #222; position: relative; padding-left: 25px; margin-left: 0px; display: inline-block; cursor:pointer; }
.row-fluid .formSection-inner form .inputs-list label > span:before { border-radius: 3px; position: absolute; content: '';   left: 0;   top: 4px;    width: 15px;    height: 15px;   border:1px solid #222;       display: flex;    flex-wrap: wrap;    align-items: center;    justify-content: center;    display: -webkit-flex;    -webkit-flex-wrap: wrap;    -webkit-align-items: center;    -webkit-justify-content: center; }
.row-fluid .formSection-inner form .inputs-list label > span:after { content: ""; border-right: 2px solid #fff;    border-bottom: 2px solid #fff;    width: 3px;    height: 7px;    transform: rotate(45deg);    position: absolute;    left: 6px;    top: 7px; opacity: 0;    visibility: visible;}
.row-fluid .formSection-inner form .inputs-list .hs-input:checked+span:after { opacity:1; visibility:visible; }
.row-fluid .formSection-inner form .inputs-list .hs-input:checked+span:before { background-color:#002e6d; }
.row-fluid .formSection-inner form .hs-form-field > label > span { font-family: 'Noto Sans' !important;    font-size: 16px;    font-weight: 500;    color: #222;    margin: 0 !important;    display: inline-block; }
.row-fluid .formSection-inner form .inputs-list li { margin: 0 0 5px; }
.row-fluid .formSection-inner form .hs-form-field > label > span:empty { display: none; }
.row-fluid .formSection-inner form textarea { min-height: 100px; }
.row-fluid .formSection-inner form .hs-richtext, .row-fluid .formSection-inner form .hs-richtext p { color: #222 !important;    font-family: 'Noto Sans' !important;    font-weight: 400;    font-size: 16px; margin-left:10px; }
.row-fluid .formSection-inner form .hs-richtext a { display: inline;    font-size: 16px;    font-weight: 400; vertical-align: baseline; }
.row-fluid .formSection-inner form input.hs-button.primary.large {  color: #fff; background-color: #ff8300 !important; border-radius: 0 !important; border: 0;    padding: 10px 30px !important;    min-height: auto;    font-family: 'freight-sans-pro' !important;    font-weight: 700 !important;    text-transform: uppercase;    white-space: normal;    display: inline-block !important;    box-sizing: border-box; background: linear-gradient(to left,#ff8300 50%,#e57500 50%) right;transition: all ease-in-out .3s;background-size: 200%;}
.row-fluid .formSection-inner form input.hs-button.primary.large:hover{background-position: left;}
.row-fluid .formSection-inner form label.hs-error-msg { font-family: 'Noto Sans' !important;    color: #f00;    font-weight: 400;    margin: 5px 0;    display: inline-block;    font-size: 14px; padding-left:19px;}
.row-fluid .formSection-inner .hs-form-field > label { margin: 6px 0 6px 10px;    display: inline-block;    float: left;    vertical-align: middle; }
.row-fluid .formSection-inner .field.hs-form-field .input { display: block;  box-sizing: border-box;  float: initial;   vertical-align: middle;    margin-left: 19px !important; }
/*.row-fluid .formSection-inner ul.no-list.hs-error-msgs.inputs-list { display: none !important; }*/
.row-fluid .form-title:empty { display: none; }
.row-fluid .formSection-inner form  textarea { border: 1px solid #D0CFCD ; min-height: 160px; padding-right: 20px; padding-left: 20px;}
.row-fluid .formSection-inner form  {width:100% !important;}
.row-fluid .formSection-inner form .hs-fieldtype-textarea{width:100% !important;margin: 0 0 27px !important;}
.row-fluid .formSection-inner form .hs_submit {margin-left:19px}
.row-fluid .formSection-inner .hs-form-field>label{margin-left:19px}
.row-fluid .formSection-inner form .hs-fieldtype-checkbox {margin: 0 0 30px !important;}
.row-fluid .formSection-inner form .hs-recaptcha {margin: 0 0 37px !important;}

@media(max-width:991px){
 .form-column { width: 100%; }
 .form-column h2 { margin-bottom:10px !important;}
}

@media(max-width:767px){
   body .row-fluid .formTitle{margin-left: 0!important;}
   .row-fluid .formSection-inner form fieldset.form-columns-2, .row-fluid .formSection-inner form fieldset.form-columns-3 { margin: 0;    max-width: inherit !important; }
   .row-fluid .formSection-inner form fieldset.form-columns-2 .field.hs-form-field, .row-fluid .formSection-inner form fieldset.form-columns-3 .field.hs-form-field { width: 100%;    padding:0; }
   .row-fluid .formSection-inner form .hs-form-field { width: 100% !important; margin: 0 0 10px; }
   .row-fluid .formSection-inner .hs-form-field > label { width: 100%;    margin: 0 0 5px; }
   .row-fluid .formSection-inner .field.hs-form-field .input { width: 100%;    margin: 0 !important; }
.form-column h2 {margin-left: 0px !important; }
 
.row-fluid .formSection-inner form .hs-richtext, .row-fluid .formSection-inner form .hs-richtext p {  margin-left:0px; }
.row-fluid .formSection-inner .hs-form-field>label{margin-left:0px}

.row-fluid .formSection-inner form .hs_submit {margin-left:0px;}
}



 