<div id="form" class="formSection fullwidth">
<div class="wrapper">
<div class="form-inner flexwrap {{ module.style.container_style.select_container_sizes }} ">
<div class="form-column" >
{% if module.form_title %} <h2 class="formTitle">{{ module.form_title }}</h2>{% endif %}
<div class="formSection-inner">
{% form
  form_to_use="{{ module.form_content.form_field.form_id }}"
  response_response_type="{{ module.form_content.form_field.response_type }}"
  response_message="{{ module.form_content.form_field.message }}"
  response_redirect_id="{{ module.form_content.form_field.redirect_id }}"
  response_redirect_url="{{module.form_content.form_field.redirect_url}}"
  gotowebinar_webinar_key="{{ module.form_content.form_field.gotowebinar_webinar_key }}"
%}
</div>
</div>
</div>
</div>
</div>



{% require_css %}
  <style>
  {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { max-width:100%; width:100%; padding: 0; }
  #hs_cos_wrapper_{{ name }} .form-inner { width:100%; max-width:100%;  margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .form-inner { width:100%; max-width:1240px; margin: 0 auto; }
   {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .form-inner { width:100%; max-width:1000px; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .form-inner { width:100%; max-width:775px; margin: 0 auto; }
  {% endif %}
   #hs_cos_wrapper_{{ name }}  .form-column {
   {{ module.style.spacing_style.spacing_style_form_section.spacing_top_bottom_desktop_.css }}

   }
   #hs_cos_wrapper_{{ name }}  .formSection {     
     {% if module.style.background_style.background_color %}
     background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
     {% endif %}
   }
  @media(max-width:992px){
   {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { max-width:100%; width:100%;  padding: 0; }
  #hs_cos_wrapper_{{ name }} .form-inner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .form-inner { width:100%; max-width:100%; margin: 0 auto; }
   {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .form-inner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .form-inner { width:100%; max-width:100%; margin: 0 auto; }
  {% endif %}
   }
   
   
  @media(max-width:767px){
    #hs_cos_wrapper_{{ name }}  .form-column {
     {{ module.style.spacing_style.spacing_style_form_section.spacing_top_bottom_mobile.css }}
   }
  }
  
 .row-fluid .formSection-inner form textarea,
.row-fluid .formSection-inner form input[type="text"], 
.row-fluid .formSection-inner form input[type="number"], 
.row-fluid .formSection-inner form input[type="email"], 
.row-fluid .formSection-inner form input[type="tel"],
.row-fluid .formSection-inner form select {    background-color:rgba({{module.style.background_style.field_backgrounf_color.color|convert_rgb }},{{  module.style.background_style.field_backgrounf_color.opacity }}%) !important;  }

  
</style>
{% end_require_css %}











