.imageButton a { color: white;    font-size: 16px;    cursor: pointer;    text-transform: uppercase;    font-weight: 700; position: relative;background: linear-gradient(to left, #ff8300 50%, #e57500 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.imageButton a:hover {background-position:left;}
.imageButton a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%; transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #222;   transition: all ease-in-out .3s; background: linear-gradient(to right, #002e6d, #002e6d 50%, #002e6d 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.imageButton a:hover:before { opacity: 1;    visibility: visible; right:-25px;background-position:left; }
.imageButton { margin:20px 0 0; }  


@media(max-width:767px){
.imageInner { width: 100% !important; }
}