<div class="imageSection fullwidth">
  <div class="wrapper">
    <div class="imageInner">
      <div class="imageContent">
        {% if module.image_field.src %}
          {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}"' %}
          {% if module.image_field.size_type == 'auto' %}
            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
          {% elif module.image_field.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.image_field.max_width }}" height="{{ module.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
           {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
           <a href="{{ module.image_url.href }}" target="_blank">  <img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}></a>
        {% endif %}
      </div>
      {% if module.select_button_or_link != '' %}
      <div class="imageButton">
       {% if module.select_button_or_link == 'link' %}
      {% set href = module.button_link.url.href %}
        {% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}
        {% set rel = [] %}
        {% if module.button_link.no_follow %}
          {% do rel.append("nofollow") %}
        {% endif %}
        {% if module.button_link.open_in_new_tab %}
          {% do rel.append("noopener") %}
        {% endif %}
        <a href="{{ href }}"
          {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
          {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
          >
          {{ module.button_text }}
        </a>
        {% elif module.select_button_or_link == 'cta' %}
          {% cta guid="{{ module.cta_field }}" %}
        {% endif %}
      </div>
    {% endif %}
    </div>
  </div>
</div>

{% require_css %}
   <style>
     {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { max-width:100%;width:100%; margin : 0 auto;}
      #hs_cos_wrapper_{{ name }} .imageInner { max-width:100%; width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .imageInner { width:100%; max-width:1240px; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .imageInner { width:100%; max-width:1000px; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .imageInner { width:100%; max-width:775px; margin: 0 auto; }
      {% endif %}
      
       #hs_cos_wrapper_{{ name }}  .imageSection {
     {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}
     background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);

   }
   
   #hs_cos_wrapper_{{ name }} .imageButton { {{ module.style.content_alignment.button_alignment.css|lower }} !important;  }
   
   @media(max-width:992px){
      {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .imageInner {width:100%;  max-width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .imageInner { width:100%;  max-width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .imageInner { width:100%; max-width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .imageInner { width:100%; max-width:100%; margin: 0 auto; }
      {% endif %}
      }
   
   
   @media(max-width:767px){
    #hs_cos_wrapper_{{ name }}  .imageSection {
      {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}
    }
    #hs_cos_wrapper_{{ name }} .imageContent img{width:100%; height: auto;}
   }
   

   </style>
{% end_require_css %}
