@font-face {
  font-family: 'SourceSerifPro-Bold';  
  src: url('https://4260505.fs1.hubspotusercontent-na1.net/hubfs/4260505/Lp-2023/SourceSerifPro-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-VariableFont';  
  src: url('https://4260505.fs1.hubspotusercontent-na1.net/hubfs/4260505/Lp-2023/Inter-VariableFont_slnt%2cwght.ttf') format('truetype');
}
@font-face {
  font-family: 'SourceSerifVariable-Roman';  
  src: url('https://4260505.fs1.hubspotusercontent-na1.net/hubfs/4260505/Lp-2023/SourceSerifVariable-Roman.otf') format('truetype');
}


body {
margin:0px;
font-family: 'Inter-VariableFont';
}

.altvia_text_section {
  width: 100%;
}

.altvia_wrapper {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin:0 auto;
}

.altvia_side_img {
  width: 30%;
}
.altvia_side_img img{
  max-height: 100%;
  max-width: 300%;
}

.altvia_text_area {
  width: 75%;
  padding: 16px 20px;
  font-size: 25px;
  font-family: "Inter-VariableFont";
  font-weight: 600;
  line-height: 35px;
  color: #263238;
}

@media(max-width:1200px){
  .altvia_text_area {
    font-size: 20px;
  }
}

@media (max-width: 992px){
  .altvia_text_area {
    font-size: 18px;
    line-height: 30px;
  }
}

@media(max-width:767px){
  .altvia_text_area {
    font-size: 15px;
    line-height: 25px;
  }
  .altvia_side_img-mobile img{
    width:220px;
  }
}


@media(max-width:600px){
  .altvia_text_area {
    font-size: 18px;
    line-height: 30px;
    padding-bottom:15px;
    width: 85%;
  }
  .altvia_wrapper {
    flex-direction: column-reverse;
    padding: 60px 0px;
  }
  .altvia_side_img-mobile {
    padding-bottom: 16px;
  }
}  









