<div class="altvia_text_section">
<div class ="altvia_wrapper">
<div class="altvia_side_img">
{% if module.image_field.src %}
<img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}">
{% endif %}  
</div>
<div class="altvia_side_img-mobile">
{% if module.mobile_image.src %}
	<img src="{{ module.mobile_image.src }}" alt="{{ module.mobile_image.alt }}">
{% endif %} 
</div>
<div class="altvia_text_area">
{% if module.content %}
{{ module.content }} 
{% endif %}
</div>
</div>
</div>

{% require_css %}
<style>

.altvia_text_section{
  background-color: {{ module.style.background_color.color }};
}

  @media(min-width:993px){
      .altvia_side_img{
    display:block;
    }
    .altvia_side_img-mobile{
    display:none;
    }
  }
   @media(max-width:992px){
    .altvia_side_img{
    display:none;
    }
   .altvia_side_img-mobile{
    display:block;
    }
  }
  
</style>
{% end_require_css %}