.resultpostInner { margin: 0 -22px; }
.heading_right {width:50%;}
.heading_left{width:50%;}
.richButton a{color:#fff;font-size:16px;cursor:pointer;text-transform:uppercase;font-weight:700;position:relative;background:linear-gradient(to left,#ff8300 50%,#e57500 50%) right;background-size:200%;background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.flexwrap{display:flex;flex-flow:row wrap;justify-content:left;display:-webkit-flex;-webkit-flex-flow:row wrap;-webkit-justify-content:left}
.background{height:500px}
.resultpostBanner_content .Banner_heading .heading span {  line-height: 27px;  font-size: larger;font-weight: 700; color:#FD853A;padding-left: 5px;
    padding-right: 5px;}
.resultpostSec .resultpostInner .resultpostBanner_content{  padding: 30px 65px;}
.resultpostBanner_content .Banner_heading .heading h2 {font-size: 22px;line-height: 30px;text-transform: uppercase;font-weight: 600;letter-spacing: 1px; }
.resultpostBanner_content .Banner_heading .heading h4 {font-size: 22px;line-height: 30px;}
.resultpostBanner_content .Banner_heading .heading   {margin-bottom: 30px;}
.row-fluid .resultpostBanner_content .Banner_heading .Banner_subheading h5 {font-size:15px;line-height:25px;}
 .resultpostBanner_content .Banner_heading .Banner_subheading h3  {font-size:28px;line-height:25px;    font-family: "freight-sans-pro",sans-serif !important;}   
    
  .resultpostBanner img {height:auto; width:100%;}
@media(max-width:991px) { 
  .resultpostBanner img {height:auto; width:100%;}
.resultpostInner { margin: 0; }
.row-fluid .contctTitle h3, .row-fluid .contctText h4, .row-fluid .contctTitle h2 { text-align: center; }
 .resultpostBanner_content .Banner_heading .Banner_subheading h3  {font-size:22px;line-height:25px;    font-family: "freight-sans-pro",sans-serif !important;}   
  .resultpostSec .resultpostInner .resultpostBanner_content {padding:30px;}
    
} 