<div class="resultpostSec fullwidth">
	<div class="background"></div>
	<div class="wrapper">
		<div class="resultpostOuter">
			<div class="resultpostInner ">
      <div class="resultpostBanner">
	      <img src="{{ module.banner_image.src }}" alt="{{ module.banner_image.alt }}" >
      </div>
      <div class="resultpostBanner_content">
      <div class="Banner_heading">
      <div class="heading flexwrap"><h2>{{ module.heading }}</h2><span>|</span> <h4>{{ module.company_name }}</h4>
      </div>
       <div class="Banner_subheading flexwrap">
      <div class="heading_right"><h5>{{ module.content_left_text.title }}</h5><h3>{{ module.content_left_text.subtitle }}</h3>
      </div>
       <div class="heading_left"><h5>{{ module.content_right_text.title }}</h5><h3>{{ module.content_right_text.subtitle }}</h3>
      </div>
      </div>
      </div>
			</div>
		</div>
	</div>
</div>


{% require_css %}
  <style>
    .row-fluid  .resultpostSec { 
      background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
      {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}  }
      
    .background {
     background-color:rgba({{ module.style.background_style.background_color_one.color|convert_rgb }},{{ module.style.background_style.background_color_one.opacity }}%);
     }
  
    .row-fluid  .resultpostSec .resultpostInner .resultpostBanner_content { 
      background-color:rgba({{ module.style.background_style.wrapper_background_color.color|convert_rgb }},{{ module.style.background_style.wrapper_background_color.opacity }}%);
      }
   #hs_cos_wrapper_{{ name }}  .resultpostBanner_content .Banner_heading .heading h2,#hs_cos_wrapper_{{ name }}  .resultpostBanner_content .Banner_heading .heading h4, #hs_cos_wrapper_{{ name }} .resultpostBanner_content .Banner_heading .Banner_subheading h3 { color:{{ module.style.color_style.title_color.color }}; }
    #hs_cos_wrapper_{{ name }} .resultpostBanner_content .Banner_heading .Banner_subheading h5 { color: {{ module.style.color_style.text_color.css }}; }
      
    {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .resultpostOuter { width:{{ module.style.container_style.add_inner_content_width }}%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:1240px; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:1000px; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:775px; margin: 0 auto;}
      {% endif %}
    .row-fluid #hs_cos_wrapper_{{ name }} .resultpostSec .resultpostInner {  margin-top: {{ module.style.section_positioning }}px;}
 
     @media(max-width:992px){
       {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .resultpostOuter { width:{{ module.style.container_style.add_inner_content_width }}%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      {% endif %}      
      }

     @media(max-width:767px) {
     .row-fluid .resultpostSec { {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }} }
     }
  </style>
{% end_require_css %}




