<div class="heroSection fullwidth"
	 style="background-image:url('{{ module.background_image.src }}');
	 		background-size:cover;
	 		background-position:center top">

</div>
<div class="heroSection-titleBand fullwidth">
 <div class="heroTitle">
 {{ module.title }}
 </div>
</div>