<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td background="{{ module.banner_image.src }}" bgcolor="{{ module.fallback_bg_color.color }}" valign="top">
      <!--[if gte mso 9]>
      <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="mso-width-percent:1000;">
        <v:fill type="tile" src="{{ module.banner_image.src }}" color="{{ module.fallback_bg_color.color }}" />
        <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
      <![endif]-->
      <div>
                        <table cellpadding="0" cellspacing="0" border="0" style="min-width: 100%; width: 100%;">
                            <tr>
                                <td width="20">&nbsp;</td>
                                <td width="560">
                                    <table cellpadding="0" cellspacing="0" border="0" valign="middle" style="min-width: 100%; width: 100%; color: #ffffff;">
                                        <tr>
                                            <td colspan="2" height="40" style="line-height: 0.5;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="">
                                                <div style="font-size: 30px; font-weight: bold; line-height: 1.2;color:#ffffff;">
                                                    {{ module.heading }}
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" height="20" style="line-height: 0.5;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="">
                                                <div style="font-size: 21px;color:#ffffff;">
                                                    {{ module.sub_heading }}
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" height="40" style="line-height: 0.5;">&nbsp;</td>
                                        </tr>
                                    </table>

                                </td>
                                <td width="20">&nbsp;</td>
                            </tr>
                            </table>         
              </div>
      <!--[if gte mso 9]>
        </v:textbox>
      </v:rect>
      <![endif]-->
    </td>
  </tr>
</table>