<div class="testiSection {{ module.style.container_style.select_container_sizes }} fullwidth">
  <div class="wrapper">
     <div class="testiInner">
     <div class="testilogo"> 
	    <img loading="lazy" src="{{ module.logo.src }}" alt="{{ module.logo.alt }}" >
       </div> 
         <div class="testiContent">
             {% if module.testimonial_content %}
              <div class="testiText">
              {{ module.testimonial_content }}
               </div>
               {% endif %}
               <div class="testiND flexwrap alignCenter">
                 <div class="testiName">{{ module.person_name_ }}</div>&nbsp; — &nbsp; <div class="testiDesig">{{ module.company_details }}</div>
               </div>
            </div>
           </div>
           {% if module.section_two %}
      <div class="SecTwotestiInner">
          <div class="SecTwoSubheading"> {{ module.heading_subheading.subheading }}</div>
          <div class="SecTwoheading">{{ module.heading_subheading.heading }}</div>
    </div>
    {% endif %}
   </div>

{% require_css %}
  <style>
    {% if module.style.section_two_container.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
  #hs_cos_wrapper_{{ name }} .SecTwotestiInner { width:100%; max-width:100%;  margin: 0 auto; }
  {% elif module.style.section_two_container.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .SecTwotestiInner { width:100%; max-width:1240px; margin: 0 auto; }
 {% elif module.style.section_two_container.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .SecTwotestiInner { width:100%; max-width:1000px; margin: 0 auto; }
  {% elif module.style.section_two_container.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .SecTwotestiInner { width:100%; max-width:775px; margin: 0 auto; }
  {% endif %}
  
    #hs_cos_wrapper_{{ name }} .SecTwotestiInner {
  {{ module.style.section_two_spacing_style.spacing_top_bottom_desktop_.css }}
  }
  
      {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
  #hs_cos_wrapper_{{ name }} .testiInner { width:100%; max-width:100%;  margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .testiInner { width:100%; max-width:1240px; margin: 0 auto; }
 {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .testiInner { width:100%; max-width:1000px; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .testiInner { width:100%; max-width:775px; margin: 0 auto; }
  {% endif %}
  
   #hs_cos_wrapper_{{ name }}  .testiSection {
     {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}
     {% if module.style.background_style.select_background  == 'back_color' %}
     background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
     {% elif module.style.background_style.select_background  == 'back_image' %}
     {{ module.style.background_style.backgroundimage_field.css }}
     {% endif %}
     
   }
  
  #hs_cos_wrapper_{{ name }} .testiContent { background-color:rgba({{ module.style.color_style.text_coontent_background_color.color|convert_rgb }},{{ module.style.color_style.text_coontent_background_color.opacity }}%);  } 
  #hs_cos_wrapper_{{ name }} .testiContent h3 { color:{{ module.style.color_style.title_color.color }} !important;   }  
  #hs_cos_wrapper_{{ name }} .testiText { color:{{ module.style.color_style.text_content_color.color }} !important; background-color:rgba({{ module.style.color_style.content_text_background_color.color|convert_rgb }},{{ module.style.color_style.content_text_background_color.opacity }}%);  }  
  #hs_cos_wrapper_{{ name }} .testiName, #hs_cos_wrapper_{{ name }}  .testiND { color:{{ module.style.color_style.name_color.color }} !important;   }  
  #hs_cos_wrapper_{{ name }} .testiDesig { color:{{ module.style.color_style.designation_text_color.color }} !important;   }  
    
  @media(max-width:992px){
  {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { width:100%;  max-width:100%; }
  #hs_cos_wrapper_{{ name }} .testiInner { width:100%; max-width:100%;  margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .testiInner { width:100%; max-width:100%; margin: 0 auto; }
 {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .testiInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .testiInner { width:100%; max-width:100%; margin: 0 auto; }
  {% endif %}
  }  

@media(max-width:767px){
  #hs_cos_wrapper_{{ name }}  .testiSection {
     {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}
   }
  }
  
  </style>

{% end_require_css %}

