.testiSection .wrapper { position: relative; }
.testiImage { height: 100%; }
.testiBG { min-height: 300px;   background-size: cover;    background-repeat: no-repeat;    background-position: center;    height: 100%; }
.testiContent { padding: 60px 60px; height: 100%; }
.testiItem.three_column .testiContent { padding: 30px; }
.row-fluid .testiContent h3 { text-transform: uppercase;    font-size: 16px;    font-weight: 700; }
.testiText { font-family: 'freight-sans-pro';    margin: 0 0 20px; padding: 5px;     font-size: 28px;line-height: 40px; }
.testiND .testiName { font-size: 12px;    line-height: 16px;    font-weight: 700;     }
.testiND .testiDesig { font-size: 12px;    line-height: 16px;    font-weight: 400;    }
.SecTwoSubheading{font-weight:600;font-size:21px;line-height:41px;color:#fd853a}
.SecTwoheading{font-weight:600;font-size:30px;line-height:40px;color:#333}

@media(max-width:1320px){
.testiInner { padding: 0 30px; }
.SecTwotestiInner { padding: 0 30px; }
.testiSection button.testPrev.slick-arrow, .testiSection.normal button.testPrev.slick-arrow { left:20px; }
.testiSection button.testNext.slick-arrow, .testiSection.normal button.testNext.slick-arrow { right:20px; }
}

@media(max-width:991px){
  .testiItem.three_column, .testiItem.two_column, .testiItem.two_column.text { width: 100% !important; }
  .testiContent { padding: 30px;    height: 100%; }
 .testiSlider { padding: 0; }
 .testiSection button.testPrev, .testiSection button.testNext { display:none; }
  .testiInner { width: 100% !important;  padding: 0; } 
}

@media(max-width:767px){
  .testiBG { min-height: 200px; }
  .testiContent{padding:60px}
}

.testilogo{position:absolute}
.testilogo img  {width:60px;}

