  .subsForm textarea,
   .subsForm input[type="text"],
   .subsForm input[type="number"], 
   .subsForm input[type="email"],
   .subsForm input[type="tel"],
   .subsForm select { width: 100% !important; margin: 0 !important;    border: 0 !important;    outline: none;    box-shadow: none !important;    padding: 0 0 6px 0;    line-height: normal;    min-height: auto;    font-family: 'Noto Sans' !important; }   
   .subsForm .hs-form-field { margin:0 0 20px; width:70%; }  
   .subsForm input.hs-button.primary.large {  border: 0; padding: 9px 30px !important;    min-height: auto;    font-family: 'freight-sans-pro' !important;    font-weight: 700 !important;    text-transform: uppercase;    white-space: normal;    display: inline-block !important;    box-sizing: border-box; font-size:24px;}
   .subsForm input.hs-button.primary.large:hover {color:#fff !important;}
   .subscHSub { margin: 0 0 20px; }
   .subsFormBottom { margin: 20px 0 0; }
   .subsFormButton a { font-size: 18px;    font-weight: 700; vertical-align: baseline; }
   .subsFormtext { font-weight: 700; }
   .subsForm .hs_error_rollup { display: none; }
   .subsForm label.hs-error-msg { font-family: 'Noto Sans' !important;    color: #fff; }
   .subsForm form label { font-family: 'Noto Sans' !important; }
   .subscSection { position: relative; }
   .subscImage { position: absolute;    top: 50%;    left: 90px;    transform: translateY(-50%); }
   
   .subscHeading h3 { text-transform: uppercase;    font-weight: 700 !important; }
   .subscButton a  { position: relative; font-family: 'freight-sans-pro' !important;    font-weight: 700;  text-transform: uppercase; font-size: 18px; }
   .subscButton a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%;    transform: translateY(-50%);    right: -25px;    font-family: fontawesome;    color: #fff;     transition: all ease-in-out .3s; }
   .subscButton a:hover:before { opacity: 1; visibility: visible; right:-30px; }
   .subscInner { position: relative; z-index: 99; }
   .subsForm .hs-form-private {display:flex;}
   @media(max-width:1200px){
   .subscImage { left: 0px; }
   
   
   }
   
   @media(max-width:991px){
   .subscImage { display: none; }
   .subscInner { max-width: 100% !important; }
   }
  .subsForm .hs_submit {
    position: relative;
}
.subsForm .actions:after {
    content: "";
    font-weight: 400;
    left: 30px;
    top: 15px;
    position: absolute;
    width: 20px;
    height: 20px;
    color: #222;
    transition: all ease-in-out .3s;
    background: url(https://cdn2.hubspot.net/hubfs/40444/_2021_Website/2021_Website_Icons/Arrow%20right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: text;
    cursor: pointer;
}
   
   
   
   
   
   
   