<div class="subscSection fullwidth">
  <div class="wrapper">
    <div class="subscInner">
      <div class="subscHeading">
        <h3>{{ module.header_content.title }}</h3>
        {% if module.header_content.show_sub_text %}
        <div class="subscHSub">
          {{ module.header_content.sub_text }}
        </div>
      {% endif %}
      {% if module.header_content.show_button %}
	
      <div class="subscButton">
      {% set href = module.header_content.contact_link.url.href %}
      {% if module.header_content.contact_link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
      {% endif %}
      {% set rel = [] %}
      {% if module.header_content.contact_link.no_follow %}
        {% do rel.append("nofollow") %}
      {% endif %}
      {% if module.header_content.contact_link.open_in_new_tab %}
        {% do rel.append("noopener") %}
      {% endif %}
      <a href="{{ href }}"
        {% if module.header_content.contact_link.open_in_new_tab %}target="_blank"{% endif %}
        {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
        >
        {{ module.header_content.contact_button_text }}
      </a>
      </div>
      {% endif %}
      </div>
      {% if module.hide_show_form %}
	
      <div class="subsFormInner">
        <div class="subsForm">
        {% form
          form_to_use="{{ module.form_content.form_field.form_id }}"
          response_response_type="{{ module.form_content.form_field.response_type }}"
          response_message="{{ module.form_content.form_field.message }}"
          response_redirect_id="{{ module.form_content.form_field.redirect_id }}"
          response_redirect_url="{{module.form_content.form_field.redirect_url}}"
          gotowebinar_webinar_key="{{ module.form_content.form_field.gotowebinar_webinar_key }}"
        %}
        </div>
        
        <div class="subsFormBottom flexwrap alignCenter">
          <div class="subsFormtext">
          {{ module.form_content.text_field }}
          </div>
          <div class="subsFormButton">
          {% set href = module.form_content.contact_link.url.href %}
          {% if module.form_content.contact_link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
          {% endif %}
          {% set rel = [] %}
          {% if module.form_content.contact_link.no_follow %}
            {% do rel.append("nofollow") %}
          {% endif %}
          {% if module.form_content.contact_link.open_in_new_tab %}
            {% do rel.append("noopener") %}
          {% endif %}
          <a href="{{ href }}"
            {% if module.form_content.contact_link.open_in_new_tab %}target="_blank"{% endif %}
            {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
            >
            {{ module.form_content.contact_button_text }}
          </a>
          </div>
        </div>
        
        
      </div>
{% endif %}
      
    </div>
  </div>
  {% if module.hide_show_left_image %}
	
  <div class="subscImage">
      {% if module.left_image.src %}
      {% set sizeAttrs = 'width="{{ module.left_image.width }}" height="{{ module.left_image.height }}"' %}
      {% if module.left_image.size_type == 'auto' %}
        {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
      {% elif module.left_image.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.left_image.max_width }}" height="{{ module.left_image.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
       {% set loadingAttr = module.left_image.loading != 'disabled' ? 'loading="{{ module.left_image.loading }}"' : '' %}
      <img src="{{ module.left_image.src }}" alt="{{ module.left_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
    {% endif %}
  </div>
 
{% endif %}
</div>


{% require_css %}
  <style>
  {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
  #hs_cos_wrapper_{{ name }} .subscInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .subscInner { width:100%; max-width:1240px;  margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .subscInner { width:100%; max-width:1000px; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .subscInner { width:100%; max-width:775px; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'super_narrow' %}
  #hs_cos_wrapper_{{ name }} .subscInner { width:100%; max-width:460px; margin: 0 auto; }    
  {% endif %}
  
   #hs_cos_wrapper_{{ name }}  .subscSection {
     {{ module.style.spacing_style.spacing_top_bottom.css }}
     {% if module.style.background_style.select_background  == 'back_color' %}
     background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
     {% elif module.style.background_style.select_background  == 'back_image' %}
     {{ module.style.background_style.backgroundimage_field.css }}
     
     {% endif %}
     
   }
   #hs_cos_wrapper_{{ name }} .subscButton a { color:{{ module.style.header_style.contact_button_text_color.color }}; }
   #hs_cos_wrapper_{{ name }} .subscHeading h3  { color:{{ module.style.header_style.title_color.color }}; }
   #hs_cos_wrapper_{{ name }} .subscHSub  { color:{{ module.style.header_style.sub_text_color.color }}; }
   #hs_cos_wrapper_{{ name }} .subsForm textarea,
   #hs_cos_wrapper_{{ name }} .subsForm input[type="text"],
   #hs_cos_wrapper_{{ name }} .subsForm input[type="number"], 
   #hs_cos_wrapper_{{ name }} .subsForm input[type="email"],
   #hs_cos_wrapper_{{ name }} .subsForm input[type="tel"],
   #hs_cos_wrapper_{{ name }} .subsForm select { 
   color:{{ module.style.form_style.input_text_color.color }}; 
   
   {% if module.style.form_style.select_input_background_color == 'back_color' %}
   background-color:rgba({{ module.style.form_style.input_background_color.color|convert_rgb }},{{ module.style.form_style.input_background_color.opacity }}%);
   {% elif module.style.form_style.select_input_background_color == 'border' %}
   background-color: transparent;
   
   border-bottom: 1px solid rgba( {{ module.style.form_style.input_border_color.color|convert_rgb }},{{ module.style.form_style.input_border_color.opacity }}%) !important;
   {% endif  %}
   
   
   
   }
   
   #hs_cos_wrapper_{{ name }} .subscHeading, #hs_cos_wrapper_{{ name }} .subscHeading h3 { text-align:{{ module.header_content.alignment }} !important; }
   
   #hs_cos_wrapper_{{ name }} .subsForm textarea::placeholder,
   #hs_cos_wrapper_{{ name }} .subsForm input[type="text"]::placeholder,
   #hs_cos_wrapper_{{ name }} .subsForm input[type="number"]::placeholder, 
   #hs_cos_wrapper_{{ name }} .subsForm input[type="email"]::placeholder,
   #hs_cos_wrapper_{{ name }} .subsForm input[type="tel"]::placeholder,
   #hs_cos_wrapper_{{ name }} .subsForm select::placeholder { color: {{ module.style.form_style.placeholder_color.css }}; }
   
   #hs_cos_wrapper_{{ name }} .subsForm .hs-form-field > label { 
   color:{{ module.style.form_style.label_color.color }}; 
   display:{{ module.style.form_style.hide_show_label }}; }
   
   #hs_cos_wrapper_{{ name }} .subsForm input.hs-button.primary.large  { 
   display:{{ module.style.form_style.hide_show_button }} !important;
   margin:0px;
   {% if module.style.form_style.select_button_style == 'with_back' %}
   background-color:rgba({{ module.style.form_style.background_color.color|convert_rgb }},{{ module.style.form_style.background_color.opacity }}%) !important;
   
   {% elif module.style.form_style.select_button_style == 'with_border' %}
   border: {{ module.style.form_style.border_size }}px solid rgba({{ module.style.form_style.border_color.color|convert_rgb }},{{ module.style.form_style.border_color.opacity }}%) !important;
   background-color: transparent !important;
   {% endif  %}
   
    color:transparent !important;
   
   }

   
   #hs_cos_wrapper_{{ name }} .subsFormButton a { color:{{ module.style.form_bottom_content_style.contact_text_color.color }}; }
   #hs_cos_wrapper_{{ name }}  .subsFormtext { color:{{ module.style.form_bottom_content_style.text_color.color }}; }
 
 @media(max-width:992px){ 
   {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
  #hs_cos_wrapper_{{ name }} .subscInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .subscInner { width:100%; max-width:100%;  margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .subscInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .subscInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'super_narrow' %}
  #hs_cos_wrapper_{{ name }} .subscInner { width:100%; max-width:100%; margin: 0 auto; }
  {% endif %}
   
   } 
  @media(max-width:767px){
  
  #hs_cos_wrapper_{{ name }}  .subscSection {
     {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}
   
   }
  
  }
  
  </style>

{% end_require_css %}
