{% import '/2021 Folder/Code Files/macros/Blog_Post.html' as blog_post %}
{% import '/2021 Folder/Code Files/macros/button.html' as button %}
{% import '/2021 Folder/Code Files/macros/hubspot_cta_button.html' as hubspot_cta_button %}
{% import '/2021 Folder/Code Files/macros/icons.html' as icon %}

{% set tags = blog_tags(module.blog_id, 250) %}
{% set allCurrent = ('/' ~ ('topic') in request.path or '/' ~ ('tag') in request.path) ? '' : 'current' %}
{% set query = request.query_dict %}
<section class="c-blog-listing c-blog-listing--margin-top {{ helpers.utils(module.colors, module.padding, '') }}">
   <div class="wrapper">
      <div class="u-squeeze u-squeeze--{{ module.squeeze }}">
         <div class="Blog-feature">
            {% for content in contents %}
            {% for topic in content.topic_list %}
            {% if topic == 'featured' %}
            <div class="c-blog_feature">
               <div class="c-post__body-feature">
                  <div class="c-blog_feature-tag">
                     {{ topic.name }}
                  </div>
                  <h2 class="c-post__title">
                     <div href="{{ content.absolute_url }}" class="c-post__title-link">
                        {{content.name}}
                     </div>
                  </h2>
                  {% if content.topic_list|length <= 1 %}
                  <div class="c-post__terms">
                     {% for topic in content.topic_list %}{% if topic != 'uitgelicht' %}{% if not loop.first %},
                     {% endif %}{{ topic.name }}{% endif %}{% endfor %}  
                  </div>
                  <span style="color:#b3b2b2;"> |</span>
                  {% endif %}  
                  <div class="c-post__terms">
                     {% if content.topic_list|length > 1 %}
                     <div class="c-post__terms">
                        {% for topic in content.topic_list %}{% if topic != 'featured' %}{% if not loop.first %},
                        {% endif %}{{ topic.name }}{% endif %}{% endfor %}  
                     </div>
                     <span style="color:#b3b2b2;"> |</span>
                     {% endif %}  <span class="reading-minutes">
                     {{ content.post_body|wordcount|divide(300) }} MIN READ
                     </span>
                  </div>
               </div>
               <div href="{{ content.absolute_url }}" class="c-post__image" style="    background-image: url({{ content.post_list_summary_featured_image }});
                  background-size: cover;
                  background-position: center;
                  ">
               </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
         </div>
         {# end of Blog Feature #}
         
         <div class="u-flex u-flex-sb js-post-container">
            {% for content in contents %}
            {% if topic.name != 'featured' %}
            {% if loop.index in module.cta|map('position') %}
            {% set blogIndex = loop.index %}
         {% for item in module.cta %}
            {% if item.position == blogIndex %}
            <div class='c-blog-listing__cta c-blog-listing__cta--{{ item.background }}'>
               <div class='c-blog-cta c-blog-cta--{{ item.background }} u-flex u-flex-sb u-flex-v-center'>
          {% blog_subscribe "blog_subscribe"
          blog_id='{{ module.select_blog }}',
         title='{{ module.title }}',
          response_message='{{ module.response_message }}'
          %}
               </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {{blog_post.render(content, 'regular', query.search)}}
            {% endif %}
            {% endfor %}
            {% if (contents|length + module.cta|length) % 3 != 0 %}
            <div class="c-blog-listing__post c-blog-listing__post--filler"></div>
            {% endif %}
         </div>
         <div class='c-blog-listing__no-posts js-no-posts'>
            {{module.no_results_label}}<br><a href="{{module.all.link}}">Terug naar alle berichten</a>
         </div>
         <div class="blog-pagination">
  
       {% set total_pages = contents.total_page_count %} <!-- sets variable for total pages -->
<!--{% if last_page_num %}
                <a class="previous-posts-link" href="{{ blog_page_link(last_page_num) }}"><i class="fa fa-angle-left"></i></a>
            {% endif %}-->
            <ul>
                <li>
                {% if last_page_num %}
                <a class="previous-posts-link" href="{{content.absolute_url}}"><i class="fa fa-angle-double-left"></i></a>
                {% else %}
                 <a class="no-link"><i class="fa fa-angle-double-left"></i></a>
                {% endif %}
                </li>
                <li class="prev-btn">
                {% if last_page_num %}
                <a class="previous-posts-link" href="{{ blog_page_link(last_page_num) }}"><i class="fa fa-angle-left"></i></a>
                {% else %}
                 <a class="no-link"><i class="fa fa-angle-left"></i></a>
                {% endif %}
                </li>
                <li>
                <span class="page-numbers-container">
                <div class="hidden">{% post_filter "dummy_category_list" filter_type="author", max_links=0, order_by="post_count" %}</div>
                
                <span class="page-numbers"></span>
                
                <script>
                    (function() {
                        "use strict";
                        var currentAuthor = "{{ blog_author.display_name }}";
                        var total_posts = -1;
                        if(currentAuthor != "") {
                            var content = document.getElementById('hs_cos_wrapper_dummy_category_list');
                        var allAs = content.querySelectorAll('a');
                        var foundItem = null;
                        for(var i = 0; i < allAs.length; i++) {
                            var item = allAs[i];
                            var tx = item.innerHTML;
                            if(tx.indexOf(currentAuthor) != -1) {
                                foundItem = tx;
                                break;
                            }
                        }
                        
                        if(foundItem != null) {
                            var left = foundItem.indexOf("("),
                             leftRemoved = foundItem.substr(left, foundItem.length -1),
                            
                             rightRemoved = leftRemoved.replace(")","").replace("(",""); 
                            
                            total_posts = parseInt(rightRemoved);
                        }
                        console.log("Total number of posts", total_posts);
                        }
                        
                        
                        var MAX_PAGE_DELTA = 2;
                        var linkContainer = $("script:last").parent().children(".page-numbers");
                        var isLastPage = {{ next_page_num }} === 0;
                        var curPageMatch = /\/page\/(\d+)$/.exec(location.href);
                        var curPage = curPageMatch ? parseInt(curPageMatch[1]) : 1;
                        var linkPrefix = "{{ blog_page_link(1) }}".replace(/1$/, "");
                        var numPages;
                        if (isLastPage) {
                            numPages = curPage;
                        } else {
                            var postsPerPage = $(".post-listing .post-item").length;
                            if(total_posts == -1) {
                                total_posts = 0;
                                
                                $("#hs_cos_wrapper_dummy_category_list li a").each(function() {
                                    var m = /\((\d+)\)\s*$/.exec($(this).text());
                                    if (!m) {
                                        console.warn("Unable to parse post count from link:", this);
                                    } else {
                                        total_posts += parseInt(m[1]);
                                    }
                                });
                            }
                            numPages = Math.ceil(total_posts / postsPerPage);
                        }
                        if (numPages > 1) {
                            for (var page = Math.max(1, curPage - MAX_PAGE_DELTA); page <= Math.min(numPages, curPage + MAX_PAGE_DELTA); page++) {
                                $("<li class='number'></li>")
                                .append($("<a/>").attr("href", linkPrefix + page).text(page))
                                .toggleClass("current", page === curPage)
                                .appendTo(linkContainer);
                            }
                        }
                    })();
                </script>
            </span>
                </li>
                <li class="nxt-btn">{% if next_page_num %}
                <a class="next-posts-link" href="{{ blog_page_link(next_page_num) }}"><i class="fa fa-angle-right"></i></a>
                {% else %}
                <a class="no-link"><i class="fa fa-angle-right"></i></a>
                {% endif %}
                </li> 
                <li>{% if current_page_num == total_pages %}
                <a class="no-link"><i class="fa fa-angle-double-right"></i></a>
                {% else %}
                 <a class="next-posts-link" href="{{ blog_page_link(total_pages) }}"><i class="fa fa-angle-double-right"></i></a>
                {% endif %}
                </li> 
                </ul>
           <!--{% if next_page_num %}
                <a class="next-posts-link" href="{{ blog_page_link(next_page_num) }}"><i class="fa fa-angle-right"></i></a>
            {% endif %}-->
        </div>
      </div>
   </div>
</section>