@media (max-width:992px){
.c-blog_feature {display:block!important;}
.c-post__body-feature{width:100%!important;}
.c-post__image {height:400px; width:100%!important;}
}


.c-blog-cta .hs-form-field input[type=email], .c-blog-cta .hs-form-field input[type=number],.c-blog-cta .hs-form-field input[type=search], .c-blog-cta .hs-form-field input[type=submit], .c-blog-cta .hs-form-field input[type=tel],.c-blog-cta .hs-form-field input[type=text],
.c-blog-cta .hs-form-field input[type=url],.c-blog-cta .hs-form-field select,.c-blog-cta .hs-form-field textarea {
    background-color: #fff0;
    border-bottom: 1px solid #ffffff !important;
    box-shadow: none;
border-top:none;
border-left:none;
border-right:none;
    padding: 0 0rem;
    color:#fff !important;
}
.c-blog-cta .hs-form-field input[placeholder="Email Address*"] {
 color:#fff !important;
}
.c-blog-cta .hs-form .legal-consent-container .hs-richtext p {
color:#333 !important;
font-weight: 300;
}

.c-blog-cta form.hs-form label {color:#fff !important;    
}

.c-blog-cta form.hs-form placeholder {
color:#fff !important;
}

.c-blog-cta .btn-primary,.c-blog-cta .hs-button.primary {
    background: #3d3d3d !important;
    padding: 21px 50px !important;
    font-weight: 600 !important;
    font-family: "freight-sans-pro",sans-serif !important;
    border-radius: 0px !important;
    color: #fff !important;
        width: auto !important;

    font-size: 21px !important;
}

.c-blog-cta .btn-primary:hover,.c-blog-cta .hs-button.primary:hover {
color:#3d3d3d !important;
    background: #fff !important;
}

.c-blog-listing .blog-pagination {
    overflow: hidden;
    text-align: left;
    padding: 50px 0px;
    display: block;
}
.c-blog-listing .blog-pagination ul li {
    display: inline-block;
    vertical-align: middle;
    margin:5px;
}

.c-blog-listing a.previous-posts-link {
    color: #B3B3B3;
}

.c-blog-listing .blog-pagination ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.c-blog-listing .fa {
font-size:26px;
}

.hs-input::-webkit-input-placeholder {
  color:#fff !important;
}


a.c-blog-listing__post.c-blog-listing__post--regular.c-post.c-post--regular:hover {
    box-shadow: 0 10px 50px -5px rgb(51 71 91 / 12%);
    -webkit-transform: scale(1.014);
    transform: scale(1.014);
}