<div class="wrapper-fullwidth">
{% import '/2021 Folder/Code Files/macros/Blog_Post.html' as blog_post %}
{% set language = (content.language.languageTag == 'en') ? 'en' : 'nl' %}
{% set tags = blog_tags(module.blog_id, 250) %}
{% set allCurrent = ('/' ~ ('topic') in request.path or '/' ~ ('tag') in request.path) ? '' : 'current' %}
{% set query = request.query_dict %}
<div class="blog-tag-padding">
<div class="blog-tag-button">
 <div class="wrapper">
 <button id="button" onclick="my()" class="c-blog-listing__title "> EXPLORE BY TOPIC <div class="right">
 
<i class="fa fa-angle-right "></i></div> </button>
 </div>
 </div>
 <div class="wrapper">
 <div id="tags" class='c-blog-listing__top-bar u-flex-sb' style="display: none;">
        <div class='c-blog-listing__tags-container_top'>
          <div class="c-blog-listing__tags" id="filter-tags">
            {% for item in tags %}
            {% set customtopics = request.query_dict.customtopics %}
            {% if customtopics %}
            {% set current = item.slug in request.path ? 'current' : '' %}
            <a href="{{ blog_tag_url(group.id, item.slug) }}"
              class="c-blog-listing__tag {{ current }} u-animated-underline">{{ item }} {#({{item.live_posts}}) #}</a>
            {% endif %}
            {% else %}
            {% if loop.index<10 %}
            {% set current = item.slug in request.path ? 'current' : '' %}
            <a href="{{ blog_tag_url(group.id, item.slug) }}"
              class="c-blog-listing__tag {{ current }} u-animated-underline">{{ item }} {#({{item.live_posts}}) #}</a>
            {% endif %}
            {% endfor %}
           
          </div>
         <div class="c-blog-all-topics">
          <a href="?customtopics=all-topic">See all topics</a> 
          
          </div>
        </div>
      </div>
      </div>
</div>
 </div>
      
{% require_js %}
<script>
function my() {
  var x = document.getElementById("tags");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }

}


document.getElementById('button').addEventListener('click', function() {
  var icon = this.querySelector('.right i.fa');
  icon.classList.toggle('rotate');
});

</script>
{% end_require_js %}