

#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}

button.c-blog-listing__title {
    font-size: 21px;
    font-weight: 600;
    border: 0px;
    color: #333;
    margin:0px;
  background: #D0CFCD;
      font-family: "freight-sans-pro",sans-serif !important;


}

.blog-tag-button {
    background: #D0CFCD;
    padding: 20px;


}

.wrapper-fullwidth {
    box-sizing: border-box;
    width: 100%;
    float: none !important;
    display: block;
    margin: 0 auto !important;
}

 .blog-tag-button i.fa.fa-angle-right {
color:#ff8300 !important;
fill:#ff8300 !important;
    margin-left: 15px;

}
.right {
    display: contents;
}

.c-blog-all-topics a {
    color: #0F69C9 !important;
}

.c-blog-all-topics {padding-top:30px;}

.animate-icon {
  transition: 0.4s;
}
.rotate {
  transform:rotate(90deg);
}