<div class="blogmSection {{ module.style.container_style.select_container_sizes }} fullwidth">
  <div class="wrapper">
     <button class="bloPrev"></button>
     <button class="bloNext"></button>
    <div class="blogmInner">
    
       <div class="blogmTitle text-center">
         <h2>{{ module.header_content.heading }}</h2>
         <div class="blogmSub text-center">
          <p>{{ module.header_content.sub_heading }}</p>
         </div>
         
       </div>
       {#% if module.blog_content.post_type == 'recent' %#}
       <div class="blogmListing">
       {#% set rec_posts = blog_recent_posts(module.blog_content.blog,module.blog_content.number_of_posts) %#}
       {#% for rec_post in rec_posts %#}
        {% for item in module.blog_post_or_page %} 
        {% set the_page = content_by_id(item) %} 
         
         <div class="blogmItem">
           <div class="blogmItInner ">
            <div class="postTag">
	            {{ the_page.topic_list[0] }}            
	           </div>
	           <h5>{{ the_page.title }}</h5>
     
             <div class="postButton">
             <a href="{{the_page.absolute_url}}">
              <img src="https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/read-more-btn.png" alt="read-more-btn" width="80" height="80">
             </a>
             </div>
             
             
             <a href="{{the_page.absolute_url}}" class="blogmLInk"> </a>
         </div>
         </div>
       {% endfor %}
       </div>
       
       
       {#% elif module.blog_content.post_type == 'most_viewed' %}
       <div class="blogmListing">
       {% set pop_posts = blog_popular_posts(module.blog_content.blog, module.blog_content.number_of_posts, popular_all_time) %}
       
       {% for pop_post in pop_posts %}
         <div class="blogmItem">
         <div class="blogmItInner">
             <div class="postTag">
	            {{ pop_post.topic_list[0] }}            
	           </div>
	           <h5>{{ pop_post.name}}</h5>
             <div class="postButton">
             <a href="{{pop_post.absolute_url}}">
              <img src="https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/read-more-btn.png" alt="read-more-btn" width="80" height="80">
             </a>
             </div>
             
             
             <a href="{{ pop_post.absolute_url}}" class="blogmLInk"> </a>
         </div>
         </div>
       {% endfor %}
       </div>
    {% endif %#}
    
    </div>
  </div>
</div>

{% require_js %}

   <script>
     $(document).ready(function(){
     
      
      $('.blogmListing').each(function(key, item) {

          var sliderIdName = 'blogmListing' + key;
          var sliderPrevIdName = 'bloPrev' + key;
          var sliderNextIdName = 'bloNext' + key;
          
          
          this.id = sliderIdName;
          $('.bloPrev')[key].id = sliderPrevIdName;
          $('.bloNext')[key].id = sliderNextIdName;
          
          
          var sliderId = '#' + sliderIdName;
          var slidernext = '#' + sliderNextIdName;
          var sliderprev = '#' + sliderPrevIdName;

          $(sliderId).slick({
            slidesToShow: 3,
            slidesToScroll: 3,
            arrows: true,
            dots:false,
            autoplay:false,
            autoplaySpeed:3000,  
            speed:900,
            loop: true,
            nextArrow:slidernext,
            prevArrow:sliderprev,
            responsive: [
            {
                breakpoint: 992,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 1
                }
              },
               {
                breakpoint: 500,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1,
                  arrows: false,
                   dots:true,
                }
              }

            ]


          });

        });
      
      
      
    });

   
   </script>

{% end_require_js %}



{% require_css %}
  <style>
   #hs_cos_wrapper_{{ name }} .blogmSection {
     {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}
     
     {% if module.style.background_style.select_background == 'back_color' %}
         background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
      {% elif module.style.background_style.select_background == 'back_image' %}
      {{ module.style.background_style.backgroundimage_field.css }}
      {% endif  %}
   }  
   
   
   
      {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width: 100%; max-width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .blogmInner { width: 100%; max-width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .blogmInner { width:100%; max-width:1240px; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .blogmInner { width:100%; max-width: 1000px; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .blogmInner { width:100%; max-width: 775px; margin: 0 auto; }

      {% endif %}
   
   
   
   #hs_cos_wrapper_{{ name }} .blogmTitle h2 { color:{{ module.style.color_style.title_color.color }};  }
   #hs_cos_wrapper_{{ name }} .blogmSub, #hs_cos_wrapper_{{ name }} .blogmSub p  { color:{{ module.style.color_style.sub_title_color.color }} !important;  }
   #hs_cos_wrapper_{{ name }} .postTag { color:{{ module.style.color_style.post_tag_color.color }}; }  
   #hs_cos_wrapper_{{ name }} .blogmItem h5 { color:{{ module.style.color_style.post_title_color.color }}; }  
   #hs_cos_wrapper_{{ name }} .blogmItInner { background-color:rgba({{ module.style.color_style.post_box_background_color.color|convert_rgb }},{{ module.style.color_style.post_box_background_color.opacity }}%); }
   
   @media(max-width:992px){
      {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width: 100%; max-width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .blogmInner { width: 100%; max-width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .blogmInner { width:100%; max-width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'semi-narrow' %}
      #hs_cos_wrapper_{{ name }} .blogmInner { width:100%; max-width: 100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .blogmInner { width:100%; max-width: 100%; margin: 0 auto; }
      {% endif %}
   }
   @media(max-width:767px){
     #hs_cos_wrapper_{{ name }} .blogmSection {
      {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}
     }  
   }
  
  
  </style>

{% end_require_css %}