.blogmSection { clear:both; }
.blogmSection .wrapper { position: relative; }

.blogmSection button.slick-arrow { background-color: transparent;    border: 0;    font-size: 0;    position: absolute;    top: 60%;    transform: translateY(-50%);    width: 30px;    height: 50px;    padding: 0;     display: -webkit-flex !important;    -webkit-align-items: center;    -webkit-justify-content: center;    display: flex !important;    align-items: center;    justify-content: center;    cursor: pointer; }
.blogmSection button.bloPrev.slick-arrow { left:0px; }
.blogmSection button.bloNext.slick-arrow { right:0px; }
.blogmSection button.bloPrev.slick-arrow:before { content: "";    background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/left-arrow.png);    background-repeat: no-repeat;    width: 18px;    height: 51px;    position: absolute;    background-size: contain;    background-position: center;    }
.blogmSection button.bloNext.slick-arrow:before { content: "";    background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/right-arrow.png);    background-repeat: no-repeat;    width: 18px;    height: 51px;    position: absolute;    background-size: contain;    background-position: center;    }

.blogmSection.normal button.bloPrev.slick-arrow { left:-30px; }
.blogmSection.normal button.bloNext.slick-arrow { right:-30px; }


.blogmTitle { margin: 0 0 40px; text-align:left; }
.row-fluid .blogmTitle h2 { margin: 0 0 20px; }
.blogmItem .postTag { margin: 0 0 10px;    text-transform: uppercase;    font-size: 12px;    line-height: normal;    font-family: 'freight-sans-pro' !important;    font-weight: 700; text-align:left; }
.blogmListing .slick-track { display: flex;    display: -webkit-flex;    }
.blogmItem { position: relative; }
.blogmItInner { box-shadow: 0 3px 10px rgb(0 0 0 / 20%);    padding: 30px 25px 120px 25px;    background-color: #fff;    margin: 10px 13px;    text-decoration: none;    min-height: 240px; position: relative;transition: transform .3s; text-align:left; }
.blogmItInner:hover {transform: scale(1.05);}
a.blogmLInk { position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%; }
/*a.blogmLInk:hover {transform: scale(1.8); }*/
.postButton img { max-width: 70px !important; }
.row-fluid .blogmItInner h5 { margin: 0;  }
.postButton { position: absolute;    bottom: 20px; }
.blogmInner { margin: 0 auto; }





@media(min-width:992px){
.blogmSection.wide button.bloPrev.slick-arrow { left:20px; }
.blogmSection.wide .blogmInner { padding:0 40px; }
.blogmSection.wide button.bloNext.slick-arrow {  right:20px; }


}

@media(max-width:1320px){
.blogmInner { padding: 0 30px; }
.blogmSection button.bloPrev.slick-arrow, .blogmSection.normal button.bloPrev.slick-arrow { left:15px; top: 70%; }
.blogmSection button.bloNext.slick-arrow, .blogmSection.normal button.bloNext.slick-arrow { right:15px; top: 70%; }


}




@media(max-width:991px){
.blogmInner { width: 100% !important; }

}


@media(max-width:500px){
 
.blogmListing { padding: 0 40px; }

.blogmTitle { margin: 0 0 20px; }
.postButton img { max-width: 50px !important; }

.blogmListing ul.slick-dots { margin: 30px 0 0; text-align: center; }
 .blogmListing ul.slick-dots button { display: none; }
 .blogmListing ul.slick-dots li.slick-active { background-color: #ff8300;    border-color: #ff8300; }
 .blogmListing ul.slick-dots li { height: 20px;    width: 20px;    border: 2px solid #333;    border-radius: 50%;    display: inline-block; }
 .blogmListing ul.slick-dots li ~ li { margin-left: 10px; }
  .blogmListing { padding:0; }
  .blogmItInner { padding: 30px 25px 50px 25px; }

  .blogmSection button.bloPrev, .blogmSection button.bloNext { display:none; }
  .blogmInner { padding: 0; } 


}
