.scrollHalf{margin-bottom: 120px;}
.halfScrollInner{width:100%;display:flex;justify-content:space-between;align-items:flex-start}
.stickyBox{width:45%;position:sticky;top:80px;left:0}
.faderBox img,.imageFaderBoxMob img{width:100%;height:auto}
.content-wrapper{width:50%}
.image-fader{height:100%;opacity:0;position:absolute;transform:translateY(40px);transition:1s ease;width:100%}
.image-fader.active{opacity:1;transform:translateY(0)}
.imageFaderBoxMob{display:none;width:100%;padding:30px 0}
.scrollHalf .richButton { margin: 20px 0 20px;}
.faderBox {position: relative;width: 100%;height: 100%;min-height: 350px;}
.spacer{margin-bottom:60px;}
@media(max-width: 992px){
.imageFaderBoxMob{
  display: block;
}
.stickyBox{
  display: none;
}
.content-wrapper {
  width: 100%;
}
}