<div class="scrollHalf fullWidth">
  <div class="wrapper">
    <div class="halfScrollInner">
        <div class="stickyBox">
            <div class="faderBox">
              {% for item in module.scroll_group %}
                <div class="image-fader" id="high{{loop.index}}">
                   <img loading="lazy" src="{{item.scroll_image.src}}" alt="">
                </div>
               {% endfor %}
            </div>
        </div>
        <div class="content-wrapper">
        {% for item in module.scroll_group %}
          <div class="spacer s1 content-section" id="sec{{loop.index}}">
              <div class="imageFaderBoxMob">
                <img loading="lazy" src="{{item.scroll_image.src}}">
              </div>
              <div class="box2">
                 {{item.scroll_content}}
                 
                 <div class="richButton">
                 {% if item.select_cta_or_link == 'link' %}
                  {% set href = item.button_link.url.href %}
                  {% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                  {% endif %}
                  <a href="{{ href }}"
                    {% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
                    {% if item.button_link.rel %}rel="{{ item.button_link.rel }}"{% endif %}
                    >
                    {{item.button_text}}
                  </a>
                  {% endif %}
                  {% if item.select_cta_or_link == 'cta'%}
                    {% cta guid="{{ item.cta_field }}" %}
                  {% endif %}
                 </div>
               
              </div>
          </div>
        {% endfor %}
            <div class="spacer s2"></div>
        </div>
     </div>
  </div>
</div>
{% require_css %}
  <style>
  {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%;  }
  #hs_cos_wrapper_{{ name }} .halfScrollInner { width:100%;  max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .halfScrollInner { width:100%; max-width:1240px; margin: 0 auto; }
    {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .halfScrollInner { width:100%; max-width:1000px; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .halfScrollInner { width:100%; max-width:775px; margin: 0 auto; }
  {% endif %}
  
   #hs_cos_wrapper_{{ name }} .scrollHalf {
     {{ module.style.spacing_style.spacing_top_bottom.css }}
     
     {% if module.style.background_style.select_background  == 'bg_color' %}
     background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
     {% elif module.style.background_style.select_background  == 'bg_image' %}
     {{ module.style.background_style.backgroundimage_field.css }}
     
     {% endif %}
     
   }

   @media(max-width:767px){
    #hs_cos_wrapper_{{ name }} .scrollHalf {
       {{ module.style.spacing_style.spacing_top_bottom_mobile.css }}
     }
    }
    
    @media(max-width:992px){
     {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; }
  #hs_cos_wrapper_{{ name }} .halfScrollInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .halfScrollInner { width:100%; max-width:100%; margin: 0 auto; }
    {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .halfScrollInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .halfScrollInner { width:100%; max-width:100%; margin: 0 auto; }

  {% endif %}
    }
  </style>
{% end_require_css %}




