<div class="imgtxtSection fullwidth">
  <div class="wrapper">
    <div class="imgtxtInner-{{ module.change_image_position }} imgtxtInner">
      <div class="imgtxtContent-{{ module.change_image_position }} imgtxtContent">
        {% if module.image_field.src %}
          {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}"' %}
          {% if module.image_field.size_type == 'auto' %}
          {% set sizeAttrs = 'style="height: auto;"' %}
          {% elif module.image_field.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.image_field.max_width }}" height="{{ module.image_field.max_height }}" style="height: auto;"' %}
          {% endif %}
           {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
          <img class="{{ module.style.image_shadow.image_shadow_class }}" src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
      </div>
      <div class="textcontent">
      {{ module.text }}
      {% if module.select_cta_or_link != '' %}
      <div class="imgtxtButton">
      {% if module.select_cta_or_link == 'link' %}
      {% set href = module.button_link.url.href %}
        {% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}
        {% set rel = [] %}
        {% if module.button_link.no_follow %}
          {% do rel.append("nofollow") %}
        {% endif %}
        {% if module.button_link.open_in_new_tab %}
          {% do rel.append("noopener") %}
        {% endif %}
        <a href="{{ href }}"
          {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
          {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
          > {{ module.button_text }}</a>
          {% elif module.select_cta_or_link == 'cta' %}
            {% cta guid="{{ module.cta_field }}" %}
          {% endif  %}     
      </div>
    {% endif %}
    </div>
    </div>
  </div>
</div>

{% require_css %}
   <style>
     {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { max-width:100%;width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .imgtxtInner { max-width:100%; width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .imgtxtInner { width:100%; max-width:1240px; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .imgtxtInner { width:100%; max-width:1000px; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .imgtxtInner { width:100%; max-width:775px; margin: 0 auto; }
      {% endif %}
      
       #hs_cos_wrapper_{{ name }}  .imgtxtSection {
     {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}
     {% if module.style.background_style.select_background  == 'bg_color' %}
     background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
     {% elif module.style.background_style.select_background  == 'bg_image' %}
     {{ module.style.background_style.backgroundimgtxt_field.css }}
     {% endif %}
   }

   #hs_cos_wrapper_{{ name }} .imgtxtButton { {{ module.style.content_alignment.button_alignment.css|lower }} !important;  }
   #hs_cos_wrapper_{{ name }} .textcontent { {{ module.style.content_alignment.textalignment_field.css|lower }} !important;  }
   @media(max-width: 992px){
    #hs_cos_wrapper_{{ name }} .imgtxtInner {width: 100%; margin: 0 auto; flex-direction: column;}
    {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { max-width:100%; width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .imgtxtInner { max-width:100%; width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .imgtxtInner { width:100%; max-width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .imgtxtInner { width:100%; max-width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .imgtxtInner { width:100%; max-width:100%; margin: 0 auto; }
      {% endif %}
   }
   @media(max-width:767px){
   {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}
   }
   
   {% if module.style.image_shadow.image_shadow %} 
   .shadow {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
{% endif %}

   </style>
{% end_require_css %}
