.imgtxtButton a { color: white;    font-size: 16px;    cursor: pointer;    text-transform: uppercase;    font-weight: 700; position: relative;background: linear-gradient(to left, #ff8300 50%, #e57500 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.imgtxtButton a:hover {background-position:left;}
.imgtxtButton a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%; transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #222;   transition: all ease-in-out .3s; background: linear-gradient(to right, #002e6d, #002e6d 50%, #002e6d 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.imgtxtButton a:hover:before { opacity: 1;    visibility: visible; right:-25px;background-position:left; }
.imgtxtButton { margin:20px 0 0; }  
.imgtxtInner {display: flex;}
.imgtxtContent {width:50%; text-align:left;    font-family: 'Noto Sans',sans-serif !important;}
.textcontent {width:50%;font-family: 'Noto Sans',sans-serif !important;}
.textcontent p{ color:#333 !important;font-family: 'Noto Sans',sans-serif !important;}
.textcontent h2 { line-height:30px!important;}
.textcontent ul { list-style-type:disc; margin-left:20px; }
.textcontent li { list-style-type:disc; }
.imgtxtContent-right {
  padding-left:40px;
   }
.imgtxtContent,.textcontent{width: 100%;}
.imgtxtContent{ order: -1; padding-bottom: 30px;}
.imgtxtContent img {width: 100%; height: auto;max-width:500px;}
.imgtxtContent-left,
 .imgtxtContent-right{
        padding-right: 0;
      }
   
.imgtxtContent-left {  
 padding-right:40px;     
}
.imgtxtInner-right {
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important;
}
@media(max-width: 992px){
  .imgtxtContent{text-align: center;}

}
@media(max-width:767px){
.imgtxtInner { width: 100% !important; }
.imgtxtInner {display: block !important;;}
.imgtxtContent {width:100%!important;; text-align:center;}
.textcontent {width:100%!important;padding-left:0; padding-top:20px;}
.imgtxtContent-left,
.imgtxtContent-right{
  padding-right: 0;
}
  .imgtxtContent-right {
  padding-left:0px;
   }

}