.textSliderSubject {width:49%; padding-right:5%;}
.imgSlider {width:50%;}
.reSlideButton a  { position: relative; font-family: 'freight-sans-pro' !important;    font-weight: 700;background: linear-gradient(to left, #ff8300 50%, #e57500 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;  }
.reSlideButton a:hover {background-position:left; }
.reSlideButton a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%;    transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #fff;    opacity: 1;    transition: all ease-in-out .3s;background: linear-gradient(to right, #fff, #fff 50%, #fff 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.reSlideButton a:hover:before { opacity: 1; visibility: visible; right:-25px;background-position:left; }
.textSliderSec .wrapper { position: relative; }
.textSliderSec button.slick-arrow { background-color: transparent;    border: 0;    font-size: 0;    position: absolute;    top: 40%;    transform: translateY(-50%);    width: 30px;    height: 50px;    padding: 0;     display: -webkit-flex !important;    -webkit-align-items: center;    -webkit-justify-content: center;    display: flex !important;    align-items: center;    justify-content: center;    cursor: pointer; }
.textSliderSec button.resoPrev.slick-arrow { left:0px; }
.textSliderSec button.resoNext.slick-arrow { right:0px; }
.textSliderSec button.resoPrev.slick-arrow:before { content: "";    background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/left-arrow.png);    background-repeat: no-repeat;    width: 18px;    height: 51px;    position: absolute;    background-size: contain;    background-position: center;    }
.textSliderSec button.resoNext.slick-arrow:before { content: "";    background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/right-arrow.png);    background-repeat: no-repeat;    width: 18px;    height: 51px;    position: absolute;    background-size: contain;    background-position: center;    }
.textSliderSec.normal button.resoPrev.slick-arrow { left:50%; }
.textSliderSec.normal button.resoNext.slick-arrow {    right: 4%;}
.imgSlider .slick-center .reSlideBG { transform: scale(1.1) !important; }
.row-fluid .resourceTitle h3 { margin: 0 0 40px;    font-weight: 600; }
.textSliderSec { position: relative;  z-index: 1; }
.imgSlider .slick-slide .reSlideBG { transform: scale(0.7); transition: all ease-in-out .5s;}
.textSliderSec:before { content: "";    min-height: 300px;    position: absolute;    top: 0;    left: 0;    width: 100%; z-index: -1; }
.reSlideBG {  background-size: cover; background-repeat: no-repeat;     background-position: center; }
.reSlideContent { padding: 130px 30px 30px; transition: all ease-in-out .5s; min-height:390px;display:flex; align-items:end; }
.reSlideContent img {max-width: 300px;margin: 0 auto;}
.reSlideConInn {opacity:0;}
.slick-center .reSlideConInn {opacity:1;transition: all ease-in-out .5s;}
.row-fluid .reSlideContent h4 { font-size: 21px; line-height: 26px;   font-weight: 700; }
.reSlideText, .reSlideText p { font-size: 21px;    line-height: 26px !important;    font-weight: 700; } 
.imgSlider .slick-center .reSlideBG .reSlideContent { padding: 30px 30px;  }
.imgSlider .slick-track { /*min-height: 570px;*/    display: flex;    align-items: start;    display: -webkit-flex;    -webkit-align-items: start; }
.textSliderSubject ul {list-style-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Landing%20Page%20Images/Webinar_Mistakes%20Tech%20Companies%20Make/Landing-Pages.png);margin-block-start: 0px;margin-inline-start: 0px;padding-inline-start: 20px;}
.textSliderSubject ul li {list-style-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Landing%20Page%20Images/Webinar_Mistakes%20Tech%20Companies%20Make/Landing-Pages.png) !important;line-height: 36px !important;font-size:18px;margin-top:20px;color: #333 !important;font-family: 'Noto Sans',sans-serif !important;}
.textSliderSec .imgSlider ul.slick-dots li:hover {cursor: pointer;}
.textSliderSubject p {  color: #333 !important;}
 .imgSlider ul.slick-dots {  text-align: center; }
 .imgSlider ul.slick-dots button { display: none; }
 .imgSlider ul.slick-dots li.slick-active { background-color: #ff8300;    border-color: #ff8300; }
 .imgSlider ul.slick-dots li { height: 20px;    width: 20px;    border: 2px solid #333;    border-radius: 50%;    display: inline-block; }
 .imgSlider ul.slick-dots li ~ li { margin-left: 10px; }
.textSliderSec button.slick-arrow {
z-index:9999;
}

@media(min-width:992px){
.textSliderSec.wide button.resoPrev.slick-arrow { left:20px; }
.textSliderSec.wide .textSliderInner { padding:0 40px; }
.textSliderSec.wide button.resoNext.slick-arrow {  right:20px; }


}

@media(max-width:1320px){
.textSliderInner { padding: 0 30px; }
.textSliderSec button.resoPrev.slick-arrow, .textSliderSec.normal button.resoPrev.slick-arrow {   left: 46%; top: 50%; }
.textSliderSec button.resoNext.slick-arrow, .textSliderSec.normal button.resoNext.slick-arrow { right:15px; top: 50%; }


}



@media(max-width:991px){
 .imgSlider { padding: 0; }
 .imgSlider .slick-slide .reSlideBG { transform: none !important; }
 .reSlideContent { padding: 100px 20px 30px !important; }
 .imgSlider ul.slick-dots { margin: 30px 0 0; text-align: center; }
 .imgSlider ul.slick-dots button { display: none; }
 .imgSlider ul.slick-dots li.slick-active { background-color: #ff8300;    border-color: #ff8300; }
 .imgSlider ul.slick-dots li { height: 20px;    width: 20px;    border: 2px solid #333;    border-radius: 50%;    display: inline-block; }
 .imgSlider ul.slick-dots li ~ li { margin-left: 10px; }
 .textSliderInner { width: 100% !important; padding: 0; }
 .textSliderSec button.resoPrev, .textSliderSec button.resoNext { display:none; }
 .textSliderSubject {width:100%; }
.imgSlider {width:100%;}
 
}


