<div class="textSliderSec {{ module.style.container_style.select_container_sizes }}  fullwidth">
  <div class="wrapper">
     <button class="resoPrev"></button>
     <button class="resoNext"></button>
    <div class="textSliderInner">
      <div class="textSliderContent flexwrap">
      <div class="textSliderSubject">
      <h2>{{ module.title }}</h2>
      {{ module.slide_content }}
   <ul>
    {% for item in module.pointers %}
    <li>{{ item }}</li>
    {% endfor %}
    </ul>
      </div>
      <div class="imgSlider">
      {% for item in module.slider.slide %}
        <div class="resourceSlide">
          <div class="reSlideBG">
            <div class="reSlideContent">
            		<img class="{{ module.style.image_shadow.choice_field }}" src="{{ item.background_image.src }}" alt="{{ item.background_image.alt }}" >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
   </div>



{% require_js %}

   <script>
    $(document).ready(function(){
      $('.imgSlider').each(function(key, item) {
          var sliderIdName = 'imgSlider' + key;
          var sliderPrevIdName = 'resoPrev' + key;
          var sliderNextIdName = 'resoNext' + key;
          
          this.id = sliderIdName;
          $('.resoPrev')[key].id = sliderPrevIdName;
          $('.resoNext')[key].id = sliderNextIdName;
          $(sliderId).slick = sliderNextIdName;
             $(sliderId).slick= sliderPrevIdName;

          var sliderId = '#' + sliderIdName;
          var slidernext = '#' + sliderNextIdName;
          var sliderprev = '#' + sliderPrevIdName;

          $(sliderId).slick({
            centerMode: true,
            centerPadding: '0px',
            slidesToShow: 1,
            focusOnSelect: true,
            slidesToScroll: 1,
            dots: true,
            infinite: true,
            arrows: true,
            nextArrow:slidernext,
            prevArrow:sliderprev,
            autoplaySpeed:3000,  
            speed:900,
            responsive: [
              {
                breakpoint: 991,
                settings: {
                  slidesToShow: 1,
                  dots: true,
                  arrows: false,
                }
              }
            ]


          });

        });
      
      
      
    });
   
   
     
      
   </script>

{% end_require_js %}









{% require_css %}
  <style>
  {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
  #hs_cos_wrapper_{{ name }} .textSliderInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .textSliderInner { width:100%; max-width:1240px; margin: 0 auto; }
    {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .textSliderInner { width:100%; max-width:1000px; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .textSliderInner {width:100%;  max-width:775px; margin: 0 auto; }
  {% endif %}
  
 @media(max-width:992px){
   {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
  #hs_cos_wrapper_{{ name }} .textSliderInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .textSliderInner { width:100%; max-width:100%; margin: 0 auto; }
    {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .textSliderInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .textSliderInner { width:100%; max-width:100%; margin: 0 auto; }
  {% endif %}
  }
  
   #hs_cos_wrapper_{{ name }}  .textSliderSec {
     {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}
     {% if module.style.background_style.select_background  == 'back_color' %}
     background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
     {% elif module.style.background_style.select_background  == 'back_image' %}
     {{ module.style.background_style.backgroundimage_field.css }}
     
     {% endif %}
     
   }
   {% if module.style.color_style.hide_show_content_bg_color %}
	
  .reSlideConInn { 
    background-color:rgba({{ module.style.color_style.content_background_color.color|convert_rgb }},{{ module.style.color_style.content_background_color.opacity }}%);
    padding:10px;
  }
 
{% endif %}
  
  
  
  #hs_cos_wrapper_{{ name }} .reSlideContent h4 { color:{{ module.style.color_style.slider_title_color.color }}; }
  #hs_cos_wrapper_{{ name }} .reSlideText, #hs_cos_wrapper_{{ name }} .reSlideText p { color:{{ module.style.color_style.text_content_color.color }}  !important; }
  #hs_cos_wrapper_{{ name }} .reSlideButton a { color:{{ module.style.color_style.slider_button_text_color.color }}; }      
  #hs_cos_wrapper_{{ name }} .resourceTitle  h3 { color:{{ module.style.color_style.main_title_color.color }}; }  
  
    
  @media(max-width:767px){
  
  #hs_cos_wrapper_{{ name }}  .textSliderSec {
     {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}
   
   }
  
  }
  
   {% if module.style.image_shadow.image_shadow == true %}
.shadow {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

{% endif %}
  </style>

{% end_require_css %}











