.blogpSection .wrapper { position: relative; }

.blogpSection button.slick-arrow { background-color: transparent;    border: 0;    font-size: 0;    position: absolute;    top: 60%;    transform: translateY(-50%);    width: 30px;    height: 50px;    padding: 0;     display: -webkit-flex !important;    -webkit-align-items: center;    -webkit-justify-content: center;    display: flex !important;    align-items: center;    justify-content: center;    cursor: pointer; }
.blogpSection button.bloPrev.slick-arrow { left:0px; }
.blogpSection button.bloNext.slick-arrow { right:0px; }
.blogpSection button.bloPrev.slick-arrow:before { content: "";    background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/left-arrow.png);    background-repeat: no-repeat;    width: 18px;    height: 51px;    position: absolute;    background-size: contain;    background-position: center;    }
.blogpSection button.bloNext.slick-arrow:before { content: "";    background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/right-arrow.png);    background-repeat: no-repeat;    width: 18px;    height: 51px;    position: absolute;    background-size: contain;    background-position: center;    }

.blogpSection.normal button.bloPrev.slick-arrow { left:-30px; }
.blogpSection.normal button.bloNext.slick-arrow { right:-30px; }


.blogpTitle { margin: 0 0 40px; }
.row-fluid .blogpTitle h2 { margin: 0 0 20px; }
.blogpItem .postTag { margin: 0 0 10px;    text-transform: uppercase;    font-size: 12px;    line-height: normal;    font-family: 'freight-sans-pro' !important;    font-weight: 700; }
.blogpListing .slick-track { display: flex;    display: -webkit-flex;    }
.blogpItem { position: relative; }
.blogpItInner { box-shadow: 0 3px 10px rgb(0 0 0 / 20%);    padding: 30px 25px 120px 25px;    background-color: #fff;    margin: 10px 13px;    text-decoration: none;    min-height: 240px; position: relative;transition: transform .3s; }
.blogpItInner:hover {transform: scale(1.05);}
a.blogpLInk { position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%; }
/*a.blogpLInk:hover {transform: scale(1.8); }*/
.postButton img { max-width: 70px !important; }
.row-fluid .blogpItInner h5 { margin: 0;  }
.postButton { position: absolute;    bottom: 20px; }
.blogpInner { margin: 0 auto; }





@media(min-width:992px){
.blogpSection.wide button.bloPrev.slick-arrow { left:20px; }
.blogpSection.wide .blogpInner { padding:0 40px; }
.blogpSection.wide button.bloNext.slick-arrow {  right:20px; }


}

@media(max-width:1320px){
.blogpInner { padding: 0 30px; }
.blogpSection button.bloPrev.slick-arrow, .blogpSection.normal button.bloPrev.slick-arrow { left:15px; top: 70%; }
.blogpSection button.bloNext.slick-arrow, .blogpSection.normal button.bloNext.slick-arrow { right:15px; top: 70%; }


}




@media(max-width:991px){
.blogpInner { width: 100% !important; }

}


@media(max-width:500px){
 
.blogpListing { padding: 0 40px; }

.blogpTitle { margin: 0 0 20px; }
.postButton img { max-width: 50px !important; }

.blogpListing ul.slick-dots { margin: 30px 0 0; text-align: center; }
 .blogpListing ul.slick-dots button { display: none; }
 .blogpListing ul.slick-dots li.slick-active { background-color: #ff8300;    border-color: #ff8300; }
 .blogpListing ul.slick-dots li { height: 20px;    width: 20px;    border: 2px solid #333;    border-radius: 50%;    display: inline-block; }
 .blogpListing ul.slick-dots li ~ li { margin-left: 10px; }
  .blogpListing { padding:0; }
  .blogpItInner { padding: 30px 25px 50px 25px; }

  .blogpSection button.bloPrev, .blogpSection button.bloNext { display:none; }
  .blogpInner { padding: 0; } 


}




