.row-fluid .mucSection { overflow: hidden; }	
.row-fluid .mucisItem { width: 20%;     padding: 0 10px; margin:0 0 30px; }
.row-fluid .mucisInner { margin: 0 -15px; }
.row-fluid .mucisInner.flexwrap { justify-content: center; -webkit-justify-content: center; }
.row-fluid .mucisIcon img { max-width: 72px;     margin: 0 auto; } 
.row-fluid .mucisIcon { text-align: center; }
.row-fluid .mucisIcon img { max-width: 72px !important; transition: all ease-in-out .2s; width:72px;}
.row-fluid .mucisTop h2 { color: #222;    margin: 0 0 20px; }
.mucisTop h4 {font-weight:600 !important;}
.row-fluid .mucisTop { margin: 0 auto 40px; }
.row-fluid .mucisBText a { color: #333;    font-size: 15px;    line-height: normal;    position: relative;    /*padding: 0 20px 0 0;*/    font-family: 'freight-sans-pro' !important;    font-weight: 700; }
.mucisIcon { margin: 0 0 20px; }
.row-fluid .mucisBText a:hover { color: #333 !important; }
.row-fluid .mucisBText a:hover:before { opacity: 1;    visibility: visible; right:-10px; }
.mucisBottom { overflow: hidden; }
.mucisSection .mucisIcon a:hover img {color:white !important;}

@media(max-width:991px){
 .row-fluid .mucisItem { width: 33.33%; margin: 0 0 30px; }
  .row-fluid .mucisButton { margin: 10px 0 0;    text-align: center; }

}


@media(max-width:767px){
  .row-fluid .mucisSection { padding: 60px 0; }
  .row-fluid .mucisItem { width:50%; }
}