<div class="mucisSection fullwidth">
  <div class="wrapper">
    <div class="mucisOuter">
      {% if module.top_content.title %}
      <div class="mucisTop">
        <h4>{{ module.top_content.title }}</h4>
      </div>
      {% endif %}
      <div class="mucisBottom">
      <div class="mucisInner flexwrap">
      {% for item in module.icon_group.icon_items %}
        <div class="mucisItem wow {{ module.style.animation_style.animation_type }}" data-wow-duration="{{ module.style.animation_style.speed }}s">
          <div class="mucisIcon">
          {% if item.icon.src %}
          {% set sizeAttrs = 'width="{{ item.icon.width }}" height="{{ item.icon.height }}"' %}
          {% if item.icon.size_type == 'auto' %}
            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
          {% elif item.icon.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ item.icon.max_width }}" height="{{ item.icon.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
           {% set loadingAttr = item.icon.loading != 'disabled' ? 'loading="{{ item.icon.loading }}"' : '' %}
                        {% set href = item.text_link.url.href %}
            {% if item.text_link.url.type is equalto "EMAIL_ADDRESS" %}
              {% set href = "mailto:" + href %}
            {% endif %}
            {% set rel = [] %}
            {% if item.text_link.no_follow %}
              {% do rel.append("nofollow") %}
            {% endif %}
            {% if item.text_link.open_in_new_tab %}
              {% do rel.append("noopener") %}
            {% endif %}
            <a href="{{ href }}"
              {% if item.text_link.open_in_new_tab %}target="_blank"{% endif %}
              {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
              >
          <img src="{{ item.icon.src }}" alt="{{ item.icon.alt }}" {{ loadingAttr }} {{ sizeAttrs }} 	{% if item.highlight %}style="filter: invert(55%) sepia(47%) saturate(3034%) hue-rotate(360deg) brightness(101%) contrast(107%);"{% endif %}>
            </a>
        {% endif %}
          </div>
          
          <div class="mucisBText">
            {% set href = item.text_link.url.href %}
            {% if item.text_link.url.type is equalto "EMAIL_ADDRESS" %}
              {% set href = "mailto:" + href %}
            {% endif %}
            {% set rel = [] %}
            {% if item.text_link.no_follow %}
              {% do rel.append("nofollow") %}
            {% endif %}
            {% if item.text_link.open_in_new_tab %}
              {% do rel.append("noopener") %}
            {% endif %}
            <a href="{{ href }}"
              {% if item.text_link.open_in_new_tab %}target="_blank"{% endif %}
              {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
              >
              {{ item.text }}
            </a>
          </div>
          
        </div>
        {% endfor %}
      </div>
      </div>
    </div>
  </div>
</div>

{% require_css %}
  <style>
   #hs_cos_wrapper_{{ name }}  .mucisSection { 
      background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
      {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}
    }
    #hs_cos_wrapper_{{ name }}  .mucisIcon, #hs_cos_wrapper_{{ name }}  .mucisBText {  {{ module.style.icon_text_alignment.textalignment_field.css|lower }} !important; }
    #hs_cos_wrapper_{{ name }}  .mucisTop h4 { color:{{ module.style.color_style.title_color.color }}; }
    #hs_cos_wrapper_{{ name }}  .mucisText, #hs_cos_wrapper_{{ name }}  .mucisText p { color:{{ module.style.color_style.top_text_color.color }} !important; }
    #hs_cos_wrapper_{{ name }}  .mucisBText a { color:{{ module.style.color_style.icon_box_text_color.color }}; }
   
    {% if module.style.container_style.top_content_size == 'narrow' %}
   #hs_cos_wrapper_{{ name }} .mucisTop { width:80%;}
   {% endif %}
   #hs_cos_wrapper_{{ name }}  .mucisTop {  {{ module.style.icon_text_alignment.text_alignment_top_content.css|lower }} !important; }  
    
    {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
        #hs_cos_wrapper_{{ name }} .wrapper {width:100%;  max-width:1240px; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'semi-narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper {  width:100%; max-width:1000px; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper {  width:100%; max-width:775px; margin: 0 auto;}
      {% endif %}
      
    @media(max-width:992px){
    {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
        #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'semi-narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper {  width:100%; max-width:100%; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper {  width:100%; max-width:100%; margin: 0 auto;}
      {% endif %}
}
    
    @media(max-width:767px){
    #hs_cos_wrapper_{{ name }}  .mucisSection { {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}  }
    }
  
  </style>

{% end_require_css %}


