<div class="contctSection fullwidth">
	<div class="background"></div>
	<div class="wrapper">
		<div class="contctOuter">
			<div class="contctInner flexwrap">
				{% for item in module.contact_group %}
				<div class="contctItems wow {{ module.style.animation_style.animation_type }}"
					data-wow-duration="{{ module.style.animation_style.speed }}s">
					<div class="contctTitle">
						<h5> {{ item.header }} </h5>
					</div>
					<div class="contctText"> {{ item.content }} </div>
					{% if item.hide_show_button %}
					<div class="richButton">
						{% set href = item.button.button_link.url.href %}
						{% if item.button.button_link.url.type is equalto "EMAIL_ADDRESS" %}
						{% set href = "mailto:" + href %}
						{% endif %}
						<a href="{{ href }}" {% if item.button.button_link.open_in_new_tab %}target="_blank" {% endif %}
							{% if item.button.button_link.rel %}rel="{{ item.button.button_link.rel }}" {% endif %}>
							{{ item.button.button_text }}
						</a>
					</div>
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>


{% require_css %}
  <style>
    .row-fluid  .contctSection
     { 
      background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
      {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}
      }
 .background {
      background-color:rgba({{ module.style.background_style.background_color_one.color|convert_rgb }},{{ module.style.background_style.background_color_one.opacity }}%);
     }
     .row-fluid  .contctSection .contctInner { 
      background-color:rgba({{ module.style.background_style.wrapper_background_color.color|convert_rgb }},{{ module.style.background_style.wrapper_background_color.opacity }}%);
      }
      .row-fluid .contctTitle h5 { color:{{ module.style.color_style.title_color.color }}; }
      .row-fluid .contctText h4 { color: {{ module.style.color_style.text_color.css }}; }
      
       {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .contctOuter { width:{{ module.style.container_style.add_inner_content_width }}%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:1240px; }
      {% elif module.style.container_style.select_container_sizes == 'semi-narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:1000px;}
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:775px }
      {% endif %}
      
      .row-fluid #hs_cos_wrapper_{{ name }} .contctSection .contctInner {  margin-top: {{ module.style.section_positioning }}px;}
      @media(max-width:992px){
       {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .contctOuter { width:{{ module.style.container_style.add_inner_content_width }}%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'semi-narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      {% endif %}
      
      }

     @media(max-width:767px){
     .row-fluid .contctSection { {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }} }
     }

  </style>

{% end_require_css %}




