.contctItems { width: 33.33%; padding: 30px; padding-top: 70px; margin: 0 0 30px; }
.contctInner { margin: 0 -22px; }
.row-fluid .contctTitle h5 { color: #fff;  font-weight: 600;    font-size: 21px;    line-height: normal; }
.row-fluid .contctText  { color: #222222;    font-size: 18px;    line-height: 20px;    font-weight: 400;    font-family: 'freight-sans-pro'; margin: 0; }
.row-fluid .contctSection { overflow: hidden; }
.richButton a:hover {background-position:left;}
.richButton a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%; transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #222;   transition: all ease-in-out .3s; background: linear-gradient(to right, #002e6d, #002e6d 50%, #002e6d 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.richButton a:hover:before { opacity: 1;    visibility: visible; right:-25px;background-position:left; }
.richButton a{color:#fff;font-size:16px;cursor:pointer;text-transform:uppercase;font-weight:700;position:relative;background:linear-gradient(to left,#ff8300 50%,#e57500 50%) right;background-size:200%;background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.flexwrap{display:flex;flex-flow:row wrap;justify-content:left;display:-webkit-flex;-webkit-flex-flow:row wrap;-webkit-justify-content:left}
.background{height:281px}

@media(max-width:991px) { 
.contctItems { width: 100%;    padding: 20px; padding-top: 60px;   text-align: center; } 
.contctInner { margin: 0; }
.row-fluid .contctTitle h3, .row-fluid .contctText h4, .row-fluid .contctTitle h2 { text-align: center; }
    
} 