<div class="tcSliderSection {{ module.style.container_style.select_container_sizes }} fullwidth">
  <div class="wrapper">
     <button class="tcSPrev"></button>
     <button class="tcSNext"></button>
     
    <div class="tcInner flexwrap alignCenter">
      <div class="tcSLeft">
        <div class="tcSLSlider">
        {% for item in module.sub_text %}
          <div class="tcSLItem">
           <div class="tcSlCon">
             <h2>{{ module.title }}</h2>
              <div class="tcSlText">
              {{ module.sub_text }}
              </div>
              <div class="tcSlButton">
              {% set href = module.button_link.url.href %}
              {% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                {% set href = "mailto:" + href %}
              {% endif %}
              {% set rel = [] %}
              {% if module.button_link.no_follow %}
                {% do rel.append("nofollow") %}
              {% endif %}
              {% if module.button_link.open_in_new_tab %}
                {% do rel.append("noopener") %}
              {% endif %}
              <a href="{{ href }}"
                {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
                {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
                >
                {{ module.button_text }}
              </a>
              </div>
            </div>
          </div>
          {% endfor %}
          </div>  
      </div>
      
      <div class="tcSRight">
        <div class="tcSRSlider">
           {% for item in module.slide %}
          <div class="tcSRItem">
            <div class="tcSRImage" style="background-image:url('{{ item.image_field.src }}');">
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      
    </div>
  </div>
</div>

{% require_js %}

   <script>
     $(document).ready(function(){
     
      
      $('.tcSRSlider').each(function(key, item) {
          console.log(key, item);
          var sliderIdName = 'tcSRSlider' + key;
          var sliderNavIdName = 'tcSLSlider' + key;
          var sliderPrevIdName = 'tcSPrev' + key;
          var sliderNextIdName = 'tcSNext' + key;
          

          this.id = sliderIdName;
          $('.tcSLSlider')[key].id = sliderNavIdName;
          $('.tcSPrev')[key].id = sliderPrevIdName;
          $('.tcSNext')[key].id = sliderNextIdName;
          

          var sliderId = '#' + sliderIdName;
          var sliderNavId = '#' + sliderNavIdName;
          var slidernext = '#' + sliderNextIdName;
          var sliderprev = '#' + sliderPrevIdName;
          

          $(sliderId).slick({
           slidesToShow: 1,
          slidesToScroll: 1,
          arrows: true,
          dots:false,
          autoplay:true,
          centerMode: true,
          autoplaySpeed:3000,  
          speed:900,
          loop: true,
          infinite: true,
          nextArrow:slidernext,
          prevArrow:sliderprev,
          asNavFor: sliderNavId,
          responsive: [
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                dots:true,
              }
            }
           
          ]

          
          });

          $(sliderNavId).slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                dots:false,
                autoplay:false,
                autoplaySpeed:900,  
                speed:900,
                loop: true,
                 infinite: true,
                fade:true,
                asNavFor: sliderId,
                responsive: [
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                dots:false,
              }
            }
           
          ]
          });

        });
      
      
      
    });

   
   </script>

{% end_require_js %}

  


{% require_css %}
   <style>
    #hs_cos_wrapper_{{ name }} .tcSliderSection {
      {{ module.style.spacing_style.spacing_top_bottom.css }}
      {% if module.style.background_style.background_options == 'image' %}
        {{ module.style.background_style.backgroundimage_field.css }}
      {% elif module.style.background_style.background_options == 'color' %}
      background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
      {% endif %}
    } 
    #hs_cos_wrapper_{{ name }} .tcSlCon h2 {  color:{{ module.style.color_style.title_color.color }}; }
    #hs_cos_wrapper_{{ name }} .tcSlText, #hs_cos_wrapper_{{ name }} .tcSlText p {  color:{{ module.style.color_style.sub_text_color.color }}; }
    #hs_cos_wrapper_{{ name }} .tcSlButton a {  color:{{ module.style.color_style.button_text_color.color }}; }
    #hs_cos_wrapper_{{ name }} .tcSlButton a:before { color:{{ module.style.color_style.button_arrows_color.color }}; }
   
   
   {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%;  max-width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .tcInner { width:100%; max-width:100%;  margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .tcInner {  width:100%; max-width:1240px; margin: 0 auto; }
        {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .tcInner {  width:100%; max-width:1000px; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .tcInner {  width:100%; max-width:775px; margin: 0 auto; }
      {% endif %}
   
   @media(max-width:992px){
    {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .tcInner { width:100%; max-width:100%;  margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .tcInner {  width:100%; max-width:100%; margin: 0 auto; }
        {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .tcInner {  width:100%; max-width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .tcInner {  width:100%; max-width:100%; margin: 0 auto; }
      {% endif %}
   }
   
   
   </style>

{% end_require_css %}






