.tcSliderSection .wrapper { position: relative; }
.tcSLeft { width:40%; }
.tcSRight { width: 60%;    padding-left: 40px; }
.tcSRImage { max-width: 220px !important;    display: inline-block; min-height: 180px;    width: 100%;    background-position: center;    background-size: contain;    background-repeat: no-repeat; transition: transform 0.3s linear; transition-delay: 0.5s; }
.tcSRItem.slick-slide { margin: 0 20px;    min-height: 340px; display: flex !important;    flex-wrap: wrap;    align-items: center; display: -webkit-flex !important;    -webkit-flex-wrap: wrap;    -webkit-align-items: center;    overflow: hidden; }
.slick-slide:not(.slick-current) .tcSRImage {
  transition-delay: 0s;
}
.tcSRItem.slick-slide.slick-current.slick-active .tcSRImage { max-width: 100% !important;   transform: scale(1.6); }
.tcSRSlider .slick-track { display: flex;    align-items: center; display: -webkit-flex;    -webkit-align-items: center; }
.tcSRSlider .slick-list { padding: 0 35% 0 0 !important; } 

.tcSliderSection button {display:none !important;}
.tcSliderSection button.tcSPrev.slick-arrow { outline: none;    top: 50%;    position: absolute;    left: 0px;    background-color: transparent;    border: 0;    font-size: 0; padding: 0; cursor: pointer; }
.tcSliderSection button.tcSPrev.slick-arrow:before { content: "";    background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/left-arrow.png);    background-repeat: no-repeat;    width: 18px;    height: 51px;    position: absolute;    background-size: contain;    background-position: center;    }
.tcSliderSection button.tcSNext.slick-arrow  { outline: none;    top: 50%;    position: absolute;    right:0px;    background-color: transparent;    border: 0;    font-size: 0; padding: 0; cursor: pointer; }
.tcSliderSection button.tcSNext.slick-arrow:before { content: "";    background-image: url(https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/right-arrow.png);    background-repeat: no-repeat;    width: 18px;    height: 51px;    position: absolute;    background-size: contain;    background-position: center;    }

.tcSliderSection.normal button.tcSPrev.slick-arrow { left:-30px; }
.tcSliderSection.normal button.tcSNext.slick-arrow { right:-30px; }
.tcSLItem.slick-slide {transition:none !important}


.tcSlButton { margin: 20px 0 0; }
.tcSlButton a:hover{    background-position:left; }
.tcSlButton a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%; transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #222;  transition: all ease-in-out .3s;background: linear-gradient(to right, #222, #222 50%, #222 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.tcSlButton a:hover:before { opacity: 1;    visibility: visible; right:-25px;background-position:left; }
.tcSlButton a { font-family: 'freight-sans-pro' !important;    position: relative;    font-weight: 700;    text-transform: uppercase;transition: all ease-in-out .3s;background: linear-gradient(to left, #ff8300 50%, #222 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

.tcSlCon { text-align:left }

@media(min-width:992px){
.tcSliderSection.wide .tcSLSlider button.tcSPrev.slick-arrow, .tcSliderSection.wide .tcSRSlider button.tcSPrev.slick-arrow { left:0 }
.tcSliderSection.wide .tcSLSlider { padding-left: 40px; }
.tcSliderSection.wide .tcSRSlider button.slick-next.slick-arrow, .tcSliderSection.wide .tcSLSlider button.slick-next.slick-arrow {  right:0; }
.tcSliderSection.wide .tcSRSlider { padding-right: 40px; }

}
@media(max-width:1320px){
.tcInner { padding: 0 30px; }
.tcSliderSection button.tcSPrev.slick-arrow, .tcSliderSection.normal button.tcSPrev.slick-arrow { left:20px; }
.tcSliderSection button.tcSNext.slick-arrow, .tcSliderSection.normal button.tcSNext.slick-arrow { right:20px; }


}


@media(max-width:991px){
 .tcInner { width: 100% !important; }
 .tcSLeft { width: 100%; }
 .tcSRight { width: 100%;    padding: 20px 0 0; }
 .tcSLItem.slick-slide { margin: 0 20px; }
 .tcSRItem.slick-slide.slick-current.slick-active .tcSRImage { max-width: 100% !important;     transform: scale(1.8); }


}



@media(max-width:767px){
  
 
 .tcSRSlider .slick-list { padding: 0 !important; }
 .tcSLSlider, .tcSRSlider { padding: 0; }
 .tcSRSlider { padding: 0; }
 .tcSRSlider ul.slick-dots { margin: 30px 0 0; text-align: center; }
 .tcSRSlider ul.slick-dots button { display: none; }
 .tcSRSlider ul.slick-dots li.slick-active { background-color: #ff8300;    border-color: #ff8300; }
 .tcSRSlider ul.slick-dots li { height: 20px;    width: 20px;    border: 2px solid #333;    border-radius: 50%;    display: inline-block; }
 .tcSRSlider ul.slick-dots li ~ li { margin-left: 10px; }
 .tcSLItem.slick-slide, .tcSRItem.slick-slide { margin: 0; }
 .tcSliderSection button.tcSPrev, .tcSliderSection button.tcSNext { display:none; }
 .tcInner { padding:0; }  
 
 

}