<div class="richtextSection fullwidth">
  <div class="wrapper">
    <div class="richInner">
      <div class="richContent">
        {{ module.content }}
      </div>
      {% if module.hide_show_button %}
      <div class="richButton">
      {% set href = module.button_link.url.href %}
        {% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}
        {% set rel = [] %}
        {% if module.button_link.no_follow %}
          {% do rel.append("nofollow") %}
        {% endif %}
        {% if module.button_link.open_in_new_tab %}
          {% do rel.append("noopener") %}
        {% endif %}
        <a href="{{ href }}"
          {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
          {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
          >
          {{ module.button_text }}
        </a>
      </div>
    {% endif %}
    </div>
  </div>
</div>

{% require_css %}
   <style>
    
     {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .richInner { width:100%; max-width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .richInner { width:100%; max-width:1240px; margin: 0 auto; }
     {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .richInner { width:100%; max-width:1000px; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .richInner { width:100%; max-width:775px; margin: 0 auto; }
      {% endif %}
      

      
       #hs_cos_wrapper_{{ name }}  .richtextSection {
     {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}    
     {% if module.style.background_style.select_background  == 'back_color' %}
     background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
     {% elif module.style.background_style.select_background  == 'back_image' %}
     {{ module.style.background_style.backgroundimage_field.css }}
     
     {% endif %}
     
   }
     #hs_cos_wrapper_{{ name }} .richButton a:before {  background: linear-gradient(to right, {{ module.style.color_style.button_arrows_color.color }}, {{ module.style.color_style.button_arrows_color.color }} 50%, {{ module.style.color_style.button_arrows_color.color }} 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

   #hs_cos_wrapper_{{ name }} .richButton a { color:{{ module.style.color_style.button_text_color.color }}; }
   #hs_cos_wrapper_{{ name }} .richButton a:before { color:{{ module.style.color_style.button_arrows_color.color }}; }
   #hs_cos_wrapper_{{ name }} .richContent h2 { color:{{ module.style.color_style.color_field.color }} !important;  }
   #hs_cos_wrapper_{{ name }} .richContent h3 { color:{{ module.style.color_style.h3_heading_color.color }} !important;  }
   #hs_cos_wrapper_{{ name }} .richContent h4 { color:{{ module.style.color_style.h4_heading_color.color }} !important;  }
   #hs_cos_wrapper_{{ name }} .richContent h5 { color:{{ module.style.color_style.h5_heading_color.color }} !important;  }
   #hs_cos_wrapper_{{ name }} .richContent h6 { color:{{ module.style.color_style.h6_heading_color.color }} !important;  }
   #hs_cos_wrapper_{{ name }} .richContent, #hs_cos_wrapper_{{ name }} .richContent p { color:{{ module.style.color_style.paragraph_text_color.color }} !important; }
   #hs_cos_wrapper_{{ name }} .richContent * { {{ module.style.content_alignment.textalignment_field.css|lower }} !important; }
   #hs_cos_wrapper_{{ name }} .richButton { {{ module.style.content_alignment.button_alignment.css|lower }} !important;  }
   
   
   @media(max-width:992px){
      {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .richInner { width:100%; max-width:100%;  margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .richInner { width:100%; max-width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .richInner { width:100%; max-width:1000px; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .richInner { width:100%; max-width:100%; margin: 0 auto; }
      {% endif %}
   }
   @media(max-width:767px){
   #hs_cos_wrapper_{{ name }} .richtextSection
   {
   {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}
   }
   
   } 
   </style>

{% end_require_css %}






