.richButton a { color: white;    font-size: 16px;    cursor: pointer;    text-transform: uppercase;    font-weight: 700; position: relative;background: linear-gradient(to left, #ff8300 50%, #222 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.richButton a:hover {background-position:0;}
.richButton a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%; transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #222;   transition: all ease-in-out .3s; background: linear-gradient(to right, #ff8300, #222 50%, #222 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.richButton a:hover:before { opacity: 1;  visibility: visible; right:-25px;background-position:left; -webkit-text-fill-color: transparent; }
.richButton { margin:20px 0 0; }  

.richContent ul { list-style-type: disc; padding: 0 20px 20px; }
.richContent li { list-style-type: disc; }

@media(max-width:767px){
.richInner { width: 100% !important; }
}