<div class="testiSection {{ module.style.container_style.select_container_sizes }} fullwidth">
  <div class="wrapper">
      <button class="testPrev"></button>
      <button class="testNext"></button>
     <div class="testiInner">
       <div class="testiSlider">
       {% for item in module.testi_slide %}
         <div class="testiSlide">
         {% for item2 in item.testimonial_item %}
           <div class="testiItem {{ item.select_column }} {{ item2.select_option_image_video_text_ }}">
               {% if item2.select_option_image_video_text_ == 'image' %}
                 <div class="testiImage">
                  <div class="testiBG" style="background-image:url({{ item2.image_field.src }});">
                  
                   {% if item2.arrow_on_off_ == 'on' %}
                      <div class="testiCArrow">
                        {% set href = item2.arrow_link.url.href %}
                              {% if item2.arrow_link.url.type is equalto "EMAIL_ADDRESS" %}
                                {% set href = "mailto:" + href %}
                              {% endif %}
                              {% set rel = [] %}
                              {% if item2.arrow_link.no_follow %}
                                {% do rel.append("nofollow") %}
                              {% endif %}
                              {% if item2.arrow_link.open_in_new_tab %}
                                {% do rel.append("noopener") %}
                              {% endif %}
                              <a href="{{ href }}"
                                {% if item2.arrow_link.open_in_new_tab %}target="_blank"{% endif %}
                                {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
                                >
                                <img src="https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Graphics/arrow-learn-more.svg" alt="arrow-learn-more" loading="lazy" width="100" height="100">
                              </a>
                      </div>
                      {% endif %}
                  
                  </div>
                 </div>
               {% elif item2.select_option_image_video_text_ == 'video' %}
                {% if item2.normal_videos.select_video_option == 'hubl_video' %}
                <div class="testiVideos">
                   {% if item2.normal_videos.videoplayer_field.player_id %}
                      {% set max_width = item2.normal_videos.videoplayer_field.size_type == 'auto_custom_max' ? item2.normal_videos.videoplayer_field.max_width : item2.normal_videos.videoplayer_field.width %}
                      {% set max_height = item2.normal_videos.videoplayer_field.size_type == 'auto_custom_max' ? item2.normal_videos.videoplayer_field.max_height : item2.normal_videos.videoplayer_field.height %}
                      {% widget_block video_player "embed_player"
                        overrideable=False,
                        type='scriptV4',
                        hide_playlist=True,
                        viral_sharing=False,
                        embed_button=False,
                        full_width={{ item2.normal_videos.videoplayer_field.size_type == 'auto_full_width' }},
                        width="{{ max_width }}",
                        height="{{ max_height }}",
                        player_id="{{ item2.normal_videos.videoplayer_field.player_id }}"
                      %}
                        {% widget_attribute "conversion_asset" %}
                          {{ item2.normal_videos.videoplayer_field.conversion_asset|tojson|safe }}
                        {% end_widget_attribute %}
                      {% end_widget_block %}
                    {% endif %}
                    
                
                 </div>
                     {% elif item2.normal_videos.select_video_option == 'yout_video' %}
                     <div class="youtVideo">
                       <iframe src="{{ item2.normal_videos.youtube_url|replace('watch?v=','embed/')|replace('//youtu.be/','//www.youtube.com/embed/') }}" allow='autoplay'></iframe>
                     </div>
                      {% elif item2.normal_videos.select_video_option == 'video_nor' %}
                     <div class="VidVideo">
                      <iframe src="{{ item2.normal_videos.video_url_mp4_vimeo_ }}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                     </div>
                     
                     {% endif %}
                   
                   {% elif item2.select_option_image_video_text_ == 'text' %}
                   <div class="testiContent">
                        {% if item2.text_field %}
                            <h3>{{ item2.text_field }}</h3>
                        {% endif %}
                        {% if item2.testimonial_content %}
                      <div class="testiText">
                      <i>{{ item2.testimonial_content }}</i>
                      </div>
                      {% endif %}
                      <div class="testiND flexwrap alignCenter">
                        <div class="testiName">{{ item2.person_name }}</div>&nbsp; — &nbsp; <div class="testiDesig">{{ item2.testimonial_person_designation }}</div>
                      </div>
                     
                   </div>
                     
                   
                   {% elif item2.select_option_image_video_text_ == 'popup' %}
                  
                   {% if item2.popup_videos.select_video_option_pops == 'yout_videos' %}
                   <div class="videoThumb" style="background-image:url({{ item2.popup_videos.video_thumb.src }});">
                      <div class="vidpArrow">
                        <a href="#youtpop{{ loop.index }}" class="various"> <img src="https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/vid-arrows-white.png" alt="vid-arrows" loading="lazy" width="150" height="150"></a>
                      </div>
                   </div>
                      <div id="youtpop{{ loop.index }}" class="vidPop youtVideoInn">
                        <div class="vidPopInner">
                          <iframe src="{{ item2.popup_videos.youtube_url_pops|replace('watch?v=','embed/')|replace('//youtu.be/','//www.youtube.com/embed/') }}?autoplay=0&mute=1" allow='autoplay'></iframe>
                        </div>
                      </div>
                      
                      
                      {% elif item2.popup_videos.select_video_option_pops == 'hubl_videos' %}
                      <div class="videoThumb" style="background-image:url({{ item2.popup_videos.video_thumb.src }});">
                        <div class="vidpArrow">
                         <a href="#hubpop{{ loop.index }}" class="various"> <img src="https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/vid-arrows.png" alt="vid-arrows" width="150" height="150"></a>
                        </div>
                      </div>
                      <div id="hubpop{{ loop.index }}" class="vidPop hubVideoInn">
                        <div class="vidPopInner">
                         {% if item2.popup_videos.video_hubls.player_id %}
                          {% set max_width = item2.popup_videos.video_hubls.size_type == 'auto_custom_max' ? item2.popup_videos.video_hubls.max_width : item2.popup_videos.video_hubls.width %}
                          {% set max_height = item2.popup_videos.video_hubls.size_type == 'auto_custom_max' ? item2.popup_videos.video_hubls.max_height : item2.popup_videos.video_hubls.height %}
                          {% widget_block video_player "embed_player"
                            overrideable=False,
                            type='scriptV4',
                            hide_playlist=True,
                            viral_sharing=False,
                            embed_button=False,
                            full_width={{ item2.popup_videos.video_hubls.size_type == 'auto_full_width' }},
                            width="{{ max_width }}",
                            height="{{ max_height }}",
                            player_id="{{ item2.popup_videos.video_hubls.player_id }}"
                          %}
                            {% widget_attribute "conversion_asset" %}
                              {{ item2.popup_videos.video_hubls.conversion_asset|tojson|safe }}
                            {% end_widget_attribute %}
                          {% end_widget_block %}
                        {% endif %}
                        </div>
                      </div>
                      
                       {% elif item2.popup_videos.select_video_option_pops == 'video_pops' %}
                       <div class="videoThumb" style="background-image:url({{ item2.popup_videos.video_thumb.src }});">
                        <div class="vidpArrow">
                         <a href="#vidspop{{ loop.index }}" class="various"> <img src="https://www.precisionmarketinggroup.com/hubfs/_2021_Website/2021_Website_Icons/vid-arrows.png" alt="vid-arrows" width="150" height="150"></a>
                        </div>
                      </div>
                     <div id="vidspop{{ loop.index }}" class="vidPop vidVideoInn">
                        <div class="vidPopInner vidurl">
                           <iframe src="{{ item2.popup_videos.video_url_mp4_vimeo__pops }}?autoplay=0&mute=1" allow='autoplay' width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        </div>
                     </div>
                     
                     
                     
                    {% endif %}
                      
                      
                   
                 {% endif %}
               
                 
           </div>
         {% endfor %}
         
         </div>
         {% endfor %}
         
         
       </div>
     </div>
  </div>
</div>

{% require_js %}

   <script>
     $(document).ready(function(){
     
      
      $('.testiSlider').each(function(key, item) {

          var sliderIdName = 'testiSlider' + key;
          var sliderPrevIdName = 'testPrev' + key;
          var sliderNextIdName = 'testNext' + key;
          

          this.id = sliderIdName;
          $('.testPrev')[key].id = sliderPrevIdName;
          $('.testNext')[key].id = sliderNextIdName;
          

          var sliderId = '#' + sliderIdName;
          var slidernext = '#' + sliderNextIdName;
          var sliderprev = '#' + sliderPrevIdName;

          $(sliderId).slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
            dots:false,
            autoplay:false,
            autoplaySpeed:3000,  
            speed:900,
            loop: true,
            nextArrow:slidernext,
            prevArrow:sliderprev,
            adaptiveHeight: true,
             responsive: [
              {
                breakpoint: 991,
                settings: {
                  slidesToShow: 1,
                  dots: true,
                  arrows: false,
                }
              }
            ]
          });

        });
      
      
      
      $(".various").fancybox({
		maxWidth	: 1200,
		maxHeight	: 600,
		fitToView	: false,
		width		: '70%',
		height		: '70%',
		autoSize	: false,
		closeClick	: true,
		openEffect	: 'none',
		closeEffect	: 'none',
		helpers: {
       overlay: {
          locked: true,
        }
    }
	});
  
    });
   </script>

{% end_require_js %}


{% require_css %}
  <style>
    {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
  #hs_cos_wrapper_{{ name }} .testiInner { width:100%; max-width:100%;  margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .testiInner { width:100%; max-width:1240px; margin: 0 auto; }
 {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .testiInner { width:100%; max-width:1000px; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .testiInner { width:100%; max-width:775px; margin: 0 auto; }
  {% endif %}
  
   #hs_cos_wrapper_{{ name }}  .testiSection {
     {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}
     {% if module.style.background_style.select_background  == 'back_color' %}
     background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
     {% elif module.style.background_style.select_background  == 'back_image' %}
     {{ module.style.background_style.backgroundimage_field.css }}
     {% endif %}
     
   }
  
  #hs_cos_wrapper_{{ name }} .testiContent { background-color:rgba({{ module.style.color_style.text_coontent_background_color.color|convert_rgb }},{{ module.style.color_style.text_coontent_background_color.opacity }}%);  } 
  #hs_cos_wrapper_{{ name }} .testiContent h3 { color:{{ module.style.color_style.title_color.color }} !important;   }  
  #hs_cos_wrapper_{{ name }} .testiText { color:{{ module.style.color_style.text_content_color.color }} !important; background-color:rgba({{ module.style.color_style.content_text_background_color.color|convert_rgb }},{{ module.style.color_style.content_text_background_color.opacity }}%);  }  
  #hs_cos_wrapper_{{ name }} .testiName, #hs_cos_wrapper_{{ name }}  .testiND { color:{{ module.style.color_style.name_color.color }} !important;   }  
  #hs_cos_wrapper_{{ name }} .testiDesig { color:{{ module.style.color_style.designation_text_color.color }} !important;   }  
    
  @media(max-width:992px){
  {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { width:100%;  max-width:100%; margin: 0 auto;}
  #hs_cos_wrapper_{{ name }} .testiInner { width:100%; max-width:100%;  margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .testiInner { width:100%; max-width:100%; margin: 0 auto; }
 {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .testiInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .testiInner { width:100%; max-width:100%; margin: 0 auto; }
  {% endif %}
  }  

@media(max-width:767px){
  #hs_cos_wrapper_{{ name }}  .testiSection {
     {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}
   }
  }
  
  </style>

{% end_require_css %}

