.blog-relatedpost {
padding:30px 0;
background-color:#f2f2f2;
}


#sidebar-wrapper,
.tabber-wrap.blog-tabber{
  background: #f2f2f2;
}
#sidebar-wrapper{
  min-height: 455px;
}
.hs-related-blog-title{
  font-size: 18px;
  color: #333;
  line-height: 18px;
  font-weight:600;
}
#sidebar-wrapper.is-sticky{
  position: fixed;
  width: 270px;
  max-width: 270px;
  top: 99px;
}
#sidebar-wrapper.top-override{
  position: static;
}

/* feed style */
.hs-related-blog-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom:15px;
/*   align-items: center; */
}
.hs-related-blog-item-text{
  float: none;
}
.hs-related-blog-item-image-wrapper{
  float: none;
  margin-right: 0!important;
  background-size: cover!important;
  background-position: 50%!important;
  background-repeat: no-repeat!important;
}
.hs-related-blog-item-image-wrapper img{
  height: 100%!important;
  display: none!important;
}

.hs-related-blog-item.hs-with-featured-image .hs-related-blog-item-image-wrapper,
.hs-rss-item.hs-with-featured-image .hs-rss-item-image-wrapper {
    display: inline-block;
   max-width: 30%;
    height: 70px;
    width: 100px;
}
.hs-related-blog-item.hs-with-featured-image .hs-related-blog-item-text, 
.hs-rss-item.hs-with-featured-image .hs-rss-item-text {
    width: 80%;
    float: left;
    padding-left: 20px;
    padding-right: 0;
    box-sizing: border-box;
    font-size: 11px;
    line-height: 24px;
    margin:auto;
}
.hs-related-blog-byline, .hs-rss-byline {
    opacity: 1;
     font-size: 18px;
    font-weight: 300;
    color: #333;
    line-height: 28px;
}

ul.tabber-tabs li {
    font-size: 24px;
    color: #333 !important;
    line-height: 34px !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   #sidebar-wrapper {
        position: static!important;
   }
}