<!-- Markup for blog post template -->

<div class="blog-relatedpost">
<div class="blog-wrapper">
<div class="tabber-wrap blog-tabber">
    <ul class="clearfix tabber-tabs">
      <li >Related Posts</li>
     </ul>
    <div class="tabber-content" style="padding: 16px 0 0 0;">
        <div class="tab-pane active">
          {% if module.enable_manual_listing_ %}
	          <!-- HTML to show when checked -->
           <div class="hs-related-blog-module feedreader_box">
             {% for item in module.custom_related_post %}
              <div class="hs-related-blog-item  hs-with-featured-image">
                <div class="hs-related-blog-item-text">
                    <a class="hs-related-blog-title" href="{{ item.post_link }}">
                        <span>
                           {{ item.title }}
                        </span>
                    </a>
                    <div class="hs-related-blog-byline">
                        <span class="hs-related-blog-posted-at"> Posted on </span>
                        <span class="hs-related-blog-date">{{ item.date }}</span>
                    </div>
                </div>
                <div class="hs-related-blog-item-image-wrapper" style="background: url({{ item.post_image.src }}); background-size: cover; background-position: 50%; background-repeat: no-repeat;">
                   
                </div>
              </div>
            {% endfor %}
           </div>
          {% else %}
          {% set tagNames = content.tag_names %}      
          {% set newTag = tagNames[0]|lower|split(' ')|join('-')|replace('&','')|replace('/','')|replace('--','-') %}

          {# related_blog_posts blog_ids="{{ module.recent_post_setting.blog_id }}", limit={{ module.related_post_setting.number_of_post }}, tags=tagNames|join(',') #}

          {% set tag_posts = blog_recent_tag_posts('default', tags=newTag, 4 ) %}
             <div class="hs-related-blog-module feedreader_box">
               {% set i = 0 %}
               {% for tag_post in tag_posts %}
                   {% if content.absolute_url != tag_post.absolute_url %}
               {% if i < 3 %}
                <div class="hs-related-blog-item  hs-with-featured-image">
                  <div class="hs-related-blog-item-text">
                      <a class="hs-related-blog-title" href="{{ tag_post.absolute_url }}">
                          <span>
                             {{ tag_post.name }}
                          </span>
                      </a>
                      <div class="hs-related-blog-byline">
                          <span class="hs-related-blog-posted-at"> Posted on </span>
                          <span class="hs-related-blog-date">{{ tag_post.publish_date|datetimeformat("%B %e, %Y")  }} </span>
                      </div>
                  </div>
                  <div class="hs-related-blog-item-image-wrapper" style="background: url({{ tag_post.featured_image}}); background-size: cover; background-position: 50%; background-repeat: no-repeat;">

                  </div>
                </div>
               {% set i = i + 1 %}
               {% endif %}
               {% endif %}
              {% endfor %}
           </div>
         {% endif %}        
        </div>
    </div>
</div>
</div>
</div>

<script>
$( window ).load(function() {
  var windowSize = window.outerWidth;
  if(windowSize > 992){
  //console.log( "document ready!" );
  var $sticky = $('#sidebar-wrapper');
  var sideBarWidth = $sticky.outerWidth();
  var $stickyrStopper = $('.blog-comments-section');
  if (!!$sticky.offset()) { // make sure ".sticky" element exists

    var generalSidebarHeight = $sticky.innerHeight();
    var stickyTop = $sticky.offset().top - 100;
    var stickOffset = 0;
    var stickyStopperPosition = $stickyrStopper.offset().top;
    var stopPoint = stickyStopperPosition - generalSidebarHeight + stickOffset - 100;
    var diff = stopPoint + stickOffset;
    console.log(diff);

    $(window).scroll(function(){ // scroll event
      var windowTop = $(window).scrollTop(); // returns number

      if (stopPoint < windowTop) {
          $sticky.css({ position: 'absolute', top: diff+70, width: sideBarWidth });
      } else if (stickyTop < windowTop+stickOffset) {
          $sticky.css({ position: 'fixed', top: 90, width: sideBarWidth });
      } else {
          $sticky.css({position: 'absolute', top: 'initial',width:sideBarWidth });
      }
    });

  }
 }
});
</script>

