<div class="heroSection {% if module.video_content.select_background_options == 'video' %} heroVidSec {% endif %}  fullwidth">
{% if module.video_content.select_background_options == 'video' %}
  <div class="heroVideo">
    {% if module.video_content.select_video_options == 'hubl_video' %}
      {% set href = module.video_content.video_link.url.href %}
        {% if module.video_content.hubl_video.player_id %}
          {% set max_width = module.video_content.hubl_video.size_type == 'auto_custom_max' ? module.video_content.hubl_video.max_width : module.video_content.hubl_video.width %}
          {% set max_height = module.video_content.hubl_video.size_type == 'auto_custom_max' ? module.video_content.hubl_video.max_height : module.video_content.hubl_video.height %}
          {% widget_block video_player "embed_player"
            overrideable=False,
            type='scriptV4',
            autoplay=True,
            hide_playlist=True,
            loop=True,
            muted=True,
            viral_sharing=False,
            embed_button=False,
            full_width={{ module.video_content.hubl_video.size_type == 'auto_full_width' }},
            width="{{ max_width }}",
            height="{{ max_height }}",
            player_id="{{ module.video_content.hubl_video.player_id }}"
          %}
            {% widget_attribute "conversion_asset" %}
              {{ module.video_content.hubl_video.conversion_asset|tojson|safe }}
            {% end_widget_attribute %}
          {% end_widget_block %}
        {% endif %}
     
      {% elif module.video_content.select_video_options == 'yout_video' %}
      <iframe src="{{ module.video_content.youtube_link|replace('watch?v=','embed/')|replace('//youtu.be/','//www.youtube.com/embed/') }}?autoplay=1&mute=1&loop=1&showinfo=0&controls=0" frameborder="0" allow=" autoplay; accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      {% endif %}
  </div>
  {% endif %}
  <div class="wrapper">
    <div class="heroInner">
      <div class="heroContent text-center">
       <div class="heroTitle">
        {% if module.content.subtitle %}
       <h5>{{ module.content.subtitle }}</h5>
       {% endif %}
        <h1>
        {{ module.content.title }} 
        {% if module.content.hide_show_change_word %}
        <span class="txt-rotate" data-period="2000" data-rotate="[ {% for item in module.content.change_word_text.text_field %} &quot;{{ item }}&quot;{% if not loop.last %},{% endif %}  {% endfor %}  ]" >
        </span>
        {% endif %}
        </h1>
        
       </div>
         {% if module.content.hide_show_full_text %}
         <div class="heroText">
         {{ module.content.full_text }}
         </div> 
        {% endif %}
         {% if module.content.hide_show_button %}
	
         <div class="heroButtons">
         <div class="herobtn">
         {% set href = module.content.button_link.url.href %}
          {% if module.content.button_link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
          {% endif %}
          {% set rel = [] %}
          {% if module.content.button_link.no_follow %}
            {% do rel.append("nofollow") %}
          {% endif %}
          {% if module.content.button_link.open_in_new_tab %}
            {% do rel.append("noopener") %}
          {% endif %}
          <a href="{{ href }}"
            {% if module.content.button_link.open_in_new_tab %}target="_blank"{% endif %}
            {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
            >
            {{ module.content.button_text }}
          </a>
          </div>
         </div>
         
      {% endif %}
         
      </div>
    </div>
  </div>
</div>


{% require_css %}
  <style>
  {% if module.video_content.select_background_options == 'image' %}
    .heroSection { 
    background-image:url({{ module.video_content.background_image.src }});
    }
  {% endif %}
  
    .heroTitle h1 { color:{{ module.style.color_style.title_color.color }} !important; }
        .heroTitle h5 { color:{{ module.style.color_style.title_color.color }} !important; }

    .heroText, .heroText p { color:{{ module.style.color_style.text_color.color }} !important; }
    {% if module.style.title_style.select_title_style == 'border' %}
    .heroTitle h1 { border:{{ module.style.title_style.border_size }}px {{ module.style.title_style.border_style }} rgba({{ module.style.title_style.border_color.color|convert_rgb }},{{ module.style.title_style.border_color.opacity }}%);  display: inline-block; padding: 10px 20px !important; }
    {% elif module.style.title_style.select_title_style == 'bg_color' %}
      .heroTitle h1 { background-color:rgba({{ module.style.title_style.background_color.color|convert_rgb }},{{ module.style.title_style.background_color.opacity }}%); display: inline-block; padding: 5px 20px !important; }
    {% endif %}
    
    
  .heroSection { {{ module.style.spcing_options.spacing_top_bottom_desktop_.css }} }
    .heroSection { background-repeat: no-repeat;    background-position: center top;    background-size: cover; background-image:url({{ module.video_content.background_image.src }});}
  .row-fluid .heroTitle h1 span.txt-rotate { display:block; color:{{ module.style.color_style.rotate_text_color.color }};  }
  .heroButtons .herobtn a { color:{{ module.style.color_style.button_text_color.color }} !important; }  
  .heroButtons a { font-size: 16px;    line-height: normal;    font-family: 'freight-sans-pro' !important;    text-transform: uppercase;    font-weight: 700;     position: relative;    padding: 20px 10px;background: linear-gradient(to left, {{ module.style.color_style.button_text_color.color }} 50%, {{ module.style.title_style.button_hover_text_color.color }}  50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text;-webkit-text-fill-color: transparent;  }
   .heroSection:before { content:""; background-color:rgba({{ module.style.color_style.overlay_color.color|convert_rgb }},{{ module.style.color_style.overlay_color.opacity }}%) }
   .heroButtons .herobtn a:before {  color:rgba( {{ module.style.color_style.button_arrows_color.color|convert_rgb }},{{ module.style.color_style.button_arrows_color.opacity }}%); }
   .heroButtons a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%; transform: translateY(-50%);    right: -15px;    font-family: fontawesome;    color: #fff;   transition: all ease-in-out .3s; background: linear-gradient(to right, {{ module.style.color_style.button_arrows_color.color }}, {{ module.style.color_style.button_arrows_color.color }} 50%,{{ module.style.color_style.button_arrows_color.color }} 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text;-webkit-text-fill-color: transparent;   }
    #hs_cos_wrapper_{{ name }}  .herobtn {background: {{ module.style.color_style.button_background_color.color }} 0% 0% no-repeat padding-box; }
  #hs_cos_wrapper_{{ name }} .heroTitle h1,  #hs_cos_wrapper_{{ name }} .heroTitle h5, #hs_cos_wrapper_{{ name }} .heroText, #hs_cos_wrapper_{{ name }} .heroText p,  #hs_cos_wrapper_{{ name }} .heroContent { text-align: {{ module.style.alignment_style.alignment_field.horizontal_align|lower }} !important; }
   #hs_cos_wrapper_{{ name }} .wrapper, #hs_cos_wrapper_{{ name }} .heroInner { margin: 0 auto; }
   {% if module.style.container_style.select_container_sizes == 'wide' %}
    #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
    #hs_cos_wrapper_{{ name }} .heroInner { width:100%; max-width:100%;margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
     #hs_cos_wrapper_{{ name }} .heroInner {width:100%;  max-width:1240px; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .heroInner { width:100%; max-width:1000px; margin: 0 auto;}
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .heroInner { width:100%;  max-width:775px; margin: 0 auto;}
  {% endif %}
   
  @media(max-width:991px){
  
  .heroSection { {{ module.style.spcing_options.spacing_top_bottom_tablate_.css }} }
  
  }
  
     
  @media(max-width:992px){
  
   {% if module.style.container_style.select_container_sizes == 'wide' %}
    #hs_cos_wrapper_{{ name }} .wrapper { width:100%;max-width:100%; margin: 0 auto; }
    #hs_cos_wrapper_{{ name }} .heroInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
     #hs_cos_wrapper_{{ name }} .heroInner { width:100%; max-width:100%; margin: 0 auto;}
  {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .heroInner { width:100%; max-width:100%; margin: 0 auto;}
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .heroInner { width:100%; max-width:100%; margin: 0 auto;}
  {% endif %}
     
  }
  
  @media(max-width:767px){
  .heroSection { {{ module.style.spcing_options.spacing_top_bottom_mobile_.css }}  }
  
  }
  </style>
{% end_require_css %}












