    .heroSection { position: relative; padding: 140px 0 190px;    background-repeat: no-repeat;    background-position: center top;    background-size: cover; }
    .row-fluid .heroTitle h1 { text-align: center;    color: #fff;    font-size: 38px;    line-height: 44px;    text-transform: uppercase; margin-bottom:20px;  }
    .row-fluid .heroTitle h1 span.txt-rotate { color: #FF8300;min-height:62px; }
     .row-fluid .heroTitle h5 {font-size:18px;line-height:44px;} 
    .heroText, .heroText p { color: #fff !important;    font-size: 24px;    text-align: center; }
    .heroText p:last-child { margin:0; }    
    .heroButtons a:hover:before { opacity: 1;    visibility: visible; right:-20px;background-position:left; }
    .heroButtons a { font-size: 18px !important;    line-height: normal;    font-family: 'freight-sans-pro' !important;    text-transform: uppercase;    font-weight: 700;     position: relative;    padding: 10px 5px !important;background: linear-gradient(to left, #333 50%, #222 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text;-webkit-text-fill-color: transparent;  }
    .heroButtons a:hover {     background-position: left; transition-delay: inherit;transition-duration: 0.65s; }
    .heroVideo video, .heroVideo iframe { width: 100%;    height: 100%;    object-fit: cover; }
    .heroVideo { position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%;  overflow: hidden; }
    .heroInner { position: relative; z-index: 99; }
    .heroSection:before { content: "";    background-color: rgba(0, 0, 0,30%);    position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%;    z-index: 9; }  
    .heroVideo .vidyard-player-container, .heroVideo .vidyard-player-container>div>div, .heroVideo .vidyard-player-container>div { max-width: 100% !important;    max-height: inherit !important; height: 100% !important; }
    .heroVideo > div { height: 100%; }
    .herobtn {width:280px;   text-align: center;}
    .heroButtons{  margin-top: 40px;}
.heroButtons a:before {  right: -18px !important;}
    
    @media(max-width:1200px){
      .heroVideo > div { transform: scale(1.5); }
    }
     @media(max-width:991px){
      .heroVideo > div { transform: scale(2); }
    }
    
    @media(max-width:767px){
    
      .row-fluid .heroTitle h1 { font-size: 38px; }
      .heroText, .heroText p { font-size: 18px; }
     .heroInner { max-width: 100% !important; }
     .heroVideo > div  { transform: scale(2.6);  }  
     
     
    }
    
     @media(max-width:415px){
     .heroVideo>div { transform: scale(3); }
     
     
    }
    @media(max-width:369px){
     .heroVideo>div { transform: scale(3.9); }
     
     
    }
    
    
    
    
    