
   .socialctaHSub { margin: 0 0 20px; }
   .socialctaImage { width:30%; max-width: 250px;}
    .socialctaImage img {width:75px; margin-top: 5px}
   .socialctaHeading{ width: calc(100% / 2 - 160px); }
   .socialctaicons{ width:44%; }
   .socialctaHeading h3 { text-transform: uppercase;    font-weight: 700 !important; }
    .socialctaButton a:hover {background-position:left;}
    .socialctaButton a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%; transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #222;   transition: all ease-in-out .3s; background: linear-gradient(to right, #002e6d, #002e6d 50%, #002e6d 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
    .socialctaButton a:hover:before { opacity: 1;    visibility: visible; right:-25px;background-position:left; }
    .socialctaButton a {
        color: white;
        font-size: 16px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        background: linear-gradient(to left,#ff8300 50%,#e57500 50%) right;
        background-size: 200%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
   .socialctaInner { display: flex ; z-index: 99;justify-content: center;align-items: center; }
   .socialctaicons .social-icons-wrapper ul>li{ display: inline-block; }
   .socialctaicons .social-icons-wrapper ul li img {max-width: 24px !important; vertical-align: middle;max-height: 24px !important; width:24px}
   .socialctaicons  h3 { text-transform: uppercase;    font-weight: 700 !important; }
   .socialctaicons .social-icons-wrapper ul li ~ li { margin-left: 5px;}
    
   @media(max-width:991px){
   .socialctaImage { display: block; width:100% ; text-align:center; max-width: 100%;}
   .socialctaInner { max-width: 100% !important; }
   .socialctaInner { display: block ;}
   .socialctaHeading{ width:100%; text-align: center !important; margin-top:20px }
   .socialctaicons{ width:100%; display: block ; text-align: center;
    margin-top: 20px;}
   }
