<div class="socialctaSection fullwidth">
    <div class="wrapper">
        <div class="socialctaInner">
            {% if module.show_left_image %}
            <div class="socialctaImage">
                {% if module.left_image.src %}
                {% set sizeAttrs = 'width="{{ module.left_image.width }}" height="{{ module.left_image.height }}"' %}
                {% if module.left_image.size_type == 'auto' %}
                {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                {% elif module.left_image.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ module.left_image.max_width }}" height="{{ module.left_image.max_height
                }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                {% set loadingAttr = module.left_image.loading != 'disabled' ? 'loading="{{ module.left_image.loading
                }}"' : '' %}
                <img src="{{ module.left_image.src }}" alt="{{ module.left_image.alt }}" {{ loadingAttr }} {{ sizeAttrs
                    }}>
                {% endif %}
            </div>
            {% endif %}
            <div class="socialctaHeading">
                <h3>{{ module.header_content.title }}</h3>
                {% if module.header_content.show_sub_text %}
                <div class="socialctaHSub">
                    {{ module.header_content.sub_text }}
                </div>
                {% endif %}
                {% if  module.header_content.select_cta_or_link != '' %}

                <div class="socialctaButton">
                    {% if  module.header_content.select_cta_or_link == 'link' %}
                    {% set href = module.header_content.contact_link.url.href %}
                    {% if module.header_content.contact_link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                    {% endif %}
                    {% set rel = [] %}
                    {% if module.header_content.contact_link.no_follow %}
                    {% do rel.append("nofollow") %}
                    {% endif %}
                    {% if module.header_content.contact_link.open_in_new_tab %}
                    {% do rel.append("noopener") %}
                    {% endif %}
                    <a href="{{ href }}" {% if module.header_content.contact_link.open_in_new_tab %}target="_blank" {%
                        endif %} {% if rel %}rel="{{ rel|join(" ") }}" {% endif %}>
                        {{ module.header_content.contact_button_text }}
                    </a>
                    {% elif module.header_content.select_cta_or_link == 'cta' %}
                      {% cta guid="{{ module.header_content.cta_field }}" %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="socialctaicons">
                {% if module.social_media.social_section_title %}
                <h3>{{ module.social_media.social_section_title }}</h3>
                {% endif %}
                <div class="social-icons-wrapper">
                    <ul>
                        {% for item in module.social_media.icons %}
                        <li>
                            {% set href = item.link_field.url.href %}
                            {% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
                            {% set href = "mailto:" + href %}
                            {% endif %}
                            <a href="{{ href }}" {% if item.link_field.open_in_new_tab %}target="_blank" {% endif %} {%
                                if item.link_field.rel %}rel="{{ item.link_field.rel }}" {% endif %}>
                                {% if item.social_media_icons.src %}
                                {% set sizeAttrs = 'width="{{ item.social_media_icons.width }}" height="{{
                                item.social_media_icons.height }}"' %}
                                {% if item.social_media_icons.size_type == 'auto' %}
                                {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                                {% elif item.social_media_icons.size_type == 'auto_custom_max' %}
                                {% set sizeAttrs = 'width="{{ item.social_media_icons.max_width }}" height="{{
                                item.social_media_icons.max_height }}" style="max-width: 100%; height: auto;"' %}
                                {% endif %}
                                {% set loadingAttr = item.social_media_icons.loading != 'disabled' ? 'loading="{{
                                item.social_media_icons.loading }}"' : '' %}
                                <img src="{{ item.social_media_icons.src }}" alt="{{ item.social_media_icons.alt }}" {{
                                    loadingAttr }} {{ sizeAttrs }}>
                                {% endif %}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% require_css %}
  <style>
  {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
  #hs_cos_wrapper_{{ name }} .socialctaInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .socialctaInner { width:100%; max-width:1240px; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .socialctaInner { width:100%; max-width:1000px; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .socialctaInner { width:100%; max-width:775px; margin: 0 auto; }
  {% endif %}
  
   #hs_cos_wrapper_{{ name }}  .socialctaSection {
     {{ module.style.spacing_style.spacing_top_bottom.css }}
     {% if module.style.background_style.select_background  == 'bg_color' %}
     background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
     {% elif module.style.background_style.select_background  == 'bg_image' %}
     {{ module.style.background_style.backgroundimage_field.css }}
     
     {% endif %}
     
   }
   #hs_cos_wrapper_{{ name }} .socialctaButton a { color:{{ module.style.header_style.contact_button_text_color.color }}; }
   #hs_cos_wrapper_{{ name }} .socialctaHeading h3  { color:{{ module.style.header_style.title_color.color }}; }
   #hs_cos_wrapper_{{ name }} .socialctaHSub  { color:{{ module.style.header_style.sub_text_color.color }}; }
   #hs_cos_wrapper_{{ name }} .socialctaicons h3 {color:{{ module.style.header_style.social_media_title.color }}}
   #hs_cos_wrapper_{{ name }} .socialctaHeading, #hs_cos_wrapper_{{ name }} .socialctaHeading h3 { {{ module.style.header_content_alignment.alignment.css|lower }} }
 
 
  @media(max-width:992px){
    #hs_cos_wrapper_{{ name }} .socialctaHeading h3 { text-align:center !important; }
    #hs_cos_wrapper_{{ name }} .socialctaButton { text-align:center !important; }
      {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { width:100%; max-width:100%; margin: 0 auto;}
  #hs_cos_wrapper_{{ name }} .socialctaInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .socialctaInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .socialctaInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .socialctaInner { width:100%; max-width:100%; margin: 0 auto; }
  {% endif %}
    
  }
 @media(max-width:767px){
  #hs_cos_wrapper_{{ name }}  .socialctaSection {
     {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}
   }
    #hs_cos_wrapper_{{ name }} .socialctaHeading h3 { text-align:center !important; }
    #hs_cos_wrapper_{{ name }} .socialctaButton { text-align:center !important; }
  }
  
  </style>

{% end_require_css %}




