<div class="pricingSection {{ module.style.container_style.select_container_sizes }} fullwidth">
  <div class="wrapper">
    <div class="pricingInner">
       {% if module.header_content.heading || module.header_content.sub_heading != ''%}
       <div class="pricingTitle">
         {% if module.header_content.heading %}
           <h2>{{ module.header_content.heading }}</h2>
         {% endif %}
         {% if module.header_content.sub_heading  %}
           <div class="pricingSub ">
            <p>{{ module.header_content.sub_heading }}</p>
           </div>
         {% endif %}
       </div>
       {% endif %}
       <div class="pricingListing">
      {% for item in module.pricing %}
         <div class="pricingItem">
           <div class="pricingItInner">
        	{% if item.icon.src %}  
          <div class="pricingIcon">
		{% set sizeAttrs = 'width="{{ item.icon.width }}" height="{{ item.icon.height }}"' %}
		{% if item.icon.size_type == 'auto' %}
			{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
		{% elif item.icon.size_type == 'auto_custom_max' %}
			{% set sizeAttrs = 'width="{{ item.icon.max_width }}" height="{{ item.icon.max_height }}" style="max-width: 100%; height: auto;"' %}
		{% endif %}
		 {% set loadingAttr = item.icon.loading != 'disabled' ? 'loading="{{ item.icon.loading }}"' : '' %}
		<img src="{{ item.icon.src }}" alt="{{ item.icon.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
    </div>
    	{% endif %}
     <div class="pricingInnerTitle">
	   <h4>{{ item.title }} </h4>
	    </div>
	     <p>{{ item.description }}</p>
       <div class="pricingDetail"><h5>{{ item.pricing_details }} </h5></div>
         </div>
         </div>
       {% endfor %}
       </div>
    </div>
  </div>
</div>




{% require_css %}
  <style>
   #hs_cos_wrapper_{{ name }} .pricingSection {
     {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}
     
     {% if module.style.background_style.select_background == 'back_color' %}
         background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
    {% elif module.style.background_style.select_background == 'back_image' %}
    {{ module.style.background_style.backgroundimage_field.css }}
    {% endif  %}
   }  
   
    {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { width:100%;max-width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .pricingInner { width:100%;max-width:100%; margin: 0 auto; }
       {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .pricingInner { width:100%; max-width:1240px; margin: 0 auto;  }
      {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .pricingInner { width:100%; max-width:1000px; margin: 0 auto;  }
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .pricingInner { width:100%; max-width:775px; margin: 0 auto;  }
      {% endif %}
      
   #hs_cos_wrapper_{{ name }} .pricingTitle h1 { color:{{ module.style.color_style.title_color.color }};  }
   #hs_cos_wrapper_{{ name }} .pricingSub, #hs_cos_wrapper_{{ name }} .pricingSub p  { color:{{ module.style.color_style.sub_title_color.color }} !important;  }
   #hs_cos_wrapper_{{ name }} .pricingDetail h5{ color:{{ module.style.color_style.pricing_detail_color.color }}; }  
   #hs_cos_wrapper_{{ name }} .pricingInnerTitle h4 { color:{{ module.style.color_style.pricing_card_title_color.color }}; }  
   #hs_cos_wrapper_{{ name }} .pricingItInner { background-color:rgba({{ module.style.color_style.post_box_background_color.color|convert_rgb }},{{ module.style.color_style.post_box_background_color.opacity }}%); }
   
   @media(max-width:767px){
     #hs_cos_wrapper_{{ name }} .pricingSection {
     {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}
   }  
   }
  
    @media(max-width:992px){
     {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { max-width:100%;width:100%;  }
       {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .pricingInner { width:100%; max-width:100%; margin: 0 auto;  }
      {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .pricingInner { width:100%; max-width:100%; margin: 0 auto;  }
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .pricingInner { width:100%; max-width:100%; margin: 0 auto;  }
      {% endif %}
    }
  </style>

{% end_require_css %}
