.pricingSection .wrapper { position: relative; }
.pricingIcon img {width:150px;}
.pricingTitle { margin: 0 0 40px; }
.row-fluid .pricingSection .pricingTitle h1{text-align:left;}
.row-fluid .pricingTitle h1 { margin: 0 0 20px; text-align:left; }
.pricingListing { display: flex;    display: -webkit-flex; gap:20px;   }
.pricingItem { position: relative; width:50%; }
.pricingItInner { box-shadow: 0 3px 10px rgb(0 0 0 / 20%);    padding: 50px 50px 50px 50px;    background-color: #fff;     text-decoration: none;    min-height: 240px; position: relative;transition: transform .3s; }
/*.pricingItInner:hover {transform: scale(1.05);} */
a.pricingLInk { position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%; }
/*a.pricingLInk:hover {transform: scale(1.8); }*/
.row-fluid .pricingItInner h4 { margin: 0; font-weight:600;     padding-bottom: 10px; }
.pricingInner { margin: 0 auto; }
.pricingIcon {text-align:center; margin-bottom:15px;}

@media(min-width:992px){
.pricingSection.wide .pricingInner { padding:0 40px; }
}

@media(max-width:991px){
.pricingInner { width: 100% !important; }
.pricingItem { position: relative; width:100%; }

}

@media(max-width:767px){
  .pricingListing .richContent{padding: 0 10px;}
  .pricingListing { padding: 0 40px;    display: block; }
  .pricingTitle { margin: 0 10px 20px; }
  .pricingListing { padding:0; }
  .pricingItInner { padding: 30px 25px 50px 25px; margin-bottom: 20px; }
  .pricingInner { padding: 0; } 
}




