 .bgImgtxtButton {margin-top:20px;}
.bgImgtxtButton a:hover {  color: #ff8300; }
.bgImgtxtButton a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%; transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #fff;   transition: all ease-in-out .3s; }
.bgImgtxtButton a:hover:before { opacity: 1;    visibility: visible; right:-30px; }
.bgImgtxtButton a {    font-family: 'freight-sans-pro' !important;    position: relative;    font-weight: 700;       text-transform: uppercase; }
.bgImgtxtButton1 { margin: 20px 0 0; }
.bgImgtxtButton1 a:hover {  color: #ff8300; }
.bgImgtxtButton1 a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%; transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #fff;   transition: all ease-in-out .3s; }
.bgImgtxtButton1 a:hover:before { opacity: 1;    visibility: visible; right:-30px; }
.bgImgtxtButton1 a {    font-family: 'freight-sans-pro' !important;    position: relative;    font-weight: 700;       text-transform: uppercase; }
.bgImgtxtButton1 { margin: 20px 0 0; }
.row-fluid .bgImgtxtInner h3 { font-weight: 600; font-size: 28px; line-height: 38px; }
.bgImgtxtflex {display:flex;}
.bgImgtxtflex .blank {width:50%;}
.bgImgtxtflex .bgImgtxtContent {width:50%;    padding: 89px 0px 89px 0px;}
.bgImgtxtflex .bgImgtxtContent i {font-size:18px; line-height:20px; font-weight:600;}
@media(max-width:767px){
 .bgImgtxtInner { padding: 20px 0; }
 .bgImgtxtflex {display:block;}
.bgImgtxtflex .blank {width:100%;}
.bgImgtxtflex .bgImgtxtContent {width:100%;}
.bgImgtxtInner {   padding: 30px; display:block; margin-top:-200px; }
.Inner-image{width:100%;  text-align: center; }
.InnerContent{width:100%;}
.bgImgtxtInner .InnerContent .bgImgtxtButton {margin-bottom:20px;}
.bgImgtxtOuter {   padding: 30px; display:block;}
.Outer-image{width:100%;    text-align: center;}
.Outer-Content{width:100%;}
.bgImgtxtButton a:before {right: 41px;}
.bgImgtxtflex .bgImgtxtContent .bgImgtxtButton a:before { right: -20px ;}
.bgImgtxtflex .bgImgtxtContent  {   padding: 20px; display:block;}
}

.imgtxtContent-left {  
 padding-left:0px;     
}

.bgImgtxtflex-left {padding-left:0px;} 

.bgImgtxtflex-left {
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important;
}
@media(min-width:768px) and (max-width:1024px) {
.bgImgtxtflex .bgImgtxtContent { padding-left:20px;}
.InnerContent { padding-left:20px;}
}