<div class="bgImgtxtImage fullwidth">
  <div class="wrapper">
    <div class="bgImgtxtflex-{{ module.change_text_position }} bgImgtxtflex">
      <div class="blank-{{ module.change_text_position }} blank"></div>
      <div class="bgImgtxtContent">
      {% if module.section_content.header %}
        <h2>{{ module.section_content.header }}</h2>
      {% endif %}
      {% if module.section_content.content %}
        <i>{{ module.section_content.content }}</i>
      {% endif %}
      
      {% if module.section_content.enable_cta_or_link %}
      <div class="bgImgtxtButton">
      {% if module.section_content.button_1.select_cta_or_link == 'link' %}
        {% set href = module.section_content.button_1.button_link.url.href %}
        {% if module.section_content.button_1.button_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}
        <a href="{{ href }}"
        {% if module.section_content.button_1.button_link.open_in_new_tab %}target="_blank"{% endif %}
        {% if module.section_content.button_1.button_link.rel %}rel="{{ module.section_content.button_1.button_link.rel }}"{% endif %}
        >{{ module.section_content.button_1.button_name }}
         </a>
       {% elif module.section_content.button_1.select_cta_or_link == 'cta' %}
        {% cta guid="{{ module.section_content.button_1.cta_field }}" %}
       {% endif %}
       </div>

       <div class="bgImgtxtButton1">
       {% if module.section_content.button_2.select_cta_or_link == 'link' %}
        {% set href = module.section_content.button_2.button_link.url.href %}
        {% if module.section_content.button_2.button_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}
        <a href="{{ href }}"
          {% if module.section_content.button_2.button_link.open_in_new_tab %}target="_blank"{% endif %}
          {% if module.section_content.button_2.button_link.rel %}rel="{{ module.section_content.button_2.button_link.rel }}"{% endif %}
          >{{ module.section_content.button_2.button_name }}
         </a>
       {% elif module.section_content.button_2.select_cta_or_link == 'cta' %}
        {% cta guid="{{ module.section_content.button_2.cta_field }}" %}
       {% endif %}
       </div>
       {% endif %}
      </div>
    </div>
  </div>
</div>
{% require_css %}
   <style>
   
    #hs_cos_wrapper_{{ name }}  .bgImgtxtImage {  
      {{ module.style.spacing_style.spacing_top_bottom.css }}
      }
      
  {% if module.section_content.top_image.src %}
  #hs_cos_wrapper_{{ name }} .bgImgtxtImage { background-image:url({{ module.section_content.top_image.src }});
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
 }
  {% endif %}
 .bgImgtxtImage { min-height:530px;   width: 100%; }
    {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { max-width:100%; width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .bgImgtxtflex { width:100%;  max-width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .bgImgtxtflex { width:100%; max-width:1240px; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .bgImgtxtflex { width:100%; max-width:1000px; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .bgImgtxtflex { width:100%; max-width:775px; margin: 0 auto; }
      
    {% endif %}
  
   
   #hs_cos_wrapper_{{ name }} .bgImgtxtImage .twocuImgtxtButton a { color:{{ module.style.content_style.button_text_color.color }}; }  
   #hs_cos_wrapper_{{ name }}  .bgImgtxtContent {color:rgba( {{ module.style.content_style.top_section_content.color|convert_rgb }},{{ module.style.content_style.top_section_content.opacity }}%); }
   #hs_cos_wrapper_{{ name }} .bgImgtxtContent h2 {color:rgba( {{ module.style.content_style.top_section_content.color|convert_rgb }},{{ module.style.content_style.top_section_content.opacity }}%) !important; }
   #hs_cos_wrapper_{{ name }} .bgImgtxtContent { background-color: rgba( {{ module.style.content_style.content_background_color.color|convert_rgb }},{{ module.style.content_style.content_background_color.opacity }}%); }
   #hs_cos_wrapper_{{ name }} .bgImgtxtContent{
   {{ module.style.spacing_style.content_padding.css }}
   }
      @media(max-width:992px){
    {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { max-width:100%;width:100%; }
      #hs_cos_wrapper_{{ name }} .bgImgtxtflex { width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .bgImgtxtflex { width:100%; max-width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .bgImgtxtflex { width:100%; max-width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .bgImgtxtflex { width:100%; width:100%; margin: 0 auto; }
    {% endif %}
      }
      

   @media(max-width:767px){
   
     #hs_cos_wrapper_{{ name }}  .bgImgtxtSection, #hs_cos_wrapper_{{ name }}  .bgImgtxtImage {
     {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}
     }
     {% if module.content.top_image.src %}
     .bgImgtxtImage { min-height: 300px; }
     {% endif %}
     #hs_cos_wrapper_{{ name }} .bgImgtxtContent{padding: 20px;}
   }

   </style>

{% end_require_css %}