<div class="blog-post_banner">
<div class="blog-post_banner_background"></div>
<div class="blog-wrapper">
<div class="blog-post_banner_image">
<a ahref="{{ content.absolute_url }}">
<img src="{{ content.featured_image }}" alt="{{ content.featured_image_alt_text }}" class="blog-banner-image">
</a>
</div>
</div>
</div>

{% require_css %}
<style>
.blog-post_banner_background {background-color:{{ module.style.background_color.color }};   height:300px;z-index:1; position:absolute; width:100%;}
.blog-post_banner_image {
padding-bottom:60px; position:relative; z-index:10;
    max-height: 350px;
    min-height: 350px;
    overflow: hidden;
}

img.blog-banner-image {
    object-fit: cover;
    max-width: 100%;
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

@media(max-width:992px) {
.blog-post_banner_background {
height:100px;
}

img.blog-banner-image {
    max-height: 200px;
}
.blog-post_banner_image {
    max-height: 200px;
    min-height: 200px;
}
}
</style>
{% end_require_css%}

