<div class="bliSliderSec fullwidth">
    <div class="wrapper">
        <div class="bliInner flexwrap">
           
            <div class="bliNavigation">
                {% for item in module.slider.slide %}
                <div class="bliHeading {% if loop.index == 1 %} {{'active'}} {%endif%}" data-index="{{loop.index}}" data-index="{{loop.index}}">
                    <div class="blIcon">
                       <svg width="16" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 188.37"><defs></defs><polygon class="cls-1" fill="#fff" points="131.11 172.09 89.51 172.82 124.2 115.55 16.42 115.55 16.91 72.78 124.96 73.02 90.24 16.24 131.84 15.51 183.28 93.42 131.11 172.09"></polygon></svg>
                    </div>
                    <div class="bliText">
                        {{ item.title }}
                    </div>
                </div>
                {% endfor %}
                <div class="bliIcons" style="background-image:url({{ module.bg_icon.src }});">
                
                </div>
            </div>
            <div class="bliSholder">
                <div class="bliSlides">
                    {% for item in module.slider.slide %}
                    <div class="bliSlide">
                     <div class="bliScInner">
                        <h3>{{ item.title }}</h3>
                        <div class="bliScontent">
                         {{ item.slide_content }}
               <div class="bliSButon">
                {% if item.button.select_cta_link == 'link' %}
                  <div class="bliSNor">
                  {% set href = item.button.button_link.url.href %}
                  {% if item.button.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                  {% endif %}
                  {% set rel = [] %}
                  {% if item.button.button_link.no_follow %}
                    {% do rel.append("nofollow") %}
                  {% endif %}
                  {% if item.button.button_link.open_in_new_tab %}
                    {% do rel.append("noopener") %}
                  {% endif %}
                  <a href="{{ href }}"
                    {% if item.button.button_link.open_in_new_tab %}target="_blank"{% endif %}
                    {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
                    >
                    {{ item.button.button_text }}
                  </a>
                  </div>
                {% elif item.button.select_cta_link == 'cta' %}  
                  <div class="bliSCta">
                  {% cta guid="{{ item.button.cta_field}}" %}
                  </div>
                 {% endif %}               
                </div>  
                 </div>
                </div>                             
             </div>
                    {% endfor %}
                </div>
               <div class="static-bliSButon">
                {% if module.static_button.select_cta_link == 'link' %}
                  <div class="static-bliSNor">
                  {% set href = module.static_button.button_link.url.href %}
                  {% if module.static_button.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                  {% endif %}
                  {% set rel = [] %}
                  {% if module.static_button.button_link.no_follow %}
                    {% do rel.append("nofollow") %}
                  {% endif %}
                  {% if module.static_button.button_link.open_in_new_tab %}
                    {% do rel.append("noopener") %}
                  {% endif %}
                  <a href="{{ href }}"
                    {% if module.static_button.button_link.open_in_new_tab %}target="_blank"{% endif %}
                    {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
                    >
                    {{ module.static_button.button_text }}
                  </a>
                  </div>
                {% elif module.static_button.select_cta_link == 'cta' %}  
                  <div class="static-bliSCta">
                  {% cta guid="{{ module.static_button.cta_field}}" %}
                  </div>
                 {% endif %}               
                </div>    
                
            </div>
        </div>
    </div>
   
</div>

{% require_js %}

   <script>
     $(document).ready(function(){
         let slick = $(".bliSlides").slick({
           arrows: false,
           draggable: false,
           swipe:false, 
           
        });

        $(".bliHeading").click(function(e) {
          let slideIndex = parseInt($(this).data('index')) - 1;
           $(".bliHeading.active").removeClass('active');
           $(this).addClass('active');
           slick.slick('slickGoTo', slideIndex)
        });
      
     
        
    });
      
   </script>

{% end_require_js %}


{% require_css %}
  <style>
  {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { max-width:100%;width:100%; margin: 0 auto;}
  #hs_cos_wrapper_{{ name }} .bliInner { width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .bliInner { width:100%; max-width:1240px; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .bgImgtxtflex { width:100%; max-width:1000px; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .bliInner { width:100%; max-width:775px; margin: 0 auto; }
  {% endif %}
  
     {% if  module.style.container_style.height_adjustment %}
    #hs_cos_wrapper_{{ name }} .bliScInner {
      min-height:{{ module.style.container_style.height_adjustment }}px;
    }
    {% endif %}
   #hs_cos_wrapper_{{ name }}  .bliSliderSec {
     {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}
     {% if module.style.background_style.select_background  == 'back_color' %}
     background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
     {% elif module.style.background_style.select_background  == 'back_image' %}
     {{ module.style.background_style.backgroundimage_field.css }}
     
     {% endif %}
     
   }
  
  #hs_cos_wrapper_{{ name }} .bliNavigation { 
   background-color:rgba({{ module.style.color_style.text_coontent_background_color.color|convert_rgb }},{{ module.style.color_style.text_coontent_background_color.opacity }}%);
  
  }
  .bliSholder { 
    background-color:rgba({{ module.style.color_style.slider_background_color.color|convert_rgb }},{{ module.style.color_style.slider_background_color.opacity }}%);
  }
  
  #hs_cos_wrapper_{{ name }} .bliText { color:{{ module.style.color_style.nav_title_color.color }}; }
  #hs_cos_wrapper_{{ name }} .blIcon svg polygon { fill:{{ module.style.color_style.navigation_title_arrows_color.color }}; }
  #hs_cos_wrapper_{{ name }} .bliSlide h3 { color:{{ module.style.color_style.slider_title_color.color }}; }
  
  #hs_cos_wrapper_{{ name }} .bliScontent, #hs_cos_wrapper_{{ name }} .bliScontent p { color:{{ module.style.color_style.text_content_color.color }}  !important; }
  #hs_cos_wrapper_{{ name }} .static-bliSButon {
    background-color:rgba({{ module.style.color_style.slider_button_background_color.color|convert_rgb }},{{ module.style.color_style.slider_button_background_color.opacity }}%);
    color:{{ module.style.color_style.slider_button_text_color.color }};
    
  }    
    
    #hs_cos_wrapper_{{ name }} .static-bliSButon a { color:{{ module.style.color_style.slider_button_text_color.color }}; }
    #hs_cos_wrapper_{{ name }} .static-bliSButon a:before { color:{{ module.style.color_style.button_arrows_color.color }};  }
    
  @media(max-width:767px){
  
  #hs_cos_wrapper_{{ name }}  .bliSliderSec {
     {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}
   
   }
  
  }
  
  @media(max-width:992px){
  {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { max-width:100%; width:100%;  margin: 0 auto;}
  #hs_cos_wrapper_{{ name }} .bliInner { width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .bliInner { width:100%; max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
  #hs_cos_wrapper_{{ name }} .bgImgtxtflex {width:100%;  max-width:100%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .bliInner { width:100%; max-width:100%; margin: 0 auto; }
  {% endif %}
        
        }
  
  </style>

{% end_require_css %}











