.bliNavigation { width: 40%; position: relative; padding: 60px 100px; }
.bliSholder { width: 60%;  position: relative; /*padding-bottom: 66px;*/ }
.bliScInner { padding: 40px 100px 20px 30px; }  
.blIcon { position: absolute;    top: 0;    left: 0;    transition: all ease-in-out .3s;    opacity: 0;    visibility: hidden; }
.bliHeading.active { padding-left: 25px; } 
.bliHeading.active .blIcon  { opacity: 1;    visibility: visible; }
.bliHeading.active .bliText { color:#ff8300 !important; }
.blIcon svg polygon { fill: #fff; }
.bliText { font-size: 18px;  color: #fff;transition: all ease-in-out .3s; }
.bliText:hover {color: #ff8300 !important;}
.bliHeading { font-family: "Noto Sans",sans-serif;    margin: 0px 0 20px;cursor: pointer;    position: relative;    transition: all ease-in-out .3s; }

.row-fluid .bliSlide h3 { font-weight: 600;font-family: "Noto Sans",sans-serif !important; }
.bliSButon { width: 100%; /*position: absolute; bottom: 0;*/ }
.bliSButon a  { padding: 50px 0px; position:relative;font-family: 'freight-sans-pro' !important;text-transform:uppercase;    font-weight: 700;   box-sizing: border-box !important;background: linear-gradient(to left, #ff8300 50%, #222 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.bliSButon a:hover {background-position:left; }
.bliSButon a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 49%;    transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #222;   transition: all ease-in-out .3s;background: linear-gradient(to right, #222, #002e6d 50%, #222 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.bliIcons { position: absolute;    bottom: 5px;    right: 5px;    width: 50%;    height: 50%;        background-repeat: repeat;    background-size: auto;    background-size: contain;    background-position: center;    background-repeat: no-repeat;    opacity: 1;    mix-blend-mode: overlay; }
.bliSButon a:hover:before { opacity: 1; visibility: visible; right:-25px;background-position:0; }

.static-bliSButon { width: 100%;position: absolute; bottom: 0; }
.static-bliSButon a  { padding: 50px 30px; position:relative;font-family: 'freight-sans-pro' !important;text-transform:uppercase;    font-weight: 700;   box-sizing: border-box !important; }
.static-bliSButon a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%;    transform: translateY(-50%);    right: 8px;    font-family: fontawesome;    color: #222;   transition: all ease-in-out .3s; }
.static-bliSButon a:hover:before { opacity: 1; visibility: visible; right:3px; }

.static-bliSButon a  { padding: 50px 0px 50px 30px; position:relative;font-family: 'freight-sans-pro' !important;text-transform:uppercase;    font-weight: 700;   box-sizing: border-box !important;background: linear-gradient(to left, #fff 50%, #222 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.static-bliSButon a:hover {background-position:left; }
.static-bliSButon a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 49%;    transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #222;   transition: all ease-in-out .3s;background: linear-gradient(to right, #222, #002e6d 50%, #222 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.static-bliSButon a:hover:before { opacity: 1; visibility: visible; right:-25px;background-position:0; }


.bliText { font-family: "Noto Sans",sans-serif !important;}
.bliScInner h3 { font-family: "Noto Sans",sans-serif !important;}
@media(max-width:991px){
 .bliNavigation { width: 100%; padding: 40px 30px; }
 .bliSholder { width: 100%; padding: 0;  }
 .bliSButon, .static-bliSButon  { position: static; }
 
 
 
}

@media(max-width:767px){
 .bliSButon a, .static-bliSButon a  { font-size: 14px;    line-height: 18px;    text-align: left;     }
 .bliSButon a span, .static-bliSButon a span { text-overflow: ellipsis;    overflow: hidden;    max-width: 300px !important; }
  .bliText { font-size: 16px; }
  .bliSButon a:before, .static-bliSButon a:before { right: 10px; }      
    
}


