    .heroSectionHome { position: relative; padding: 140px 0 190px;    background-repeat: no-repeat;    background-position: center top;    background-size: cover; }
.heroSectionHome .wrapper { width: 100% !important; max-width: 775px !important; margin:0 auto; }

.row-fluid .heroTitle h1 { text-align: center;    color: #fff;    font-size: 48px;    line-height: 1.1;    text-transform: uppercase; font-weight:500;  }
    .row-fluid .heroTitle h1 span.txt-rotate { color: #FF8300; min-height:62px; font-size: 60px; font-weight: 700; }
    .heroText, .heroText p { color: #fff !important;    font-size: 22px; line-height:28px;    text-align: center; }
    .heroText p:last-child { margin:0; }    
    .heroButtons a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%; transform: translateY(-50%);    right: -15px;    font-family: fontawesome;    color: #fff;   transition: all ease-in-out .3s; background: linear-gradient(to right, #fff, #fff 50%, #fff 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
    .heroButtons a:hover:before { opacity: 1;    visibility: visible; right:-20px;background-position:left; }
    .heroButtons a { font-size: 16px;    line-height: normal;    font-family: 'freight-sans-pro' !important;    text-transform: uppercase;    font-weight: 700;    margin: 20px 0 0;    position: relative;    padding: 0 10px;background: linear-gradient(to left, #ff8300 50%, #fff 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
    .heroButtons a:hover {     background-position: left; }
    .heroVideo video, .heroVideo iframe { width: 100%;    height: 100%;    object-fit: cover; }
    .heroVideo { position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%;  overflow: hidden; }
    .heroInner { position: relative; z-index: 99; }
    .heroSection:before { content: "";    background-color: rgba(0, 0, 0,10%);    position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%;    z-index: 9; }  
    .heroVideo .vidyard-player-container, .heroVideo .vidyard-player-container>div>div, .heroVideo .vidyard-player-container>div { max-width: 100% !important;    max-height: inherit !important; height: 100% !important; }
    .heroVideo > div { height: 100%; }
    
    @media(max-width:1200px){
      .heroVideo > div { transform: scale(1.5); }
    }
     @media(max-width:991px){
      .heroVideo > div { transform: scale(2); }
    }
    
    @media(max-width:767px){
    
      .row-fluid .heroTitle h1 { font-size: 38px; }
      .heroText, .heroText p { font-size: 18px; }
     .heroInner { max-width: 100% !important; }
     .heroVideo > div  { transform: scale(2.6);  }  
     
     
    }
    
     @media(max-width:415px){
     .heroVideo>div { transform: scale(3); }
     
     
    }
    @media(max-width:369px){
     .heroVideo>div { transform: scale(3.9); }
     
     
    }
    
    
    
    
    