<div class="dividerSection fullwidth">
  <div class="wrapper">
    <div class="dividerInner">
    {% if module.select_border_or_image == 'border' %}
      <div class="divBorder"> </div>
   {% elif module.select_border_or_image == 'image' %}
      <div class="divImage">
      {% if module.image_field.src %}
      {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}"' %}
      {% if module.image_field.size_type == 'auto' %}
        {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
      {% elif module.image_field.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.image_field.max_width }}" height="{{ module.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
       {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
      <img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
    {% endif %}
      
      </div>
    {% endif %}  
    </div>
  </div>
</div>








{% require_css %}
  <style>
  {% if module.style.container_style.select_container_sizes == 'wide' %}
  #hs_cos_wrapper_{{ name }} .wrapper { max-width:100%; padding:0; }
  #hs_cos_wrapper_{{ name }} .dividerInner { width:{{ module.style.container_style.add_inner_content_width }}%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'normal' %}
  #hs_cos_wrapper_{{ name }} .dividerInner { width:{{ module.style.container_style.add_inner_content_width }}%; margin: 0 auto; }
  {% elif module.style.container_style.select_container_sizes == 'narrow' %}
  #hs_cos_wrapper_{{ name }} .dividerInner { width:{{ module.style.container_style.add_inner_content_width }}%; margin: 0 auto; }
  
  {% endif %}
  
   #hs_cos_wrapper_{{ name }}  .dividerSection {
     {{ module.style.spacing_style.spacing_top_bottom_desktop_.css }}
     {% if module.style.background_style.select_background  == 'back_color' %}
     background-color:rgba({{ module.style.background_style.background_color.color|convert_rgb }},{{ module.style.background_style.background_color.opacity }}%);
     {% elif module.style.background_style.select_background  == 'back_image' %}
     {{ module.style.background_style.backgroundimage_field.css }}
     
     {% endif %}
     
   }
  
  #hs_cos_wrapper_{{ name }} .divBorder { border-top-width: {{ module.border_size }}px; border-color: {{ module.border_color.color }}; border-style: solid; border-bottom: none; border-right: none; border-left: none;  }
 
    
    
    
    
  @media(max-width:767px){
  
  #hs_cos_wrapper_{{ name }}  .dividerSection {
     {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}
   
   }
  
  }
  
  </style>

{% end_require_css %}











