.ocpInner { padding: 40px 0; }
.ocpButton a:hover {    color: #ff8300; }
.ocpButton a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 50%; transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #222;   transition: all ease-in-out .3s; }
.ocpButton a:hover:before { opacity: 1;    visibility: visible; right:-30px; }
.ocpButton a { color: #fff;    font-family: 'freight-sans-pro' !important;    position: relative;    font-weight: 700;       text-transform: uppercase; }
.ocpButton { margin: 20px 0 0; }
.row-fluid .ocpInner h3 { font-weight: 600; font-size: 28px; line-height: 38px; }

.ocpButton a  { padding: 50px 0px; position:relative;font-family: 'freight-sans-pro' !important;text-transform:uppercase;    font-weight: 700;   box-sizing: border-box !important;background: linear-gradient(to left, #fff 50%, #222 50%) right; background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.ocpButton a:hover {background-position:left; }
.ocpButton a:before { content: "\f061"; font-weight: 400;    position: absolute;    top: 49%;    transform: translateY(-50%);    right: -20px;    font-family: fontawesome;    color: #222;   transition: all ease-in-out .3s;background: linear-gradient(to right, #222, #002e6d 50%, #222 50%); background-size: 200%;  background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.ocpButton a:hover:before { opacity: 1; visibility: visible; right:-25px;background-position:0; }


@media(max-width:767px){
 .ocpInner { padding: 20px 0; }
 


}