<div class="ocptImage fullwidth"></div>
<div class="ocpSection fullwidth">
  <div class="wrapper">
  
    <div class="ocpInner">
      <h3>{{ module.content.sub_title }}</h3>
      <h2>{{ module.content.title }}</h2>
      
      <div class="ocpText">
      {{ module.content.sub_text }}
      </div>
      <div class="ocpButton">
       {% set href = module.content.button_link.url.href %}
        {% if module.content.button_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}
        {% set rel = [] %}
        {% if module.content.button_link.no_follow %}
          {% do rel.append("nofollow") %}
        {% endif %}
        {% if module.content.button_link.open_in_new_tab %}
          {% do rel.append("noopener") %}
        {% endif %}
        <a href="{{ href }}"
          {% if module.content.button_link.open_in_new_tab %}target="_blank"{% endif %}
          {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
          >
          {{ module.content.button_text }}
        </a>
      </div>
    </div>
  </div>
</div>
{% require_css %}
   <style>
   
    #hs_cos_wrapper_{{ name }}  .ocpSection {  
      {{ module.style.spacing_style.spacing_top_bottom.css }}
      
      {% if module.background_style.background_options == 'back_image' %}
       background-image:url({{ module.background_style.background_image.src }});
       {% if module.background_style.parallax_on_off %}
        background-attachment: fixed;
        {% endif %}
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      {% elif module.background_style.background_options == 'back_color' %}
       background-color:rgba({{ module.background_style.background_color.color|convert_rgb }},{{ module.background_style.background_color.opacity }}%);
      {% endif %}
      
      

  }
  {% if module.content.top_image.src %}
  #hs_cos_wrapper_{{ name }} .ocptImage { background-image:url({{ module.content.top_image.src }});
        {% if module.content.top_image_parallax_on_off %}
        background-attachment: fixed;
        {% endif %}
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

 }
 
 .ocptImage { min-height: 500px;   width: 100%; }
 
 {% endif %}
   #hs_cos_wrapper_{{ name }} .ocpInner { background-color:rgba({{ module.style.content_style.content_background_color.color|convert_rgb }},{{ module.style.content_style.content_background_color.opacity }}%); }   
   #hs_cos_wrapper_{{ name }} .ocpInner h2 { color:{{ module.style.content_style.title_color.color }}; }
   #hs_cos_wrapper_{{ name }} .ocpInner h3 { color:{{ module.style.content_style.sub_title_color.color }}; }
   #hs_cos_wrapper_{{ name }} .ocpInner .ocpText, #hs_cos_wrapper_{{ name }} .ocpInner .ocpText p { color:{{ module.style.content_style.sub_text_color.color }} !important; }
   #hs_cos_wrapper_{{ name }} .ocpInner .ocpButton a { color:{{ module.style.content_style.button_text_color.color }}; }  
   #hs_cos_wrapper_{{ name }} .ocpInner .ocpButton a:before {  color:rgba( {{ module.style.content_style.button_arrows_color.color|convert_rgb }},{{ module.style.content_style.button_arrows_color.opacity }}%); }
   
   
    {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { max-width:100%;width:100%; margin: 0 auto; }
      #hs_cos_wrapper_{{ name }} .ocpInner { width:100%; max-width:100%;  margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .ocpInner { width:100%; max-width:1240px; margin: 0 auto; }
        {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .ocpInner { width:100%; max-width:1000px; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .ocpInner { width:100%; max-width:775px; margin: 0 auto; }
      {% endif %}
      
          @media(max-width:992px){
          {% if module.style.container_style.select_container_sizes == 'wide' %}
      #hs_cos_wrapper_{{ name }} .wrapper { max-width:100%; width:100%; margin: 0 auto;}
      #hs_cos_wrapper_{{ name }} .ocpInner { max-width:100%; width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'normal' %}
      #hs_cos_wrapper_{{ name }} .ocpInner { width:100%; max-width:100%; margin: 0 auto; }
        {% elif module.style.container_style.select_container_sizes == 'semi_narrow' %}
      #hs_cos_wrapper_{{ name }} .ocpInner { width:100%; max-width:100%; margin: 0 auto; }
      {% elif module.style.container_style.select_container_sizes == 'narrow' %}
      #hs_cos_wrapper_{{ name }} .ocpInner { width:100%; max-width:100%; margin: 0 auto; }
      {% endif %}
          }
   
   @media(max-width:767px){
     #hs_cos_wrapper_{{ name }}  .ocpSection {
     {{ module.style.spacing_style.spacing_top_bottom_mobile_.css }}
     
     }
   {% if module.content.top_image.src %}
   .ocptImage { min-height: 300px; }
   
   {% endif %}
   
   }
   
   </style>

{% end_require_css %}